/*** Profile page ***/
.profile-type-is-community .action-profile-index #content .main-block h1 {
  color: #172738;
  border-bottom: none;
  font-size: 2.3em;
  font-weight: bold;
  font-variant: normal;
  font-family: Arial, open_sansbold, Helvetica, sans-serif;
}

/*** Profile info block***/

#content .profile-image-block .admin-link a{
  color: #2c66ce;
}

#content .profile-image-block .profile-info-options{
  padding-right: 0;
  text-align: center;
}

#content .profile-image-block .profile-info-options a.button.with-text{
  font-size: 11px;
}

/* Search form - need to develop solution - hidden on profile page*/
.profile-type-is-community .action-profile-index #public-profile-search{
  display: none;
}

.action-profile-index .main-block #public-profile-search, 
.action-profile-index .main-block #profile-search-results form, 
.action-profile-index .main-block .profile-search-block form {
  background-color: transparent;
}

.action-profile-index .main-block #public-profile-search .search-field .formfield {
  float: left;
  margin-right: 0.5em;
}

.action-profile-index .main-block #public-profile-search .search-field .formfield input {
  margin-top: 0px;
  margin-right: 0.5em;
  padding: 6px;
  height: 19px;
  max-height: 19px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.action-profile-index .main-block #public-profile-search .formfield input, 
.action-profile-index .main-block #public-profile-search .formfield textarea{
  width: 100%;
  background: none #FFFFFF;
  color: #585858;
  border: 1px solid #DDDDDD;
  font-size: 16px;
  word-wrap: break-word;
}

.action-profile-index .main-block #public-profile-search form input.button.submit {
  height: 32px;
  margin-top: 8px;
  padding: 5px 15px;
  color: #ffffff;
  background: #2B51A8;
  border-radius: 4px;
  border: 1px solid #2B51A8;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

/* Profile tab */
.profile-type-is-community .action-profile-index table.profile{
  display: none;
}

.action-profile-index .main-block .profile .ui-tabs{
  border: none;
}

.action-profile-index .main-block .profile .ui-tabs .ui-tabs-nav{
  margin: 0 0 0 1em;
  padding: 0;
  background: none;
  color: #172738;
  border: 0px solid #aaaaaa;
  border-radius: 4px;
  font-weight: bold;
}

.action-profile-index .main-block .profile .ui-widget-content .ui-state-default, 
.action-profile-index .main-block .profile .ui-widget-header .ui-state-default{
  background: #d5d5d5 none;
  color: #555555;
  font-weight: normal;
}

.action-profile-index .main-block .profile .ui-widget-content .ui-state-active, 
.action-profile-index .main-block .profile .ui-widget-header .ui-state-active{
  background: #eeeff1;
  color: #212121;
  font-weight: normal;
}

.action-profile-index .main-block .profile .ui-tabs .ui-tabs-panel{
  display: block;
  padding: 1em 1.4em;
  background-color: #eeeff1;
  color: #777;
  border-width: 1px;
  font-size: 13px;
  text-decoration: none;
}

/* Software Tab Data - Need to develop solution - Only display on profile page */

.profile-type-is-community #content .software-tab-data-block{
  display: none;
}

.profile-type-is-community .action-profile-index #content .software-tab-data-block{
  display: block;
}

/*Members Page*/

/*Select area*/

.action-profile-members #profile-members-sort-options{
  font-size: 14px;
  text-align: right;
  margin:16px 15px 17px 6px;
  border-bottom: 1px solid #ECEDF1;
  padding-bottom:8px;
}

.action-profile-members #profile-members-sort-options label{
  font-weight: 700;
  color:#172738;
}

.action-profile-members #profile-members-sort-options select{
  background: none;
  border: 1px solid #D3D6DE;
  border-radius: 4px;
  padding: 4px 15px 4px 4px;
  margin: 0px 0px 0px 10px;
  font-size: 14px;
}
/*end of select*/

.action-profile-members .profile-members{
  padding-left: 5px; /*34px;*/
}

.action-profile-members .profile-admins{
  padding-left: 5px;
}

/* Image area*/
.action-profile-members .box-1 .common-profile-list-block span{
  margin-right: 9px;
  width: 90px;
  height: 86px;
}
.action-profile-members .common-profile-list-block img{
  border-radius: 4px;
  width: 82px;
  height: 82px;
  max-width: 150px;
  max-height: 150px;
}

/*Image hover and informations*/
.action-profile-members .common-profile-list-block .vcard{
  border:none;
}

.action-profile-members .common-profile-list-block .vcard:hover{
  border:none;
  background:none;
}

.action-profile-members .menu-submenu{
  background:#172738;
  border-radius: 4px;
  /***side block position***/
  bottom:0px;
  right: 105%;
  width: 131px;
  height: 178px;
  box-shadow: 2px 2px 2px #ECEDF1;
  -webkit-box-shadow: 2px 2px 2px #ECEDF1;
  -moz-box-shadow: 2px 2px 2px #ECEDF1;
}

.action-profile-members .menu-submenu.down::before {
  content:"\f0da";
  color:#172738;
  font-family: FontAwesome;
  font-size: 25px;
  float: right;
  position: relative;
  margin:-7px;
  margin-top: 30%;
}

.action-profile-members .menu-submenu-header,
.action-profile-members .menu-submenu-content,
.action-profile-members .menu-submenu-footer{
  background:none;
}

.action-profile-members .menu-submenu-header,
.action-profile-members .menu-submenu-footer{
  display: none;
}

.action-profile-members .menu-submenu-content{
  height: 100%;
}

.action-profile-members #content .menu-submenu-content h4{
  color:#fff;
  font-size: 13px;
  background:#243F59;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 2px solid #FF0366;
  text-transform: uppercase;
  padding:8px 7px 10px 6px;
  margin:0px 0px 2px 0px;
  text-align: center;
  max-height: 16px;
  overflow: hidden;
}

.action-profile-members #content .menu-submenu-content ul a{
  padding-left: 0px;
}

.action-profile-members #content .menu-submenu-content .menu-submenu-list .add-friend::before{
  content:"\f067";
  font-family: FontAwesome;
  color:#FF0366;
  font-size: 11px;
  padding-right: 6px;
}

.action-profile-members #content .menu-submenu-content .menu-submenu-list .add-friend:last-child{
  border-bottom:none;
}

.action-profile-members #content .menu-submenu-content .menu-submenu-list li a {
  color:#fff;
  font-family: Arial;
  font-size: 14px;
  border-bottom:1px dotted #2C4B6B;
  text-align: center;
  padding-top:8px;
  padding-bottom:10px;
  margin-right: 1px;
}

.action-profile-members .box-1 .common-profile-list-block span{
  margin-right: 9px;
  width: 90px;
  height: 86px;
}

.action-profile-members .common-profile-list-block .vcard .menu-submenu-trigger{
  display: block;
  background:#172738;
  top:5px;
  left:4px;
  border:1px solid #172738;
  padding-bottom: 0px;
  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  height: 15px;
}

.action-profile-members .common-profile-list-block .vcard .menu-submenu-trigger::before{
  content:"\f053";
  color:#fff;
  font-family: FontAwesome;
  font-size: 10px;
  line-height: 11px;
}

.action-profile-members .common-profile-list-block .vcard a{
  padding-bottom: 30px;
}

.action-profile-members .box-1 .common-profile-list-block .fn{
  font-size: 14px;
  color:#172738;
  margin-bottom: 27px;
  margin-top:2px;
  height: 35px;
  max-height: 35px;
  overflow: hidden;
}

/************************************************************/
/*****title of the area members******/
.action-profile-members #content .page-members-header{
  font-family: Arial;
  border-bottom: 1px solid #D3D6DE;
  margin-bottom: 45px;
  padding-bottom: 26px;
  background-image: url("titulo.png");

}

.action-profile-members #content .page-members-header h1{
  margin:20px 0px 8px 0px;
}

.action-profile-members #content .page-members-header h3.community-name-members{
  font-size: 14px;
  font-weight: 600;
  margin:0px 0px 5px 0px;
}

.action-profile-members  #content .page-members-header a.button.with-text{
  border:1px solid #ccc;
  text-transform: none;
  font-size: 12px;
  padding:3px 15px;
}

.action-profile-members  .page-members-header .join-leave-button.require-login-popup{
  float:left;
  margin-right: 4px;
}

/*************************************/

/*Members block*/

#content .members-block{
  border:1px solid #D3D6DE !important;
  border-radius: 4px;
}

#content .members-block .block-title{
  background-color:#ECEDF1;
  border-bottom:1px solid #D3D6DE;
  border-top:none;
  color:#172738;
  font-size:14px;
  padding:12px;
  margin-bottom:12px;
}

.members-block .block-footer-content{
  background-color:#ECEDF1;
  padding:8px 10px 15px 0px;
  margin-right:0px; 
  border-top:1px solid #D3D6DE;
  text-align: right;
}

#content .members-block .block-footer-content a{
  padding-right: 0px !important;
}

#content .members-block .block-footer-content a.view-all{
  background-image:none;
  border:none;
  text-transform: uppercase;
  line-height: 21px;
}

#content .members-block .block-footer-content a.view-all::after{
  content:"\f105";
  font-family: FontAwesome;
  padding-left: 7px;
  padding-right: 4px;
  color:#ffffff;
  background: #3E67B1;
  border-radius: 4px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.members-block .common-profile-list-block .vcard{
  border:none;
}
.members-block .common-profile-list-block .vcard:hover{
  border:none;
  background:none;
}

#content .members-block .common-profile-list-block .vcard li a{
  color:#172738;
}

.members-block .menu-submenu{
  background:#172738;
  border-radius: 4px;
  /***side block position***/
  bottom:-29px; 
  right: 100%;
  width: 131px;
  height: 176px;
  box-shadow: 2px 2px 2px #ECEDF1;
  -webkit-box-shadow: 2px 2px 2px #ECEDF1;
  -moz-box-shadow: 2px 2px 2px #ECEDF1;
}

.members-block .menu-submenu.down::before{
  content:"\f0da";
  color:#172738;
  font-family: FontAwesome;
  font-size:25px;
  float:right;
  position:relative;
  margin:-7px;
  margin-top:30%;
}

.members-block .menu-submenu-header,
.members-block .menu-submenu-content,
.members-block .menu-submenu-footer{
  background:none;
}

.members-block .menu-submenu-header,
.members-block .menu-submenu-footer{
  display: none;
}
.members-block .menu-submenu-content{
  height:100%;
}

#content .members-block .common-profile-list-block li{
  margin:0px !important;
}

.members-block .common-profile-list-block .vcard .menu-submenu-trigger{
  display: block;
  background:#172738;
  top:2px;
  left:3px;
  border:1px solid #fff;
  padding-bottom: 0px;
  opacity: 0.7;
  height: 13px;
}

.members-block .common-profile-list-block .vcard .menu-submenu-trigger::before{
  content:"\f053";
  color:#fff;
  font-family: FontAwesome;
  font-size: 8px; 
  line-height: 11px; 
}

#content .members-block .common-profile-list-block .fn {
  margin-top:2px;
  color:#172738;
}

#content .members-block .menu-submenu-content h4{
  color: #fff;
  font-family: Arial;
  font-size: 13px;
  background:#243F59;
  border-bottom: 2px solid #FF0366;
  text-transform: uppercase;
  padding:8px 7px 10px 6px;
  margin:0px 0px 2px 0px;
  text-align: center;
  max-height: 16px;
  overflow: hidden;
}

#content .friends-block ul, #content .members-block ul {
min-width: 196px;
width: 192px;
margin: 0px 0px 0px 0px;
padding: 0px;
}

#content .members-block .menu-submenu-content .menu-submenu-list li a{
  color:#fff;
  border-bottom:1px dotted #2C4B6B;
  text-align: center;
}

#content .members-block .menu-submenu-content h4:hover,
#content .members-block .menu-submenu-content .menu-submenu-list li a:hover{
  color:#ECEDF1;
}

.members-block .common-profile-list-block img{
  border-radius: 4px;
  max-height:50px; 
  max-width:50px;
  width: 50px;
  height: 50px;
}

.members-block .block-footer-content a.view-all{
  position:relative;
}

/*****************************************************/


/*** Events ***/

#content .article-body-event .event-card{
  border-top: 1px dotted #D3D6D3;
  background-repeat: no-repeat;
  width: 494px;
  height: 116px;
  margin-bottom: 30px;
}

#content .article-body-event .event-image{
  border-right: 1px dotted #D3D6DE;
}

#content .article-body-event .about-event > span{
  font-family: Arial;
  line-height: 13px;
}

#content .article-body-event .about-event .event-date{
  font-weight: bold;
  letter-spacing: 0.49px;
}

#content .article-body-event .about-event .event-address{
  margin-top: 19px;
}

#content .article-body-event .about-event .event-address span{
  margin-top: 4.4px;
  line-height: 14px;
  letter-spacing: 0.5px;
}

#content .article-body-event .event-link{
  letter-spacing: 0.48px;
}

#content .article-body-event .event-link a{
  text-decoration: underline;
}

#content .article-body-event .event-body .event-lead p{
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 21px;
}

#content .article-body-event .event-body .event-content p{
  font-size: 15px;
  font-family: Arial;
  line-height: 22px;
}
