/*** Events ***/

#content .event-card {
  border-top: 1px dotted #D3D6D3;
  background-repeat: no-repeat;
  width: 494px;
  height: 116px;
  margin-bottom: 30px;
}

#content .event-image {
  border-right: 1px dotted #D3D6DE;
}

#content .about-event > span {
  font-family: Arial;
  line-height: 13px;
}

#content  .about-event .event-date {
  font-weight: bold;
  letter-spacing: 0.49px;
}

#content  .about-event .event-address {
  margin-top: 19px;
}

#content  .about-event .event-address span {
  margin-top: 4.4px;
  line-height: 14px;
  letter-spacing: 0.5px;
}

#content  .event-link {
  letter-spacing: 0.48px;
}

#content .event-link a {
  text-decoration: underline;
}

#content .event-body .event-lead p {
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 21px;
}

#content .event-body .event-content p {
  font-size: 15px;
  font-family: Arial;
  line-height: 22px;
}

/*** Profile page ***/
.action-profile-index #content .main-block h1 {
  color: #172738;
  border-bottom: none;
  font-size: 2.3em;
  font-weight: bold;
  font-variant: normal;
  font-family: Arial, open_sansbold, Helvetica, sans-serif;
}

/* Search form */

.action-profile-index .main-block #public-profile-search, 
.action-profile-index .main-block #profile-search-results form, 
.action-profile-index .main-block .profile-search-block form {
  background-color: transparent;
}

.action-profile-index .main-block #public-profile-search .search-field .formfield {
  float: left;
  margin-right: 0.5em;
}

.action-profile-index .main-block #public-profile-search .search-field .formfield input {
  margin-top: 0px;
  margin-right: 0.5em;
  padding: 6px;
  height: 19px;
  max-height: 19px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.action-profile-index .main-block #public-profile-search .formfield input, 
.action-profile-index .main-block #public-profile-search .formfield textarea{
  width: 100%;
  background: none #FFFFFF;
  color: #585858;
  border: 1px solid #DDDDDD;
  font-size: 16px;
  word-wrap: break-word;
}

.action-profile-index .main-block #public-profile-search form input.button.submit {
  height: 32px;
  background: #2B51A8;
  font-size: 14px;
  margin-top: 8px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #2B51A8;
  padding: 5px 15px;
}

/* Profile tab */

.action-profile-index .main-block .profile .ui-tabs{
  border: none;
}

.action-profile-index .main-block .profile .ui-tabs .ui-tabs-nav{
  margin: 0 0 0 1em;
  padding: 0;
  background: none;
  color: #172738;
  border: 0px solid #aaaaaa;
  border-radius: 4px;
  font-weight: bold;
}

.action-profile-index .main-block .profile .ui-widget-content .ui-state-default, 
.action-profile-index .main-block .profile .ui-widget-header .ui-state-default{
  background: #d5d5d5 none;
  color: #555555;
  font-weight: normal;
}

.action-profile-index .main-block .profile .ui-widget-content .ui-state-active, 
.action-profile-index .main-block .profile .ui-widget-header .ui-state-active{
  background: #eeeff1;
  color: #212121;
  font-weight: normal;
}

.action-profile-index .main-block .profile .ui-tabs .ui-tabs-panel{
  display: block;
  padding: 1em 1.4em;
  background-color: #eeeff1;
  color: #777;
  border-width: 1px;
  font-size: 13px;
  text-decoration: none;
}

/*Members Page*/

/*area do select*/

.action-profile-members #profile-members-sort-options{
  font-size: 14px;
  text-align: right;
  margin:16px 15px 17px 6px;
  border-bottom: 1px solid #ECEDF1;
  padding-bottom:8px;
}

.action-profile-members #profile-members-sort-options label{
  font-weight: 700;
  color:#172738;

.action-profile-members #profile-members-sort-options select{
  background: none;
  border: 1px solid #D3D6DE;
  border-radius: 4px;
  padding: 4px 15px 4px 4px;
  margin: 0px 0px 0px 10px;
  font-size: 14px;
}
/*fim select*/

.action-profile-members .profile-members{
  padding-left: 5px; /*34px;*/
}
.action-profile-members .profile-admins{
  padding-left: 5px;
}

/*area da imagem*/
.action-profile-members .box-1 .common-profile-list-block span{
  margin-right: 9px;
  width: 90px;
  height: 86px;
}
.action-profile-members .common-profile-list-block img{
  border-radius: 4px;
  width: 82px;
  height: 82px;
  max-width: 150px;
  max-height: 150px;
}
/*hover da imagem e informacoes da aba*/
.action-profile-members .common-profile-list-block .vcard{
  border:none;
}

.action-profile-members .common-profile-list-block .vcard:hover{
  border:none;
  background:none;
}

.action-profile-members .menu-submenu{
  background:#172738;
  border-radius: 4px;
  /***posicionamento do bloco na lateral***/
  bottom:0px; /*-66px; 0px;*/
  right: 105%;
  width: 131px;
  height: 171px;
}
.action-profile-members .menu-submenu.down::before {
  content:"\f0da";
  color:#172738;
  font-family: FontAwesome;
  font-size: 25px;
  float: right;
  position: relative;
  margin:-7px;
  margin-top: 30%; /*3px /65%;*/
}

.action-profile-members .menu-submenu-header,
.action-profile-members .menu-submenu-content,
.action-profile-members .menu-submenu-footer{
  background:none;
}

.action-profile-members .menu-submenu-header,
.action-profile-members .menu-submenu-footer{
  display: none;
}

.action-profile-members .menu-submenu-content{
  height: 100%;
}

.action-profile-members #content .menu-submenu-content h4{
  color:#fff;
  background:#243F59;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 2px solid #FF0366;
  text-transform: uppercase;
  padding:6px 6px 10px 6px;
  margin:2px 0px 2px 0px;
  text-align: center;
  max-height: 16px;
  overflow: hidden;
}

.action-profile-members #content .menu-submenu-content ul a{
  padding-left: 0px;
}

.action-profile-members #content .menu-submenu-content .menu-submenu-list .add-friend::before{
  content:"\f067";
  font-family: FontAwesome;
  color:#FF0366;
  font-size: 16px;
  padding-right: 6px;
}

.action-profile-members #content .menu-submenu-content .menu-submenu-list .add-friend:last-child{
  border-bottom:none;
}

.action-profile-members #content .menu-submenu-content .menu-submenu-list li a {
  color:#fff;
  border-bottom:1px dotted #2C4B6B;
  text-align: center;
  padding-top:8px;
  padding-bottom:10px;
  margin-right: 1px;
}

/*.action-profile-members #content .menu-submenu-content h4:hover,
.action-profile-members #content .menu-submenu-content .menu-submenu-list li a:hover{
  color:#ECEDF1;
  background-color:#172738;
}*/

.action-profile-members .box-1 .common-profile-list-block span{
  margin-right: 9px;
  width: 90px;
  height: 86px;
}

.action-profile-members .common-profile-list-block .vcard .menu-submenu-trigger{
  display: block;
  background:#172738;
  top:5px;
  left:4px;
  border:1px solid #172738;
  padding-bottom: 0px;
  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

.action-profile-members .common-profile-list-block .vcard .menu-submenu-trigger::before{
  content:"\f053";
  color:#fff;
  font-family: FontAwesome;
  font-size: 10px;
  line-height: 13px;
}

/*.action-profile-members #content .common-profile-list-block .vcard li a{
  color:#172738;
}*/

.action-profile-members .common-profile-list-block .vcard a{
  /*height: 145px;
  max-height: 150px;*/
  padding-bottom: 30px;
}

/*.action-profile-members .comment-actions .vcard a{
  height: 150px;
  max-height: 150px;
}*/

.action-profile-members .box-1 .common-profile-list-block .fn{
  font-size: 14px;
  color:#172738;
  margin-bottom: 27px;
  margin-top:2px;
  height: 35px;
  max-height: 35px;
  overflow: hidden;
}

/************************************************************/

/*Members block*/

#content .members-block{
  border:1px solid #D3D6DE !important;
  border-radius: 4px;
}
#content .members-block .block-title{
  background-color:#ECEDF1;
  border-bottom:1px solid #D3D6DE;
  border-top:none;
  color:#172738;
  font-size:14px;
  padding:12px;
  margin-bottom:12px;
}

.members-block .block-footer-content{
  background-color:#ECEDF1;
  padding:8px 10px 15px 0px;
  margin-right:0px; 
  border-top:1px solid #D3D6DE;
  text-align: right;
}
#content .members-block .block-footer-content a{
  padding-right: 0px !important;
}

#content .members-block .block-footer-content a.view-all{
  background-image:none;
  border:none;
  text-transform: uppercase;
  line-height: 21px;
}
#content .members-block .block-footer-content a.view-all::after{
content:"\f105";
font-family: FontAwesome;
/*content: url("images/left-arrow.png");*/
padding-left: 7px;
padding-right: 4px;
color:#ffffff;
background: #3E67B1;
border-radius: 4px;
font-size: 18px;
line-height: 20px;
text-align: center;
margin-left: 5px;
position: relative;
top: 2px;
/*margin-right:0px;*/
}

.members-block .common-profile-list-block .vcard{
  border:none;
}
.members-block .common-profile-list-block .vcard:hover{
  border:none;
  background:none;
}
/*.members-block .common-profile-list-block .vcard a{
  padding-bottom: 0px;
}
.members-block .common-profile-list-block .vcard a.profile_link{
  max-height: 100px;
  height: 100px;
}*/

#content .members-block .common-profile-list-block .vcard li a{
  color:#172738;
}

.members-block .menu-submenu{
  background:#172738;
  border-radius: 4px;
  /***posicionamento do bloco na lateral***/
  bottom:-29px; 
  right: 100%;
  width: 131px;
  height: 176px;
}

.members-block .menu-submenu.down::before{
  content:"\f0da";
  color:#172738;
  font-family: FontAwesome;
  font-size:25px;
  float:right;
  position:relative;
  margin:-7px;
  margin-top:30%;
}

.members-block .menu-submenu-header,
.members-block .menu-submenu-content,
.members-block .menu-submenu-footer{
  background:none;
}

.members-block .menu-submenu-header,
.members-block .menu-submenu-footer{
  display: none;
}
.members-block .menu-submenu-content{
  height:100%;
}

#content .members-block .common-profile-list-block li{
  margin:0px !important;
}

.members-block .common-profile-list-block .vcard .menu-submenu-trigger{
  display: block;
  background:#172738;
  top:2px;
  left:3px;
  border:1px solid #fff; /*#172738;*/
  padding-bottom: 0px;
  opacity: 0.7;
  height: 13px;
}

.members-block .common-profile-list-block .vcard .menu-submenu-trigger::before{
  content:"\f053";
  color:#fff;
  font-family: FontAwesome;
  font-size: 8px; /*10px;*/
  line-height: 11px; /*13px*/
}

/*.members-block .common-profile-list-block .vcard .menu-submenu-trigger:hover,
.members-block .menu-submenu-trigger:hover{
  background: none;
  border:none;
  width: 40%;
  height: 25%;
}*/

#content .members-block .common-profile-list-block .fn {
  margin-top:2px;
  color:#172738;
}

#content .members-block .menu-submenu-content h4{
  color: #fff;
  background:#243F59;
  border-bottom: 2px solid #FF0366;
  text-transform: uppercase;
  padding:6px 6px 10px 6px;
  margin:2px 0px 2px 0px;
  text-align: center;
  max-height: 16px;
  overflow: hidden;
}

#content .friends-block ul, #content .members-block ul {
min-width: 196px;
width: 192px;
margin: 0px 0px 0px 0px;
padding: 0px;
}

#content .members-block .menu-submenu-content .menu-submenu-list li a{
  color:#fff;
  border-bottom:1px dotted #2C4B6B;
  text-align: center;
}

#content .members-block .menu-submenu-content h4:hover,
#content .members-block .menu-submenu-content .menu-submenu-list li a:hover{
  color:#ECEDF1;
}

.members-block .common-profile-list-block img{
  border-radius: 4px;
  max-height:50px; 
  max-width:50px;
  width: 50px;
  height: 50px;
}

.members-block .block-footer-content a.view-all{
  position:relative;
}

/*****************************************************/
