/*** boxes sizes definition **/
.action-home-index .box-1 {
  width: 490px;
  margin: 0 0 0 210px;
}

.action-home-index .box-3{
  width: 230px;
}

/*** end of boxes sizes definition **/

/*** Box's patterns ***/

/* Read More pattern */

.action-home-index #content .box .block-outer .read-more{
  background: #eee;
  border-bottom: none;
  font-family: "open_sans", Arial, Helvetica, sans-serif;
  font-variant: normal;
  font-size: 10px;
  text-transform: uppercase;
  text-align: right;
}

.action-home-index #content .box .block-outer .read-more a {
  color: #000000;
  line-height: 20px;
  padding: 8px;
  display: block;
}

.action-home-index #content .box .block-outer .read-more a:hover {
  background: #dedede;
}

.action-home-index #content .box .block-outer .read-more a::after {
  color: #FFFFFF;
  font-size: 14px;
  content: url('../images/right-arrow.png');
  padding-left: 8px;
  padding-right: 5px;
  margin-left: 7px;
  border-radius: 4px;
  line-height: 20px;
  text-align: center;
  font-family: "open_sansbold", Arial, Helvetica, sans-serif;
}


/*** end of box patterns ***/

/******************** Box-1 ********************/

/*** Software catalog search block **/

.action-home-index #content #catalogo-software-search{
  width: 100%;
  background-color:#1A397D;
  border-radius: 4px;
}

.action-home-index #content #catalogo-software-search h1{
  margin: 0 15px 10px 15px;
  padding: 10px 0 0 0;
  color:#FFFFFF;
  border-bottom: none;
  font-family:"open_sansregular", Arial;
  font-weight: normal;
  font-size:22px;
  line-height: 1.3em;
  text-align: left;
}

.action-home-index #content  #catalogo-software-search #search-Gadget {
  width: 90%;
  padding: 7px;
  margin: 0 15px 9px 15px;
  border: none;
  border-radius: 4px;
}

.action-home-index #content  #catalogo-software-search .searchButton-catalog{
  margin: 0px 0px 15px 15px;
  padding:6px 25px;
  color:#FFFFFF;
  background-color: #1A397D;
  border:1px solid #FFFFFF;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.action-home-index #content  #catalogo-software-search #search-catalog-footer{
  color:#FFFFFF;
  background-color:#192758;
  border-top:1px solid;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}

.action-home-index #content  #catalogo-software-search #search-catalog-footer p {
  margin: 0px;
  font-size: 11px;
  text-align:right;
  text-transform: uppercase;
}

.action-home-index #content  #catalogo-software-search #search-catalog-footer a {
  display: block;
  color: #FFF;
  padding: 7px 0px 12px 0px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}

.action-home-index #content #catalogo-software-search #search-catalog-footer a:hover {
  background-color: #101A38;
}

.action-home-index #content  #catalogo-software-search #bt_catalog-search::after {
  content: url('../images/right-arrow-black.png');
  top: 2px;
  padding-left: 7px;
  padding-right: 4px;
  margin-left: 5px;
  margin-right: 15px;
  color: #172857;
  background: #eee;
  border-radius: 4px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  position: relative;
}

/*** Softwares block **/
.action-home-index #content .softwares-block{
  border-bottom: 1px solid #ccc;
  overflow: auto;
}

.action-home-index #content .softwares-block .block-title {
  margin: 0px 0px 25px 0px;
  color: #2c66ce;
  background: #eee;
  border-top: 4px solid #2c66ce;
  font-weight: 300;
}

.action-home-index #content .softwares-block .block-footer-content a {
  display:none;
}

.action-home-index #content .software-block{ 
  width: 145px;
  height: 218px;
  margin: 0px 9px 14px 9px;
}

.action-home-index #content .software-block .software-block-logo {
  display: table-cell;
  width: 140px;
  height: 150px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  vertical-align: middle;
  text-align: center;
}

.action-home-index #content .software-block .software-block-logo img{
  max-width: 90px;
  height: auto;
}

.action-home-index #content .software-block .software-block-info {
  height: 85px;
  overflow: hidden;
}

.action-home-index #content .software-block .software-block-title {
  height: 59px;
  overflow: hidden;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

.action-home-index #content .software-block .software-block-title h3{
  color: #2C66CE;
  font-weight: 300;
  font-size: 14px;
  font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

.action-home-index #content .software-block-description {
  display: none;
}

.action-home-index #content .software-block .software-block-finality,
.action-home-index #content .software-block .software-block-content {
  text-align: right;
}

.action-home-index #content .software-block .software-block-finality {
  width:142px;
  height: 216px;
  left:0px;
  background-color:#f4f4f4;
  border: solid 1px #D7D7D7;
  border-radius: 8px;
  text-transform: uppercase;
}

.action-home-index #content .software-block .software-block-finality::after {
  content: url('../images/right-arrow.png');
  margin: 0 7px 0px 3px;
  padding-left: 7px;
  padding-right: 4px;
  color: #FFF;
  background: #2c65cd;
  border-radius: 4px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  position: relative;
}

.action-home-index #content .software-block .software-block-finality p {
  height: 170px;
  overflow: hidden;
  margin: 0 0 7px 0;
  padding: 12px 12px 0 12px;
  color: #172738;
  border-bottom: solid 1px #D7D7D7;
  font-size: 12px;
  text-align: left;
  text-transform: none;
}

/*** News block - display content block **/

.action-home-index #content .display-content-block .block-title {
  margin: 0px;  
  background: #eee;
  color: #643C67;
  border-top: 4px solid #643C67;
  font-weight: 300;
}

.action-home-index #content .display-content-block li {
  min-height: 150px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.action-home-index #content .display-content-block li:first-child  {
  border-top: 0px solid #eee;
}

.action-home-index #content .display-content-block .published-at {
  padding-bottom: 15px;
  color: #643C67;
}

.action-home-index #content .display-content-block .image {
  display: table-cell;
  width: 150px;
  padding-right: 25px;
  border: 0px solid #c0c1c1;
  border-radius: 8px;
}

.action-home-index #content .display-content-block .image a {
  display: block;
  height: 90px;
  overflow: hidden;
  border-radius: 8px;
}

.action-home-index #content .display-content-block .image img {
  max-width: 150px;
  border: 0px solid #c0c1c1;
}

.action-home-index #content .display-content-block .title {
  max-height: 40px;
  overflow: hidden;
  margin-bottom: 4px;
  padding-right: 0px;
  text-align: justify;
}

.action-home-index #content .display-content-block .title a {
  padding: 0;
  color: #172738;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 1.3em;
}

.action-home-index #content .display-content-block .lead {
  max-height: 56px;
  overflow: hidden;
  padding-right: 0px;
}

.action-home-index #content .display-content-block .lead a {
  color: #000000;
  font-size: 15px;
  font-family: Arial;
  line-height: 1.3em;
}

.action-home-index #content .display-content-block .lead a:visited, 
.action-home-index #content .lead a:visited, 
.action-home-index #content .lead dl.portlet a:visited {
  color: #172738;
}

.action-home-index #content .display-content-block .notice-info {
  display: table-cell;
  vertical-align: top;
}

.action-home-index #content .display-content-block .read_more {
  display: none;
}

.action-home-index #content .display-content-block .read-more {
  border-top: 1px solid #643C67;
}

.action-home-index #content .display-content-block .read-more a::after {
  background: #643C67;
}

/******************** End Box-1 ********************/

/******************** Box-3 ********************/

/*** What Is block - Article block **/

.action-home-index #content .article-block .block-title {
  padding: 6px 8px 22px 10px;
  background: #eee;
  color: #08A649;
  border-top: 4px solid #08A649;
  border-bottom: none;
  font-size: 18px;
  font-family: "open_sansregular", Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.3em;
  text-align: left;
  text-transform: none;
}


.action-home-index #content .article-block .read-more {
  margin-top: 30px;
  border-top: 1px solid #08A649;
}

.action-home-index #content .article-block .read-more a::after {
  background: #08A649;
}

.action-home-index #content .article-block .short-post {
  padding-top: 23px;
}

.action-home-index #content .article-block p {
  margin: 0 0 14px 0;
  padding: 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
  text-align: left;
  text-transform: none;
}

/******* See As Well Block - Highlights block *******/

.action-home-index #content .highlights-block .block-title {
  width: auto;
  height: 16px;
  margin: 11px 0px 0px;
  padding: 15px 1px 21px 15px;
  background-color: #eeeff1;
  color: #172638;
  border: 1px solid #c0c1c1;
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
  font-size: 16px;
  font-weight: bold;
  font-family: "open_sansbold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.action-home-index #content .highlights-border {
  width: auto;
  max-height: 230px;
  background: #fff;
  border: 1px solid #c0c1c1;
  border-radius: 0 0 8px 8px;
}

.action-home-index #content .highlights-container {
  width: 100% !important;
  max-height: 230px;
  padding-bottom: 0px;
  position: relative;
  top: 0px;
  border-width: 0px;
  border-bottom-width: 1px;
  background: #fff;
  border-radius: 0 0 8px 8px;
}

.action-home-index #content .highlights-image-link {
  width: 220px;
  max-height: 217px;
  padding-top: 18px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
}

.action-home-index #content .highlights-label {
  width: 190px;
  max-height: 60px;
  position: relative;
  bottom: -18px;
  padding: 23px 20px 11px;
  background: #e8e9ec;
  color: #172638;
  border-top: 4px solid #3b61a7;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  font-family: "open_sansbold", Arial, Helvetica, sans-serif;
}

.action-home-index #content .highlights-block-pager {
  height: 1px;
  width: 232px;
  padding-top: 14px;
  padding-right: 0px;
  float: left;
  position: static;
  background-color: #FFF;
  border: 0;
}

.action-home-index #content .highlights-block-pager a {
  display: inline-block;
  height: 6px;
  width: 6px;
  overflow: hidden;
  margin: 0 4px;
  color: transparent;
  background: #c0c1c1 center center no-repeat;
  border-color: transparent;
  border-radius: 50%;
  text-indent: -5000px;
  z-index: 1000;
}
.action-home-index #content .highlights-block-pager a.activeSlide {
  color: transparent;
  background: #3e67b1;
  border-color: transparent;
}

/*** mais software block **/
.action-home-index #content #mais-software-block{
  width: auto;
  margin: 11px 0px;
  padding: 5px 0px;
  background-color: #eeeff1;
  border: 1px solid #c0c1c1;
  border-radius: 8px;
  font-family: arial;
  font-size: 14px;
}

.action-home-index #content #mais-software-block #sbp-information-softwares h2{
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 17px 15px;
  color: #454545;
  border-bottom: 1px solid #c0c1c1;
  font-family: "open_sansbold", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
}

.action-home-index #content #mais-software-block #list-categories{
  margin: 14px 14px 14px 14px;
}

.action-home-index #content #mais-software-block #list-categories p{
  margin: 0 0 16px 0;
  color: #464A55;
}

.action-home-index #content #mais-software-block #list-categories ul li{
  margin: 18px 5px 5px 5px;
}

.action-home-index #content #mais-software-block #list-categories li a{
  color: #335277;
  font-weight: bold;
}

.action-home-index #content #mais-software-block #list-categories a:hover {
  text-decoration: none;
}

.action-home-index #content #mais-software-block #footer-mais-software {
  margin: 0px;
  padding: 10px 10px 0px 3px;
  border-top: 1px solid #c0c1c1;
  font-size: 11px;
  text-align: right;
  text-transform: uppercase;
}

.action-home-index #content #mais-software-block #footer-mais-software a {
  color: #464A55;
}

/******************** End Box-3 ********************/

