/*** Box ***/
.box-1 .block,
.no-boxes .block {
    margin-top: 50px;
}

.block-outer {
    margin-bottom: 45px;
    clear: both;
}

/*** Block Title ***/
#content .block-outer .block-title {
  padding: 5px 8px 18px 7px;
  margin: 0px 0px 2px 0px;
	background: #eee;
  border-bottom: none;
  font-size: 12px;
  font-family: "open_sansbold", Arial, Helvetica, sans-serif;
  font-variant: normal;
  text-transform: uppercase;
  text-align: left;
  font-weight: 300;
}

#content .box-1 .block-title {
  padding: 5px 8px 20px 10px;
  font-size: 18px;
  font-family: "open_sansregular", Arial, Helvetica, sans-serif;
  text-transform: none;
}
