#block-community-tabs,
.profile-members-tabs-container{
  font-family: Arial;
}

#block-community-tabs .ui-corner-all,
.profile-members-tabs-container .ui-corner-all{
  overflow: visible;
}

#block-community-tabs .iu-widget,
.profile-members-tabs-container .iu-widget{
  font-size: 0px;
}

#block-community-tabs .ui-widget-header,
.profile-members-tabs-container .ui-widget-header{
  background:#ECEDF1;
  border:none;
  border-bottom: 3px solid #D3D6DE;
}

#block-community-tabs .ui-widget-content,
.profile-members-tabs-container .ui-widget-content{
  border:none;
  background:none;
}
/*#block-community-tabs .ui-corner-all,*/
/*#block-community-tabs .ui-corner-all,*/
#block-community-tabs .ui-corner-all,
.profile-members-tabs-container .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl,
.profile-members-tabs-container .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr,
.profile-members-tabs-container .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{
  border-radius:0px;
}

#block-community-tabs .ui-state-default
#block-community-tabs .ui-widget-content .ui-state-default,
#block-community-tabs .ui-widget-header .ui-state-default,
.profile-members-tabs-container .ui-state-default,
.profile-members-tabs-container .ui-widget-content .ui-state-default,
.profile-members-tabs-container .ui-widget-header .ui-state-default{
  border:none;
  background:#ECEDF1;
  font-weight: normal;
  color:#172738;
}

#block-community-tabs .ui-tabs .ui-tabs-nav,
.profile-members-tabs-container .ui-tabs .ui-tabs-nav {
  font-size: 15px;
}

/*.profile-members-tabs-container .ui-tabs .ui-tabs-nav{
  margin: 0px;
  padding: 0px;
}
*/
#block-community-tabs .ui-tabs .ui-tabs-panel {
  padding: 0px;
}

#block-community-tabs .ui-tabs .ui-tabs-nav li a:visited,
#content .profile-members-tabs-container .ui-tabs .ui-tabs-nav li a:visited{
  color:#172738;
}

#block-community-tabs .ui-tabs .ui-tabs-nav li,
#content .profile-members-tabs-container .ui-tabs .ui-tabs-nav li{
  padding-right: 3px;
}
#block-community-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active,
#content .profile-members-tabs-container .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -3px !important;
  padding-bottom: 1px;
  border-bottom: 3px solid #FF0366; 
}
#block-community-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-active:before,
#content .profile-members-tabs-container .ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-active:before{
  content:"\f0dd";
  font-family: FontAwesome;
  font-size: 16px;
  position:absolute;
  top:26px;
  margin:0px 45%;
  color:#FF0366;
}
#block-community-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#content .profile-members-tabs-container .ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  color: #FF0366;
  font-weight: 700;
}

/********************************************/
/***abas da area de comunidade******/

#content #discussions-content .pull-left{
  float:none;
}

#content #discussions-content{
  font-family: Arial;
  font-size: 14px;
}

#content #discussions-content .message-discussion{
  border-top: 1px solid #ECEDF1;
  margin:20px 0px 0px 0px;
  padding:20px 0px 0px 0px;
}

/*#content #discussions-content .row{
  width: 520px;
}*/

#content #discussions-content h4{
  font-size: 20px;
}

#discussions-content hr{
  display: none;
}

#discussions-content .quiet{
  line-height: 21px;
}

#discussions-content div.quiet:last-child{
  border-top:none;
}

#discussions-content .text-right a{
  text-align: right;
  display: block;
  text-transform: uppercase;
  line-height: 21px;
}

#discussions-content .text-right a::after {
content: "\f105";
font-family: FontAwesome;
padding-left: 7px;
padding-right: 4px;
color: #ffffff;
background: #3E67B1;
border-radius: 4px;
font-size: 18px;
line-height: 20px;
text-align: center;
margin-left: 5px;
position: relative;
top: 2px;
}

/*#discussions-content .pull-left{
  margin-top: 20px;
}*/

#content #discussions-content .pull-left a{
  color:#3E67B1;
  font-weight: 600;
}

/*
#discussions-content .subject{
  margin-bottom: 20px;
}*/

#content #discussions-content .subject{
  font-weight: 700;
}