<% if user_rating.institution %>
<div class="aditional-informations">
  <div class="comments-user-institution">
    <span><%=_("Institution")%> :<span> <%= user_rating.institution.name unless user_rating.institution.nil? %>
  </div>
</div>
<% end %>

