<% if user_rating.institution %>
<div class="aditional-informations">
  <div class="comments-user-institution">
    <span><%=_("Institution")%> :</span> <%= user_rating.institution.name %>
  </div>
</div>
<% end %>
