<div id="input_institution_comments">
  <%= label_tag "input_institution", _("Organization name or Enterprise name")%>
  <span class="star-tooltip" title="Órgão ou Empresa que você representa e utiliza o software"></span>
  <input type="text" id="input_institution">

  <div id="institution_empty_ajax_message" class="errorExplanation hide-field rating-create-institution-container">
    <span class="institution-not-found"><%= _("No organization or company found") %></span>
    <% if user && user.person.is_admin? %>
      <%= InstitutionModalHelper.modal_button(_("Add"), "none") %>
    <% end %>
  </div>

  <%= hidden_field_tag "organization_rating[institution_id]", "", id: "institution_selected" %>
</div>

