{% extends "base.html" %}
{% load i18n %}
{% block main-content %}
<div class="colab-content container">
  <h2>Cadastre-se</h2>
  <h1>Informações pessoais</h1>

  <form action="{% url "signup" %}" method="post" role="form" class="form-horizontal signup">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <div class="signup-fields">
          <fieldset>
            {% for field in user_form %}
              <div class="form-group{% if field.field.required %} required{% endif %}{% if field.errors %} alert alert-danger has-error{% endif %}">
                <label for="{{ field.name }}" class="control-label">
                  {{ field.label }}
                </label>
                {{ field }}
                {{ field.errors }}
              </div>
            {% endfor %}
          </fieldset>

          <input type="submit" value="Cadastrar" id="btn-cadastrar" class="btn btn-primary">
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <div style="border-left: 1px solid #ccc; padding-left: 52px; min-height: 450px">
          <div class="signup-help">
            <p>Em caso de dúvidas, visite a seção de <a href="/social/spb/ajuda#faq">Ajuda</a></p>
            <hr>
            <p>Caso ainda permaneça com dúvidas, fique à vontade para entrar em contato conosco através do email: <a href="mailto:admin@softwarepublico.gov.br">admin@softwarepublico.gov.br</a></p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

  <script>
  $(function() {
    var $sidebar = $(".signup-help"),
      $window = $(window),
      offset = $sidebar.offset(),
      maxMarginTop = $(".signup-fields").height() - $sidebar.height();

    $window.scroll(function() {
      if($window.scrollTop() > offset.top) {
        var marginTop = $window.scrollTop() - offset.top;
        marginTop = marginTop > maxMarginTop ? maxMarginTop : marginTop;

        $sidebar.stop().animate({
          marginTop: marginTop
        });
      } else {
        $sidebar.stop().animate({
          marginTop: 0
        });
      }
    });
  });
  </script>
{% endblock %}
