{% extends "base.html" %}
{% load i18n %}
{% block main-content %}
<div class="colab-content container">
  <h2>Cadastre-se</h2>
  <h1>Informações pessoais</h1>
  <hr>

  <form action="{% url "signup" %}" method="post" role="form" class="form-horizontal signup">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
          <fieldset>
            {% for field in user_form %}
              <div class="form-group{% if field.field.required %} required{% endif %}{% if field.errors %} alert alert-danger has-error{% endif %}">
                <label for="{{ field.name }}" class="control-label">
                  {{ field.label }}
                </label>
                {{ field }}
                {{ field.errors }}
              </div>
            {% endfor %}
          </fieldset>

          <input type="submit" value="Cadastrar" class="btn btn-primary btn-lg">
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <div style="border-left: 1px solid #ccc; padding-left: 60px; min-height: 500px">
          <p>Olá! Se estiver com dúvidas, temos várias maneiras para tentar te ajudar. Veja abaixo algumas opções:</p>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Como faço para me cadastrar no Portal do Software Público Brasileiro?
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/lNq0UtBqrHg" frameborder="0" width="420" height="315" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Como posso atribuir outro e-mail ao meu perfil?
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/U5wxjAB7LS4" frameborder="0" width="420" height="315" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Qual o procedimento para associar-me em uma comunidade de um software?
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/uJwdZ7M1uoM" frameborder="0" width="420" height="315" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Como faço para associar-me à uma lista de discussão de um software?
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/gKFxucHUvsU" frameborder="0" width="420" height="315" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Como faço para participar da lista de discussão?
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="420" height="315" src="//www.youtube.com/embed/j83stOqdCBI" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <p>Conheça também a seção completa de <a href="/social/spb/ajuda#faq">Ajuda</a></p>
            <hr>
            <p>Caso ainda permaneça com dúvidas fique à vontade para entrar em contato conosco através do email <a href="mailto:admin@softwarepublico.gov.br">admin@softwarepublico.gov.br</a></p>
          </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
