Host *
  ForwardAgent yes

Host reverseproxy
  Hostname 10.21.0.4
  Port 55555
  ProxyCommand ssh 189.9.151.64 -p 22 nc %h 55555

Host reverseproxy.unconfigured
  Hostname 189.9.151.64

Host integration
  Hostname 189.9.151.64

Host database
  Hostname 10.21.0.6
  # connect via reverseproxy host
  ProxyCommand ssh 189.9.151.64 -p %p nc %h 22

Host social
  Hostname 10.21.0.5
  # connect via reverseproxy host
  ProxyCommand ssh 189.9.151.64 -p %p nc %h 22

Host email
  Hostname 10.21.0.7
  # connect via reverseproxy host
  ProxyCommand ssh 189.9.151.64 -p %p nc %h 22
