Host *
  ForwardAgent yes

Host reverseproxy.unconfigured
  Hostname 189.9.151.65
  User spb

Host reverseproxy
  Hostname 10.0.13.2
  User spb
  # connect via reverseproxy host
  ProxyCommand ssh spb@189.9.151.65 nc %h %p

Host database
  Hostname 10.0.13.6
  User spb
  # connect via reverseproxy host
  ProxyCommand ssh spb@189.9.151.65 nc %h %p

Host social
  Hostname 10.0.13.4
  User spb
  # connect via reverseproxy host
  ProxyCommand ssh spb@189.9.151.65 nc %h %p

Host email
  Hostname 10.0.13.5
  User spb
  # connect via reverseproxy host
  ProxyCommand ssh spb@189.9.151.65 nc %h %p

Host integration
  Hostname 10.0.13.7
  User spb
  # Porta 22 de 189.9.151.65 cai aqui entao nao precisa de ProxyCommand
