<table>
  <tr>
    <th colspan='2'><%= _('Mpog Profile Information')%></th>
  </tr>

  <%= display_field(_('Secondary E-mail:'), profile, :secondary_email, true) %>
  <%= display_field(_('Institution:'), profile, :institutions, true) %>
</table>
