{% extends "base.html" %}
{% load i18n highlight superarchives %}
{% load static from staticfiles %}

{% block title %}{% trans 'search'|title %}{% endblock %}

{% block head_js %}
<script type="text/javascript" src="{% static 'third-party/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
{% if use_language %}
  <script type="text/javascript" src="{{ STATIC_URL }}third-party/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.{{ use_language }}.js"></script>
{% endif %}

<script type="text/javascript">
  $(function () {

    $('#datepicker_since, #datepicker_until').datetimepicker({
      pickTime: false,
      {% if use_language and date_format %}
        language: '{{ use_language }}',
        format: '{{ date_format }}',
      {% endif %}
    });

  });
</script>
{% endblock head_js %}

{% block head_css %}
  <link rel="stylesheet" href="{% static 'third-party/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>
{% endblock %}

{% block main-content %}
<div class="search-results" style="width: 980px;margin: auto;">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="search-form">
        <h3 class="search-title"> {% trans "BUSCAR NO PORTAL" %} </h3>

        <form accept-charset="UTF-8" action="/search/" method="get">
          <div class="search-field">
            <span class="formfield">
              <input class="search-input" id="search-input" name="q" value="" type="text">
            </span>
          </div>
          <input class="btn search-blue with-text icon-search submit" name="commit" value="Buscar" type="submit">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container search-summary">
  <div class="row">
    <div class="col-xs-6 col-sm-8 col-md-10 col-lg-10">
      <p class="text-left search-total">
        {% trans "Total de "%}{{ page.paginator.count }}{% trans " respostas na sua pesquisa"%}
      </p>
    </div>
  </div>
  <hr class="search-divisor" />
</div>

  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="container">
      {% for result in page.object_list  %}
        {% include "message-preview.html" %}
      {% empty %}
      <ul class="list-unstyled">
        <li class="text-center">
          {% trans "No results for your search." %}
          {% if request.GET.q %}
            <p class="text-muted">{% trans "You are searching for" %} {{ request.GET.q }}</p>
          {% endif %}
        </li>
      </ul>
      {% endfor %}
      </div>

      {% if page.has_other_pages %}
        <div class="text-center">
          <ul class="pagination">
            <li {% if page.number == 1 %}class="disabled"{% endif %}>
              <a href="{% if page.number == 1 %}javascript:void(0);{% else %}{% append_to_get page=1 %}{% endif %}"><span class="glyphicon glyphicon-chevron-left small-icon"></span><span class="glyphicon glyphicon-chevron-left small-icon"></span></a>
            </li>
            <li {% if not page.has_previous %}class="disabled"{% endif %}>
              <a href="{% if page.has_previous %}{% append_to_get page=page.previous_page_number %}{% else %}javascript:void(0);{% endif %}"><span class="glyphicon glyphicon-chevron-left small-icon"></span></a>
            </li>

            {% if page.has_previous %}
              {% if page.previous_page_number > 1 %}
                <li>
                  <a href="{% append_to_get page=page.previous_page_number|add:-2 %}">{{ page.number|add:-2 }}</a>
                </li>
              {% endif %}
              <li>
                <a href="{% append_to_get page=page.previous_page_number %}">{{ page.number|add:-1 }}</a>
              </li>
            {% endif %}

            <li class="active">
              <a href="javascript:void(0);">{{ page.number }}</a>
            </li>

            {% if page.has_next %}
              <li>
                <a href="{% append_to_get page=page.next_page_number %}">{{ page.number|add:1 }}</a>
              </li>
              {% if page.next_page_number < page.paginator.num_pages %}
                <li>
                  <a href="{% append_to_get page=page.next_page_number|add:1 %}">{{ page.number|add:2 }}</a>
                </li>
              {% endif %}
            {% endif %}

            <li {% if not page.has_next %}class="disabled"{% endif %}>
              <a href="{% if page.has_next %}{% append_to_get page=page.next_page_number %}{% else %}javascript:void(0);{% endif %}"><span class="glyphicon glyphicon-chevron-right small-icon"></span></a>
            </li>

            <li {% if page.number == page.paginator.num_pages %}class="disabled"{% endif %}>
              <a href="{% if page.number == page.paginator.num_pages %}javascript:void(0);{% else %}{% append_to_get page=page.paginator.num_pages %}{% endif %}"><span class="glyphicon glyphicon-chevron-right small-icon"></span><span class="glyphicon glyphicon-chevron-right small-icon"></span></a>
            </li>

          </ul>
        </div>
      {% endif %}
    </div>

  </div>
</div>
{% endblock main-content %}