.agenda-item a {
  color: black;
}
.agenda-item a:visited {
  color: black;
  font-weight: normal;
}
.agenda-item a:hover {
  color: black;
  text-decoration: underline !important;
}

/************** event *************/

li.event-dates {
    background: url("/images/icons-mime/event.png") no-repeat scroll 100% 50% white;

    float: none;
    padding: 5px 32px 5px 5px;
     text-align: right;
}
