/**** search page *****/

#search-results {
    width: 100% !important;
}

.controller-search .multiple-results-boxes .search-results-innerbox.common-profile-list-block {
    overflow: visible;
}

.controller-search .search-results-box {
    width: 100%;
    margin-bottom: 20px;
}

.controller-search #search-results h3 {
    background-color: #497B16;
    color: white;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0.5em;
    position: relative;
}

.controller-search #search-results .search-results-innerbox li .search-result-title {
    margin-left: 148px;
    color: #444444;
}

.search-article-description {
    color: #999999;
}

.search-results-innerbox {
    border-top: 1px solid #CCCCCC;
}

.controller-search .search-results-innerbox {
    height: 100%;
}

.search-results-type-article li.article-item,
.search-tagged-items li.article-item,
.only-one-result-box li.search-product-item {
    border-bottom: 0px solid #fff;
}

.controller-search .search-results-innerbox td.search-field-label{
    display: none;
}

/*midia's search*/

.media-search-box form span.formfield #media-search-query{
    float: left;
    margin-right: 5px;
}

/*profile's search*/
#profile-search-results ul.results-list li{
    display: block;
    margin-bottom: 18px;
}

#profile-search-results ul.results-list .result-title{
    color: #444444;
    display: inline-block;
    font-size: 180%;
    font-weight: bold;
    padding: 4px 0;
}

#profile-search-results ul.results-list .article-details {
    color: #999999;
}

/**** enf of search page ****/

/**** global search result ****/
.search-results-header {
    border-bottom: 0px;
}

#public-profile-search, #profile-search-results form, .profile-search-block form {
 background-color: transparent;
}

#public-profile-search .search-field .formfield {
    float: left;
}

#public-profile-search .search-field .formfield input {
    margin-top: 0px;
}

.formfield input, .formfield textarea{
    background: none #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #585858;
    font-size: 16px;
    width: 100%;
     word-wrap: break-word;
}

.formfield.type-file input {
     height: 28px;
    max-height: 30px;
}

.formfield input {
    padding: 5px 0;
    max-height: 19px;
}

.search-field .formfield, .search-field .formfield input {
     margin-right: 0.5em;
}

#search-page form.search_form input.icon-search {
    background: url("images/btn_busca.png") no-repeat scroll 50% 50% transparent;
    border: 1px solid #DDDDDD;
    min-height: 31px;
    padding-right: 20px;
    text-indent: -10000px;
     max-height: 31px;
}

/***** end of search result *****/
