/colab
/colab-deps
/redmine
/.vagrant
/doc
/build
/rpm/*.spec
/src
/solr
/noosfero
/mailman-api
/utils/gitlab-irc
/build-area
/obs/isv:spb*
/packages
/docs/_build/
/omniauth-remote-user
*.swp
*~
*.swo
