[submodule "software_communities"]
	path = software_communities
	url = git@portal.softwarepublico.gov.br:softwarepublico/mpog_software.git
[submodule "noosfero-spb-theme"]
	path = noosfero-spb-theme
	url = git@portal.softwarepublico.gov.br:softwarepublico/noosfero-spb-theme.git
[submodule "spb_migrations"]
	path = spb_migrations
	url = git@portal.softwarepublico.gov.br:softwarepublico/spb_migrations.git
[submodule "gov_user"]
	path = gov_user
	url = git@softwarepublico.gov.br:softwarepublico/gov_user.git
