[submodule "software_communities"]
	path = software_communities
	url = git@portal.softwarepublico.gov.br:softwarepublico/mpog_software.git
[submodule "noosfero-spb-theme"]
	path = noosfero-spb-theme
	url = git@portal.softwarepublico.gov.br:softwarepublico/noosfero-spb-theme.git
