@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#theme-header{}

#header {
  padding: 15px 0 0 0; /*13px 0 0 0;*/ 
  color: #000;
  background-color: rgb(236,237,241);
}

#header>div {
  max-width: 960px;
  min-width: 960px;
  margin: 0 auto;
}

.header-content * {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
.header-content li { display: inline; }

#brasilgov {
  background: #00510f;
  border-bottom: 1px solid #ffcc00;
  padding: 5px 10px;
  color: #03316f;
}

#accessibility {
    display: block !important;
    float: left;
    font-family: arial;
    font-size: 10px;
    width: 50%;
}

#accessibility a {
  color: rgb(96,96,96);/*#FFF; */
  margin-right: 8px;
}
#accessibility a:hover {
  color: #969696; /*#d0d9ff;*/
}

#accessibility span {
    background: none repeat scroll 0 0 rgb(96,96,96);
    color: #FFFFFF;
    padding: 0 4px;
}

/*.contraste header #logo{
background-image: url(images/logotipo_contraste.png);
background-repeat: no-repeat;
}*/

/* Barra do Brasil */

/*#barra-brasil, #wrapper-barra-brasil, #wrap-1 {
	min-width: 960px;
}*/

/* logo */
#logo {
  padding: 0;
  float: left;
  width: 50%; /*70%;*/
}

#logo span {
  display: block;
}

#logo a {
  display: block;
  width: 100%;
  color: #03316f !important;
  margin: 1em 0px;
}

#logo a, #logo #portal-title {
  color: #03316f;
}

#logo #portal-title {
    background-image: url("images/logotipo_spb.svg");
	background-repeat: no-repeat;
	background-size: 374px 78px;
	height: 78px;
	width: 374px;
  	margin: 20px 0px 10px 0px;
  	/*margin: 30px 0px 20px 0px;*/
 /* color: #fff;
  font-size: 40px;
  font-family: 'Open Sans Extrabold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: -0.05em;*/
}

#logo .luongo {
  font-size: 3em !important;
  line-height: 1.1em;
  margin-bottom: 0.2em;
}

#logo #portal-description {
  font-size: 1.2em;
  text-transform: uppercase;
}

/* Site Actions */
#portal-siteactions {
  display: block;
  float: right;
  clear: left;
  border-bottom: 1px dotted #969696; /*#d0d9ff;*/
  padding-bottom: 2px;
  margin-top: -15px;
  font-size: 10px;
  text-align: center;
}

#portal-siteactions a {
  color:rgb(96,96,96); /*#FFF;*/
  text-decoration: none;
  padding: 4px 0 4px 10px;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#portal-siteactions a:hover {
  color: #03316f;
}

#portal-siteactions li {
  display: inline;
  margin: 0 5px 0 0;
}

#portal-siteactions li a:hover {
  color: #969696; /*#d0d9ff;*/
}
#portal-siteactions li a {
  padding: 4px 0px;
}

#social-icons {
  float: right;
  clear: right;
  margin: 0px 0px 17px;
}

#social-icons ul {
  display: table-row;
}

#social-icons li {
  display: table-cell;
}

#social-icons li a {
  border: none;
  padding: 0 5px;
}

#siteaction-accessibility,
#siteaction-contraste,
li#siteaction-mapadosite {
  margin: 0px 48px 0px 0px; /*era 15*/
}

/* */

/* Top links */
#theme-header .header-content #link-faq a {
    border-right: 1px solid #FFF;
    padding: 0 10px;
    
}
#theme-header .header-content #link-contact a {
    padding-left: 10px;
}

#theme-header #sobre {
   line-height: 30px;
   font-size: 12px;
   height: 30px;
}


/* */

/* Sobre o brasil */
#sobre, #navbar {
  clear: both;
  max-width: 100% !important;
  margin: 0;
  background-color: #999999;
  /*background: #0d4094;/*azul-mais-escuro*/
  padding: 5px 0;
}

#sobre,#navbar  ul {
  max-width: 960px;
  margin: 0px auto;
  text-align: right;
  padding:10px;
}

#sobre a {
  color: #ffffff; /*rgb(96,96,96);*/
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
#navbar a{
  color: rgb(96,96,96);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#sobre, #navbar .portalservicos-item a {
  padding: 0 10px;
  border-right: 1px solid #03316f;
}

#sobre, #navbar .last-item a {
  padding: 0 0 0 10px;
  border-right: none;
}

#navbar:houver{
	color:#000000;

}

#links-rapidos{
  width: 960px;
  margin: 0 auto;
  font-color:#fff;

}


/* Searchbox */
.LSBox {
  margin: 0;
  padding: 0;
  border: none;
}

input.searchField {
  -moz-appearance: none;
}

#portal-searchbox {
  clear: right;
  float: right;
  font-size: 80%;
  margin: 30px 0 15px; /*30px 0 14px*/
  /*margin: 3.12em 0px 3px 0px;*/
  text-align: right;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #CCCCCC;
  background: #fff;
  padding: 2px;
}

#portal-searchbox .searchField {
  padding: 0.45em;
  border-right: none;
  border: none;
  width: 171px; /*210px;170px;*/
}

#portal-searchbox form {
white-space: nowrap;
}

#portal-searchbox label {
font-weight: normal;
}

#searchGadget {
width: 13em;
}

#header input.searchButton {
  padding: 0.3em;
  background: transparent;
  text-indent: -2000px;
  padding: 4px 15px;
  border: none;
}

#content input.searchField {
  margin-bottom: 1em;
}

/* Removendo css de campo de busca especifico do firefox
input.searchField {
 -moz-appearance: searchfield;
}*/

#header input.searchButton {
  background-image: url("images/search-button.png");
  background-position: 8px 2px;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

#LSResult {
  z-index: 1;
  margin-top: 0.5%;
}


/* Search Button */
#search-button a {
    display: inline-block;
    width: 29px;
    height: 25px;
    margin-right: 3px;
    margin-top: 10px;
}

#search-button a:hover {
    opacity: 0.6;
}

#search-button #sb_search {
background-image: url(images/search.png);
background-size: 100% 100%;
}

#search-button span { display: none; }


/* */

/* Social Buttons */


#social-buttons a {
    width: 18px;
    height: 20px;
    margin-right: 3px;
    margin-top: 10px;
}

#social-icons li a {
    width: 20px;
    height: 20px;
    padding: 0px;
    display: inline-block;
    background-repeat: no-repeat;
}

#social-icons li {
    float: right;
    width: 20px;
    margin-left: 4px;
}

#social-icons #sb_face {
background: url(images/icone-branco-facebook.png) 0 20px;
}
#social-icons #sb_face:hover {
background: url(images/icone-branco-facebook.png);
}

#social-icons #sb_tweet {
background: url(images/icone-branco-twitter.png) 0 20px;
}
#social-icons #sb_tweet:hover {
background: url(images/icone-branco-twitter.png);
}

#social-icons #sb_youtb {
background: url(images/icone-branco-youtube.png) 0 20px;
}
#social-icons #sb_youtb:hover {
background: url(images/icone-branco-youtube.png);
}

#social-icons #sb_flickr {
background: url(images/icone-branco-flickr.png) 0 20px;
}
#social-icons #sb_flickr:hover {
background: url(images/icone-branco-flickr.png);
}

#social-icons span { display: none; }

/* FIM social Buttons */

/*menu principal SPB*/

portalservicos-item{
color:#000000;
}
#navbar{
	margin:3px;
	color:#000000;

}


/*Fim menu principal SPB*/


#wrap-2 {
	width: 960px;
	margin: 0 auto;
	border: none;
	padding: 0px;
}


.action-account-signup .no-boxes {
    margin-top: 20px;
}



.portalservicos-item div {
    display: none;
    position: absolute;
     background-color: red;
}

.portalservicos-item:hover div {
    display: inline-block;
    float: left;
    width: 960px;
    top: 25px;
    left: 0;
    background-color: blue;
}

.portalservicos-submenu:hover {
    display: inline-block;
    float: left;
    width: 960px;
    top: 25px;
    left: 0;
    background-color: green;
}

/* Bubble Float Bottom */
.bubble-float-bottom {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.bubble-float-bottom:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: bottom;
  transition-property: bottom;
}
.bubble-float-bottom:hover, .bubble-float-bottom:focus, .bubble-float-bottom:active {
  -webkit-transform: translateY(-5px) translateZ(0);
  transform: translateY(-5px) translateZ(0);
}
.bubble-float-bottom:hover:before, .bubble-float-bottom:focus:before, .bubble-float-bottom:active:before {
  bottom: -10px;
}




/****************** FIM cabecalho ******************/

/************* Bar Psocial Style - Menu Horizontal**************/
#user{
  top: -60px; /*-53px;*/
  font-size: 12px;
  /*right: 10px;*/
}

.logged-in #user{
   top: -40px;
}

#user form {
    display:none;
}

#user .logged-in {
   visibility: hidden;
   display: block;
    background:url("images/barra-menu-user-bg.png") repeat-x bottom center #FEFEFE;
    display: block;
    padding-top:1em;
    text-align: left;
    width: 130px;
   border-radius: 10px

}

#user .logged-in:hover {
   visibility: visible;
}
#user .logged-in a#homepage-link {
  display: block;
  visibility: visible;
}

#user .logged-in span {display: none;}

#user .logged-in a {
    display: block;
    margin-bottom: 10px;
}

#user .logged-in #pending-tasks-count {
    display: inline-block;
    left: 0;
    position: absolute;
    top: 10px;
    visibility: visible;
}

#barra-psocial {
    position: relative;
    height: 40px;
    margin: -3px 0px 0px 0px; /*margin: auto;*/
    border: none;
   background-color:rgb(236,237,241);
   /*background: url(images/barra-psocial-bg.png) repeat-x; */
}

#barra-psocial li {
  float: left;
}

#assets-menu {
    background: #E8E8E8;
    top: 35px;
    left: 80px;
    min-width: 132px;
}

#assets-menu a {
    border: 1px solid #E8E8E8;
}

#categories_menu {
    /*max-width: 960px;*/
  padding: 0 1em;
    margin: auto;
}

#cat_menu {
    background: url(images/marca-participacao-social.png) no-repeat center left;
    height: 40px;
    padding-left: 60px;
}

#cat_menu li {
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 20px;
    height: 100%;
    text-transform: uppercase;
}

#cat_menu li:hover {
    background-color: #E1E4E4;
}

#cat_menu li a {
    line-height: 40px;
    width: 100%;
    height: 100%;
    display: block;
}
/************* FIM Bar Psocial Style - Menu Horizontal**************/


/******************Footer-Rodapé**********************************/
#theme-footer {
	width: 100%;
	min-width: 960px;
}

#footer-content {
    background: #fff;
}

#footer-logos {
    background: rgb(96,96,96);
    max-width: 100%;
    padding: 2em 0;
    height: 49px;
}

#footer-logos div {
    max-width: 960px;
    margin: 0 auto;
}

#footer-logos a {
  display: block;
  height: 49px;
  float: left;
}

#footer-logos span {
  display: none;
}

#footer-logos .logo-acesso {
  background: transparent url(images/acesso-a-informacao.png) center center no-repeat;
  width: 107px;
}

#footer-logos .logo-brasil {
  background: transparent url(images/brasil.png) center center no-repeat;
  width: 153px;
}

#footer-logos .logo-sgpr {
  background: transparent url(images/sgpr.png) center center no-repeat;
  width: 187px;
  margin-right: 30px;
}

#footer-logos .institucionais {
  float: right;
}

#footer-license {
   max-width: 960px;
   margin: 0 auto;
   text-align: left;
   padding: 5px;
}

#footer-license p {
    color: #0d4094;
   text-align: left;
}
/***********Rodape Colab *********************/

footer{
	display:block
}

header .accessibility-language-actions-container {
	height:25px;
	overflow:hidden
}

main div.row-flutuante {
margin-top:-28px
}
main .row-fluid {
margin-left:0!important
}

footer {
background:#ecedf1
}
footer .footer-atalhos {
background:#fff;
border-bottom: 2px
}

footer .footer-atalhos .container {
padding:10px 0 25px 0
}
footer .footer-atalhos .voltar-ao-topo a {
color:#717782
}
footer .footer-atalhos .voltar-ao-topo a:hover {
text-decoration:underline
}
footer .container-menus {
padding:46px 0 0 0
}
footer .row {
margin-bottom:13px
}
footer nav {
border-left:1px dotted #dbdbc8;
padding:0 5px 0 10px
}
footer nav h2 {
font-size:1.3em;
font-weight:bold;
color:#3b3f44;
line-height:1.3em;
padding: 5px 0 5px 0
}

footer nav ul {
margin-left:-40px; /*0; Verificar*/
}
footer nav li {
display:block;
padding-bottom:3px
}
footer nav a {
font-size: 12px; /*.9em;*/
color:#838489;
line-height:.9em
}
footer nav a:hover {
color:#838489;
text-decoration:underline
}
footer .footer-menus {
padding-bottom:10px
}
footer .footer-logos {
padding:25px 0;
}
footer .footer-ferramenta {
background:#fff;
padding:17px 0 11px 0
}
footer .footer-ferramenta p {
font-size:.91em;
line-height:1em
}
@media(min-width:980px) {

footer .container2{
	width: 100%;
}

footer .footer-atalhos a {
	margin-right:12px
}
footer .footer-logos {
	padding-left:10px;
	padding-right:10px
}
footer .footer-ferramenta {
	text-align:center
}
}
								
#content.internas div.pull-none {
width:100%;
margin:10px 0;
text-align:center
}

.contraste {
background-color:#0d0d0d!important;
color:#fff
}


.contraste header #portal-siteactions,.contraste header #language {
border-color:#666
}

.contraste footer {
background-image:none;
background-color:#000
}
.contraste footer h2,.contraste footer h3,.contraste footer h4 {
color:#fff
}
.contraste footer .footer-atalhos,.contraste footer .footer-logos {
background:#1c1c1c;
border-color:yellow
}
.contraste footer .footer-atalhos a,.contraste footer .footer-logos a {
color:#ff0
}
.contraste footer .footer-ferramenta {
background:#000
}

.container2,.navbar-static-top .container2,.navbar-fixed-top .container2,.navbar-fixed-bottom .container2 {
	width:724px;
}

.span2 {
width:104px;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
	display:block;
}

.row {
	margin-left:auto !important;
	*zoom:1;
	margin-right:auto !important;
}

.row:before,.row:after {
	display:table;
	content:"";
	line-height:0;
}
.row:after {
	clear:both;
}
[class*="span"] {
	float:left;
	min-height:1px;
	margin-left:30px;
}
.container {
	max-width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	width:100%;

}

.span12 {
	width:930px;
}
.span11 {
	width:850px;
}
.span10 {
	width:770px;
}
.span9 {
	width:690px;
}
.span8 {
	width:510px;
}
.span7 {
	width:530px;
}
.span6 {
	width:450px;
}
.span5 {
	width:370px;
}
.span4 {
	width:290px;
}
.span3 {
	width:210px;
}
.span2 {
	width:130px;
}
.span1 {
	width:50px;
}

.container2 {
	margin-right:auto;
	margin-left:auto;
	*zoom:1;
	max-width: 1040px; 
}
.container2:before,.container2:after {
	display:table;
	content:"";
	line-height:0;
}
.container2:after {
	clear:both;
}

/*

.modal-footer {
	padding:14px 15px 15px;
	margin-bottom:0;
	text-align:right;
	background-color:#f5f5f5;
	border-top:1px solid #ddd;
	-webkit-border-radius:0 0 6px 6px;
	-moz-border-radius:0 0 6px 6px;
	border-radius:0 0 6px 6px;
	-webkit-box-shadow:inset 0 1px 0 #ffffff;
	-moz-box-shadow:inset 0 1px 0 #ffffff;
	box-shadow:inset 0 1px 0 #ffffff;
	*zoom:1;
}
.modal-footer:before,.modal-footer:after {
	display:table;
	content:"";
	line-height:0;
}
.modal-footer:after {
	clear:both;
}
.modal-footer .btn+.btn {
	margin-left:5px;
	margin-bottom:0;
}
.modal-footer .btn-group .btn+.btn {
	margin-left:-1px;
}
.modal-footer .btn-block+.btn-block {
	margin-left:0;
} * TESTE DO FOOTER*/



/*.dropdown-menu.pull-right {
	right:0;
	left:auto;
}
*/

.hide {
	display:none;
}

.hidden {
	display:none;
	visibility:hidden;
}

.visible-phone {
	display:none !important;
}
.visible-tablet {
	display:none !important;
}
.hidden-desktop {
	display:none !important;
}
.visible-desktop {
	display:inherit !important;
}
/*****fim footer Colab*****/
