/******************removidos do style.css***************************/
/*****************Organizacao geral dos blocos**********************/
.box-1 {
   /* display: inline-block;*/
   /*width: 490px;*/
}

.box-2 {
   display: inline-block;
    vertical-align: top;
}
.box-3{
  width: 190px; /*230px;*/
}


.box-2 .block .block-inner-2,
.box-3 .block .block-inner-2 {
/*    padding: 0 0 1em;*/
}

/*organizacao dos blocos especifico para a pagina inicial*/
/* Tamanho das colunas customizados na pagina inicial */
.action-home-index .box-3{
  width: 230px;
}

.action-home-index .box-1 {
   /* display: inline-block;*/
    width: 490px;
    margin: 0 0 0 210px;
}

/**********************fim pagina inicial************************/

/*label dos radio buttons da busca*/
#content .search-field label {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    margin-left: 5px;
}

#public-profile-search .formfield, #public-profile-search .submit {
    margin-bottom: 5px;
}

#content .profile ul{
    margin-left: 1em;
}
/****************************************************************/

/*paginação*/

.pagination {
    border-top: 0 none;
}

.pagination {
    font-size: 120%;
    margin-bottom: 30px;
}

.pagination .previous_page {
    margin-right: 0.5em; font-weight: bold;
}
.pagination .next_page {
    margin-left: 0.5em; font-weight: bold;
}

#content .pagination a {
    padding: 7px 11px 7px 11px;
    border-radius: 4px;
    margin-right: 4px;
    letter-spacing: 0.6px;
    color: #172738;
    border: 1px solid #D3D6DE;
}

.pagination .current {
    background-color: #ECEDF1;
    padding: 8px 11px 8px 11px;
    border-radius: 4px;
    margin-right: 4px;
    font-family: Arial;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #D3D6DE;
}

#content .pagination a.previous_page,
#content .pagination a.next_page{
    background-image: none;
    color: #888888;
    font-size: 14px;
    width: auto;
}


#content #article .pagination .next_page,
#content #article .pagination .previous_page{
    background-image: none;
    color: #ccc;
    width: auto;
    font-size: 16px;
}

/*fim paginação*/


/*botão ver todos*/
.more_button,
.read_more {
    margin-bottom: 15px;
    margin-top: -5px;
    color: #000000;
    font-size: 11px;
    text-align: left;
}

#content .more_button .view_all a,
#content .read_more a{
    background: url("images/button-read-more-vazio.png") no-repeat scroll left 50% transparent;
    color: #333;
    display: inline-block;
    font-weight: bold;
     padding: 10px 20px 10px 50px;
    text-align: left;
     font-family: Arial, sans-serif;
}

.community-track-plugin_track-card-list-block .more_button{
    text-align: right;
}

.community-track-plugin_track-card-list-block .more_button .view_all a{
    margin-right: 12px;
}

/*área do rodapé do bloco onde fica o botão ver todos*/
.block-footer-content {
    text-align: right;
    margin-top: 0.5em;
}
.box-2 .block-footer-content,
.box-3 .block-footer-content {
    margin-right: 8px;
}

/*#content .tags-block .block-footer-content a, */

#content .tags-block .block-footer-content a,
#content .people-block .block-footer-content a,
#content .profile-list-block .block-footer-content a,
#content .enterprises-block .block-footer-content a,
#content .members-block .block-footer-content a,
#content .communities-block .block-footer-content a,
#content .softwares-block .block-footer-content a,
#content .institutions-block .block-footer-content a,
#content .friends-block .block-footer-content a {
    background: url("images/bg-btn-ver-mais-1px.png") repeat-x scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    display: inline;
    margin: 14px 0 14px 14px;
    padding: 5px 15px;
    position: relative;
    top: 5px;
}

/*fim botoes ver todos*/


/*************fim - removidos do style.css*******************/


/*******removidos do cabecalho-cinza-theme.css****************/

/***************** padrao dos titulos para os boxes *************/
#content .box .block-title {
    font-size: 12px;
    text-align: left;
    border-bottom: none;
    padding: 5px 8px 18px 7px;
    text-transform: uppercase;
    font-family: "open_sansbold", Arial, Helvetica, sans-serif;
    font-variant: normal;
    margin: 0px 0px 2px 0px;
    border-top: 4px solid #4562b1;
    background: #eee;
    color: #4562b1;
}

#content .box .read-more {
    border-top: 1px solid #2c66ce;
    background: #eee;
}

#content .read-more a {
    color: #000000;
}

#content .box .read-more a::after {
  background: #2c66ce;
}

/* Todos os blocos da coluna da esquerda da mesma cor */
#content .box-2 .block-outer .block-title {
  border-top: 4px solid #4562b1;
  background: #eee;
  color: #4562b1;
}

#content .box-2 .block-outer .read-more {
    border-top: 1px solid #4562b1;
    background: #eee;
}

#content .box-2 .block-outer .read-more a {
    color: #000000;
}

#content .box-2 .block-outer .read-more a::after {
  color: #FFFFFF;
  background: #4562b1;
}

/* Bloco de artigo sempre da mesma cor */

#content .box .article-block .block-title {
  border-top: 4px solid #08A649;
  background: #eee;
  color: #08A649;
}

#content .box .block-outer .article-block  .read-more {
    border-top: 1px solid #08A649;
    background: #eee;
}

#content .box .block-outer .article-block .read-more a {
    color: #000000;
}

#content .box .block-outer .article-block .read-more a::after {
  color: #FFFFFF;
  background: #08A649;
}

/* Bloco de noticias sempre da mesma cor */

#content .box .display-content-block .block-title {
  border-top: 4px solid #643C67;
  background: #eee;
  color: #643C67;
}

#content .box .block-outer .display-content-block .read-more {
    border-top: 1px solid #643C67;
    background: #eee;
}

#content .box .block-outer .display-content-block .read-more a {
    color: #000000;
}

#content .box .block-outer .display-content-block .read-more a::after {
  color: #FFFFFF;
  background: #643C67;
}

/*****************fim padrao dos titulos dos blocos********************/

/*****************Registro de usuário*************************/
.action-account-signup .no-boxes {
    margin-top: 20px;
}
.action-account-signup .no-boxes form {
    margin: 0px;
}

.action-account-signup .singup_text {
     display: inline-block;
    float: left;
    margin-right: 5%;
    margin-top: 70px;
    width: 30%;
}

.action-account-signup #signup-form-header,
.action-account-signup #signup-form-profile {
    float: center;
    margin: 1px auto 5px;
    width: 60%;
}

.action-account-signup form>p {
    clear: both;
}

/**************Fim Registro de usuário*********************/

/********************* PopUp Login*************************/

#TB_window {
    left: -350px;
    margin-left: 50% !important;
    width: 700px !important;
}

#TB_ajaxContent.TB_modal {
    padding: 15px;
    position: relative;
    width: auto !important;
     height: auto !important;
}

#TB_window .login-box{
    width: 100%;
   background: url("images/img_login_popUp.png") no-repeat scroll 90% 30% #FFFFFF;
}

#TB_window .login-box h2{
    background: url("images/bg-titulo-login.png") no-repeat scroll 70px 7px #FFFFFF;
    color: #757575;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    width: 45%;
}

#TB_window .login-box form {
    margin: 0;
    width: 45%;
    /*background: url("images/img_login_popUp.png") no-repeat scroll 70% 30% #FFFFFF;*/
}
/*
#TB_window .login-box .formfieldline input {
    width: 95%;
}

#TB_window .login-box .button-bar input.icon-login {
    background: url("images/btn_entrar_login.png") no-repeat scroll 0 0 #FFFFFF;
    border: 0px none;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 50px !important;
    max-height: 50px !important;
    padding: 0;
    text-transform: uppercase;
    width: 145px;
     cursor: pointer;
}

#TB_window .login-box .button-bar input.icon-login:hover {
    background-image: url("images/btn_entrar_login_hover.png");
}

#TB_window .login-box .button-bar a.icon-close {
  /*background: url("images/btn_cancelar_login.png") repeat-x scroll 0 0 #FFFFFF;*/
   /* background-color: #FCE9E8;
    background-image: none;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #CE5E5E;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    padding: 14px 13px 0;
    text-align: center;
    text-transform: uppercase;
    width: 115px;
}
#TB_window .login-box .button-bar a.icon-close:hover {
    background-color: #FFD1CF;
}

#TB_window .login-box .button-bar input.submit,
#TB_window .login-box .button-bar a.icon-close {
    border: 0px none;
}

#TB_window .login-box .button-bar {
    float: none;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
}

#TB_window .login-box .button-bar .icon-add{
    background-color: #F7E074;
    background-image: none;
    color: #004B82;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin-right: 75px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: -3em;
    width: 30%;
}

#TB_window .login-box .button-bar .icon-add span{
    border-bottom: 1px solid #F7E074;
}

#TB_window .login-box .button-bar .icon-help{

}

#TB_window .login-box form .button-bar {
    float: none;
    width: 100%
}

#email-check, #fake-check, #password-rate, #password-check {
    width: 375px;
}

#signup-form small#signup-balloon,
#signup-form small#password-balloon,
#signup-form small#password-confirmation-balloon,
#signup-form small#email-balloon,
#signup-form small#name-balloon {
    right: 0;
}

/***********************Fim PopUp Login**************************/

/********************area de artigos******************************/

#content .box .article-block .short-post {
    padding-top: 23px;
}

#content .box .article-block .block-title {
    font-size: 18px;
    text-align: left;
    border-bottom: none;
    padding: 6px 8px 22px 10px;
    text-transform: none;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

#content .box .article-block p {
    font-size: 15px;
    text-align: left;
    padding: 0;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 14px 0;
    line-height: 18px;
}

#content .box .article-block .read-more {
    margin-top: 30px;
}

/* padrao do box */
/*#content .box .block-title {
    font-size: 12px;
    text-align: left;
    border-bottom: none;
    padding: 5px 8px 18px 7px;
    text-transform: uppercase;
    font-family: "open_sansbold", Arial, Helvetica, sans-serif;
    font-variant: normal;
    margin: 0px 0px 2px 0px;
    border-top: 4px solid #3E67B1;
    background: #eee;
    color: #3E67B1;
}
*/
#content .box .read-more {
    font-size: 10px;
    text-align: right;
    border-bottom: none;
    text-transform: uppercase;
    font-family: "open_sans", Arial, Helvetica, sans-serif;
    font-variant: normal;
}

#content .read-more a {
    line-height: 20px;
    padding: 8px;
    display: block
}

#content .article-block .read-more a {
    font-size: 11px;
    padding: 9px 9px 10px 9px;
}

#content .read-more a:hover {
    background: #dedede;
}

#content .box .read-more a::after {
    content: url('images/right-arrow.png');
    padding-left: 8px;
    padding-right: 5px;
    margin-left: 7px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-family: "open_sansbold", Arial, Helvetica, sans-serif;
}

#content .box .article-block .read-more a::after {
    font-size: 14px;
}

#content .box-1 .block-title {
    font-size: 18px;
    text-transform: none;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
    padding: 5px 8px 20px 10px;
}

#content .box-1 .block-title span{
    background-image: none;
    padding: 0 1em 0 0;
}

/*tamanho da fonte dentro dos artigos*/
.article-body p{
    font-size:15px;
    line-height:21px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Numeracao dentro de artigos */
.article-body ul {
    list-style-position: inside;
    list-style-type: disc;
}

.article-body ol {
    list-style-position: inside;
    list-style-type: decimal;
}

.article-body li {
    list-style: inherit;
}

/* fim tamanho da fonte dentro dos artigos*/
/***********************fim da area de artigo***************************/
/*Container Block - Bloco de Blocos*/

.container-block-plugin_container-block,
.container-block-plugin_container-block .block-inner-2{
    background-color: transparent;
    padding: 0;
}

.container-block-plugin_container-block .block .block-inner-2{
    background-color: white;
    padding: 1em;
}

.container-block-plugin_container-block .container-block-plugin_container-block .block-inner-2 {
    background-color: white;
    padding-left: 6px;
    padding-top: 5px;
}

.block-outer {
    /*float: left;*/
    margin-bottom: 45px;
    clear: both;
}

.box-1 .block,
.no-boxes .block {
    margin-top: 50px;
}

.container-block-plugin_container-block .block-outer{
    margin-top: 0px;
}

.box-1 .blocks {
    /*margin-top: -30px;*/
}

.block-outer .block .block-outer {
    margin-top: 0;
}

/******************Removi o bloco display content*******************/

/************************Track_list - fazer limpeza***********************************/

/*lista de pendencias*/
.task_box {
    background: none repeat scroll 0 0 #EEEEEE;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 1em;
    position: relative;
}

/*fim lista de pendencias*/

.tag_cloud a{
     white-space: normal;
}


.community-track-plugin_track-card-list-block .track_list{
    text-align: center;
    padding: 0 0px;
}

.track_list .item_card {
    background-color: #FFFAFA;
    border: 1px solid #DDDDDD;
    display: inline-block;
    float: left;
    clear: right;
    margin: 12px 9px 9px;
    max-width: 214px;
    height: 426px;
    padding: 0;
    width: 214px;
}



.track_list .item_card a{
    display: inline-block;
}

.track_list .item_card:hover {
    background-color: white;
}

/*track list nos blocos laterais*/
.box-2{
  width:150px;
}

.box-2 .track_list .item_card,
.box-3 .track_list .item_card {
    margin: 10px 0px;
    /*width: 188px;*/
    width: 100%;
}

/**/


#content .track_list .item_card .track_content{
     height: 390px;
     overflow: hidden;
}

#content .track_list .item_card .track_content .title{
    color: white;
    font-family: Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    min-height: 15px;
    padding: 2px 0;
    text-align: center;

    vertical-align: middle;
    width: 219px;
    display: table-cell;
     height: 45px;
}
#content .track_list .item_card .track_content .image{
    border: 1px solid #ddd;
    width: 196px;
    height: 146px;
    overflow: hidden;
    margin: 8px;
    background-color: #FFF;
  position: relative;
}
/*imagem nos track list nos blocos laterais*/
#content .box-2 .track_list .item_card .track_content .image,
#content .box-3 .track_list .item_card .track_content .image {
    width: 170px;
}

.track_list .image img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

#content .track_list .item_card .track_content .name {
     font-size: 12px;
    font-weight: normal;
    padding: 5px 0;
    text-align: left;
    margin: 0 8px;
    color: #444;
     text-transform: uppercase;
}


#content .track_list .item_card .track_content .lead {
    font-weight: normal;
    padding: 5px 0;
    margin: 0 8px;
    text-align: left;
    color: black;
     font-size: 12px;
}

/**/

/**/

/*track list Internas*/

.track_list .item {
     border-bottom: 1px solid #DDDDDD;
    display: inline-block;
}

.track_list .item .track_content .lead {
    float: left;
    padding: 2em;
    text-align: left;
    width: 40%;
}

/*track list - páginas internas - main content*/

.track_list .track_content {
     /*display: inline-block;*/
     display: block;
    height: 100%;
}

.track_list .item .track_content{
    /*display: block;*/
}


.track_list .item .track_content .lead {
    width: 30%;
}

.track_list .item .track_content .lead p.lead{
    color: #444;
}

#content .track_list .item .track_content .lead a {
    font-weight: bold;
     color: #444;
}

/**/
/*rodapé das cartas de participação*/
.track_list .item_card .track_stats .comments .counter {
  background: url("images/comentarios.png") no-repeat left center #fffafa;
}
.track_list .item_card .track_stats .hits .counter {
  background: url("images/visualizacoes.png") no-repeat left center #fffafa;
}

.track_list .item_card .track_stats {
  padding: 5px 5px 0;
    height: 25px;
}
.track_list .item_card .track_stats .counter {
  margin-top: 1px;
  padding: 3px 0 0 30px;
  text-align: left;
  font-size: 10pt;
  /*display: block;*/
  color: #444;
}
.track_list .item_card .track_stats .comments{
  float: left;
}
.track_list .item_card .track_stats .hits{
  float: right;
}
.track_list .item_card .track_stats .hits .label,
.track_list .item_card .track_stats .comments .label {
  font-size: 7pt;
  /*float: right;*/
  color: #444;
}
.track_list .item_card .track_stats .comments .label {
    display: none;
    visibility: hidden;
}

/**/


/*** step list ***/

/*geral*/

.track_list .item .step {
    padding: 5px;
}

.track_list .item .track_content .steps {
     width: 60%;
    font-weight: normal;
}

.track_list .item .track_content .steps a:hover{
    text-decoration: none;
}


.track_list .item .track_content .steps h3{
    font-size: 13px !important;
    text-transform: uppercase;
    font-weight: normal;
}

.track_list .item .track_content .steps .position,
#track .step_list .step .position {
    border-radius: 50% 50% 50% 50%;
    float: none;
    font-size: 14px;
    margin-right: 5px;
    text-align: center;
    font-weight: bold;
}

#track .step_list .step {
    background: url("images/steps_bg.png") repeat-x center top #fff;/*branco com o fundo em degradê*/
    display: inline-block;
    width: 100%;
}


#track .step_list .step a {
     background-color: transparent;/*transparente*/
    color: #999;/*cinza escuro escuro*/
}

.step a:link, #content .step a:link, dl.portlet .step a:link {
    color: #999; /*cinza escuro*/
    /*teste*/
    display: inline-block;
   max-width: 80%;
   vertical-align: middle;
}

#track .step_list .step .position {
      background-color: #999;/*cinza escuro escuro*/
      color: #fff;/*branco*/
     display: inline-block;
     font-size: 250%;
     margin: 15px;
     padding: 15px;
     line-height: 15px;
}

#track .step_list .step .content {
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
     border-bottom: 0 none;
     vertical-align: top;
     max-width: 80%;
     /*max-width: 600px;*/
}

#track .step_list .step .content .date {
    font-weight: normal;
}

#track .step_list .step .content .name {}

#track .step .name,
#track .step .name a {
    color: #999;
}

#track .step_list .step .content .lead {
    font-weight: normal;
    margin-left: 0px;
    margin-right: 0px;
    color: #666;
}

#track .step_list .step .content .lead p{
    margin-bottom: 0px;
}

#track .step_list .step .content object,
#track .step_list .step .content .lead img{
    max-width: 80%;
}
/*******************************************************************/
/**** BUSCA ****/

.search-results-header {
    border-bottom: 0px;
}

#profile-header {
    position: absolute; /* Corrige link de login  */
}

#public-profile-search, #profile-search-results form, .profile-search-block form {
 background-color: transparent;
}

#public-profile-search .search-field .formfield {
    float: left;
}

#public-profile-search .search-field .formfield input {
    margin-top: 0px;
}

.formfield input, .formfield textarea{
    background: none #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #585858;
    font-size: 16px;
    width: 100%;
     word-wrap: break-word;
}

.formfield.type-file input {
     height: 28px;
    max-height: 30px;
}

.formfield input {
    padding: 5px 0;
    max-height: 19px;
}

.search-field .formfield, .search-field .formfield input {
     margin-right: 0.5em;
}

#search-page form.search_form input.icon-search {
    background: url("images/btn_busca.png") no-repeat scroll 50% 50% transparent;
    border: 1px solid #DDDDDD;
    min-height: 31px;
    padding-right: 20px;
    text-indent: -10000px;
     max-height: 31px;
}

#content .button-bar a.icon-cancel span{
    vertical-align: text-middle;
}
/****RESULTADO DA BUSCA *****/

#search-results {
    width: 100% !important;
}

.controller-search .multiple-results-boxes .search-results-innerbox.common-profile-list-block {
    overflow: visible;
}

.controller-search .search-results-box {
    width: 100%;
    margin-bottom: 20px;
}

.controller-search #search-results h3 {
    background-color: #497B16;
    color: white;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0.5em;
    position: relative;
}

.controller-search #search-results .search-results-innerbox li .search-result-title {
    margin-left: 148px;
    color: #444444;
}

.search-article-description {
    color: #999999;
}

#search-page .map-or-list-search-results list {

}

.search-results-innerbox {
    border-top: 1px solid #CCCCCC;
}

.controller-search .search-results-innerbox {
    height: 100%;
}

.search-results-type-article li.article-item,
.search-tagged-items li.article-item,
.only-one-result-box li.search-product-item {
    border-bottom: 0px solid #fff;
}

.controller-search .search-results-innerbox td.search-field-label{
    display: none;
}

/*busca de midia*/

.media-search-box form span.formfield #media-search-query{
    float: left;
    margin-right: 5px;
}

/*Busca em Profile*/
#profile-search-results ul.results-list {

}

#profile-search-results ul.results-list li{
    display: block;
    margin-bottom: 18px;
}

#profile-search-results ul.results-list .result-title{
    color: #444444;
    display: inline-block;
    font-size: 180%;
    font-weight: bold;
    padding: 4px 0;
}

#profile-search-results ul.results-list .article-details {
    color: #999999;
}

#profile-search-results ul.results-list .article-url {

}

/**** FIM DE BUSCA ****/

/*******fim - removidos do cabecalho-cinza-theme.css****************/
