/******************removidos do style.css***************************/
/*****************Organizacao geral dos blocos**********************/
.box-1 {
   /* display: inline-block;*/
   /*width: 490px;*/
}

.box-2 {
    display: inline-block;
    vertical-align: top;
    width: 150px;
}

.box-3{
  width: 190px; /*230px;*/
}


.box-2 .block .block-inner-2,
.box-3 .block .block-inner-2 {
/*    padding: 0 0 1em;*/
}
/**********************************************************************/
/*oculta campo de busca perto do login apos remover o css do cabecalho*/
#user form {
display: none;
}
/**********************************************************************/

/*label dos radio buttons da busca*/
#content .search-field label {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    margin-left: 5px;
}

#public-profile-search .formfield, #public-profile-search .submit {
    margin-bottom: 5px;
}

#content .profile ul{
    margin-left: 1em;
}
/****************************************************************/

/*paginação*/

.pagination {
    border-top: 0 none;
}

.pagination {
    font-size: 120%;
    margin-bottom: 30px;
}

.pagination .previous_page {
    margin-right: 0.5em; font-weight: bold;
}
.pagination .next_page {
    margin-left: 0.5em; font-weight: bold;
}

#content .pagination a {
    padding: 7px 11px 7px 11px;
    border-radius: 4px;
    margin-right: 4px;
    letter-spacing: 0.6px;
    color: #172738;
    border: 1px solid #D3D6DE;
}

.pagination .current {
    background-color: #ECEDF1;
    padding: 8px 11px 8px 11px;
    border-radius: 4px;
    margin-right: 4px;
    font-family: Arial;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #D3D6DE;
}

#content .pagination a.previous_page,
#content .pagination a.next_page{
    background-image: none;
    color: #888888;
    font-size: 14px;
    width: auto;
}


#content #article .pagination .next_page,
#content #article .pagination .previous_page{
    background-image: none;
    color: #ccc;
    width: auto;
    font-size: 16px;
}

/*fim paginação*/
/**********************************************************************/

/*botão ver todos*/
.more_button,
.read_more {
    margin-bottom: 15px;
    margin-top: -5px;
    color: #000000;
    font-size: 11px;
    text-align: left;
}

#content .more_button .view_all a,
#content .read_more a{
    background: url("images/button-read-more-vazio.png") no-repeat scroll left 50% transparent;
    color: #333;
    display: inline-block;
    font-weight: bold;
     padding: 10px 20px 10px 50px;
    text-align: left;
     font-family: Arial, sans-serif;
}

.community-track-plugin_track-card-list-block .more_button{
    text-align: right;
}

.community-track-plugin_track-card-list-block .more_button .view_all a{
    margin-right: 12px;
}

/*área do rodapé do bloco onde fica o botão ver todos*/
.block-footer-content {
    text-align: right;
    margin-top: 0.5em;
}
.box-2 .block-footer-content,
.box-3 .block-footer-content {
    margin-right: 8px;
}

/*#content .tags-block .block-footer-content a, */

#content .tags-block .block-footer-content a,
#content .people-block .block-footer-content a,
#content .profile-list-block .block-footer-content a,
#content .enterprises-block .block-footer-content a,
#content .members-block .block-footer-content a,
#content .communities-block .block-footer-content a,
#content .softwares-block .block-footer-content a,
#content .institutions-block .block-footer-content a,
#content .friends-block .block-footer-content a {
    background: url("images/bg-btn-ver-mais-1px.png") repeat-x scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    display: inline;
    margin: 14px 0 14px 14px;
    padding: 5px 15px;
    position: relative;
    top: 5px;
}

/*fim botoes ver todos*/
/*************fim - removidos do style.css*******************/

/*******removidos do cabecalho-cinza-theme.css****************/
/***************** padrao dos titulos para os boxes *************/
#content .box .block-title {
    font-size: 12px;
    text-align: left;
    border-bottom: none;
    padding: 5px 8px 18px 7px;
    text-transform: uppercase;
    font-family: "open_sansbold", Arial, Helvetica, sans-serif;
    font-variant: normal;
    margin: 0px 0px 2px 0px;
    border-top: 4px solid #4562b1;
    background: #eee;
    color: #4562b1;
}

#content .box .read-more {
    border-top: 1px solid #2c66ce;
    background: #eee;
}

#content .read-more a {
    color: #000000;
}

#content .box .read-more a::after {
  background: #2c66ce;
}

/* Todos os blocos da coluna da esquerda da mesma cor */
#content .box-2 .block-outer .block-title {
  border-top: 4px solid #4562b1;
  background: #eee;
  color: #4562b1;
}

#content .box-2 .block-outer .read-more {
    border-top: 1px solid #4562b1;
    background: #eee;
}

#content .box-2 .block-outer .read-more a {
    color: #000000;
}

#content .box-2 .block-outer .read-more a::after {
  color: #FFFFFF;
  background: #4562b1;
}

/* Bloco de artigo sempre da mesma cor */

#content .box .article-block .block-title {
  border-top: 4px solid #08A649;
  background: #eee;
  color: #08A649;
}

#content .box .block-outer .article-block  .read-more {
    border-top: 1px solid #08A649;
    background: #eee;
}

#content .box .block-outer .article-block .read-more a {
    color: #000000;
}

#content .box .block-outer .article-block .read-more a::after {
  color: #FFFFFF;
  background: #08A649;
}

/*****************fim padrao dos titulos dos blocos********************/

/*****************Registro de usuário*************************/
.action-account-signup .no-boxes {
    margin-top: 20px;
}
.action-account-signup .no-boxes form {
    margin: 0px;
}

.action-account-signup .singup_text {
     display: inline-block;
    float: left;
    margin-right: 5%;
    margin-top: 70px;
    width: 30%;
}

.action-account-signup #signup-form-header,
.action-account-signup #signup-form-profile {
    float: center;
    margin: 1px auto 5px;
    width: 60%;
}

.action-account-signup form>p {
    clear: both;
}

/**************Fim Registro de usuário*********************/

/****removi daqui o css popUp Login***********************/

/********************area de artigos******************************/

#content .box .article-block .short-post {
    padding-top: 23px;
}

#content .box .article-block .block-title {
    font-size: 18px;
    text-align: left;
    border-bottom: none;
    padding: 6px 8px 22px 10px;
    text-transform: none;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

#content .box .article-block p {
    font-size: 15px;
    text-align: left;
    padding: 0;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 14px 0;
    line-height: 18px;
}

#content .box .article-block .read-more {
    margin-top: 30px;
}

/* padrao do box */
/*#content .box .block-title {
    font-size: 12px;
    text-align: left;
    border-bottom: none;
    padding: 5px 8px 18px 7px;
    text-transform: uppercase;
    font-family: "open_sansbold", Arial, Helvetica, sans-serif;
    font-variant: normal;
    margin: 0px 0px 2px 0px;
    border-top: 4px solid #3E67B1;
    background: #eee;
    color: #3E67B1;
}
*/
#content .box .read-more {
    font-size: 10px;
    text-align: right;
    border-bottom: none;
    text-transform: uppercase;
    font-family: "open_sans", Arial, Helvetica, sans-serif;
    font-variant: normal;
}

#content .read-more a {
    line-height: 20px;
    padding: 8px;
    display: block
}

#content .article-block .read-more a {
    font-size: 11px;
    padding: 9px 9px 10px 9px;
}

#content .read-more a:hover {
    background: #dedede;
}

#content .box .read-more a::after {
    content: url('images/right-arrow.png');
    padding-left: 8px;
    padding-right: 5px;
    margin-left: 7px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-family: "open_sansbold", Arial, Helvetica, sans-serif;
}

#content .box .article-block .read-more a::after {
    font-size: 14px;
}

#content .box-1 .block-title {
    font-size: 18px;
    text-transform: none;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
    padding: 5px 8px 20px 10px;
}

#content .box-1 .block-title span{
    background-image: none;
    padding: 0 1em 0 0;
}
/***************removi artigos para pagina-artigos.css*****************/
/***********************fim da area de artigo***************************/
/*Container Block - Bloco de Blocos*/

.container-block-plugin_container-block,
.container-block-plugin_container-block .block-inner-2{
    background-color: transparent;
    padding: 0;
}

.container-block-plugin_container-block .block .block-inner-2{
    background-color: white;
    padding: 1em;
}

.container-block-plugin_container-block .container-block-plugin_container-block .block-inner-2 {
    background-color: white;
    padding-left: 6px;
    padding-top: 5px;
}

.block-outer {
    /*float: left;*/
    margin-bottom: 45px;
    clear: both;
}

.box-1 .block,
.no-boxes .block {
    margin-top: 50px;
}

.container-block-plugin_container-block .block-outer{
    margin-top: 0px;
}

.box-1 .blocks {
    /*margin-top: -30px;*/
}

.block-outer .block .block-outer {
    margin-top: 0;
}

/******************Removi o bloco display content*******************/
/*******************Removi track list *****************************/

/**** BUSCA ****/

.search-results-header {
    border-bottom: 0px;
}

#profile-header {
    position: absolute; /* Corrige link de login  */
}

#public-profile-search, #profile-search-results form, .profile-search-block form {
 background-color: transparent;
}

#public-profile-search .search-field .formfield {
    float: left;
}

#public-profile-search .search-field .formfield input {
    margin-top: 0px;
}

.formfield input, .formfield textarea{
    background: none #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #585858;
    font-size: 16px;
    width: 100%;
     word-wrap: break-word;
}

.formfield.type-file input {
     height: 28px;
    max-height: 30px;
}

.formfield input {
    padding: 5px 0;
    max-height: 19px;
}

.search-field .formfield, .search-field .formfield input {
     margin-right: 0.5em;
}

#search-page form.search_form input.icon-search {
    background: url("images/btn_busca.png") no-repeat scroll 50% 50% transparent;
    border: 1px solid #DDDDDD;
    min-height: 31px;
    padding-right: 20px;
    text-indent: -10000px;
     max-height: 31px;
}

#content .button-bar a.icon-cancel span{
    vertical-align: text-middle;
}
/****RESULTADO DA BUSCA *****/

#search-results {
    width: 100% !important;
}

.controller-search .multiple-results-boxes .search-results-innerbox.common-profile-list-block {
    overflow: visible;
}

.controller-search .search-results-box {
    width: 100%;
    margin-bottom: 20px;
}

.controller-search #search-results h3 {
    background-color: #497B16;
    color: white;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0.5em;
    position: relative;
}

.controller-search #search-results .search-results-innerbox li .search-result-title {
    margin-left: 148px;
    color: #444444;
}

.search-article-description {
    color: #999999;
}

#search-page .map-or-list-search-results list {

}

.search-results-innerbox {
    border-top: 1px solid #CCCCCC;
}

.controller-search .search-results-innerbox {
    height: 100%;
}

.search-results-type-article li.article-item,
.search-tagged-items li.article-item,
.only-one-result-box li.search-product-item {
    border-bottom: 0px solid #fff;
}

.controller-search .search-results-innerbox td.search-field-label{
    display: none;
}

/*busca de midia*/

.media-search-box form span.formfield #media-search-query{
    float: left;
    margin-right: 5px;
}

/*Busca em Profile*/
#profile-search-results ul.results-list {

}

#profile-search-results ul.results-list li{
    display: block;
    margin-bottom: 18px;
}

#profile-search-results ul.results-list .result-title{
    color: #444444;
    display: inline-block;
    font-size: 180%;
    font-weight: bold;
    padding: 4px 0;
}

#profile-search-results ul.results-list .article-details {
    color: #999999;
}

#profile-search-results ul.results-list .article-url {

}

/**** FIM DE BUSCA ****/

#category-ajax-selector .select-subcategory-link:hover {
    color: #fff;
}

/*******************Area de agenda**************************/
.agenda-item a {
  color: black;
}
.agenda-item a:visited {
  color: black;
  font-weight: normal;
}
.agenda-item a:hover {
  color: black;
  text-decoration: underline !important;
}
/*******************fim da agenda****************************/

/************** data - evento *************/

li.event-dates {
    background: url("/images/icons-mime/event.png") no-repeat scroll 100% 50% white;

    float: none;
    padding: 5px 32px 5px 5px;
     text-align: right;
}
/************************fim data - evento*********************/

/*************** Resultado da busca geral noosfero *****************/
.no-boxes-inner-2 {
    background-color: white;
}

.only-one-result-box .common-profile-list-block {
    float: none;
}

.common-profile-list-block span {
    line-height: 1.2em;
    overflow: visible;
    width: 100%;
    word-wrap: break-word;
}

.search-results-box .common-profile-list-block li {
    display: inline-block;
    width: 112px;
}

.common-profile-list-block,
ul.profile-list .common-profile-list-block {
    display: inline-block;
     vertical-align: top;
}

.main-block .common-profile-list-block {
    display: block;
}

#search-results .common-profile-list-block {
    display: inline-block;
    vertical-align: top;
}

.vcard .menu-submenu-list li {
    display: block;
}

.common-profile-list-block .profile-image {
    display: table-cell;
    height: 56px;
    max-height: 100%;
    text-align: center;
}

/*.box-2 .common-profile-list-block .vcard a.profile_link,
.box-3 .common-profile-list-block .vcard a.profile_link,*/
.common-profile-list-block .vcard a.profile_link {
    margin-bottom: 5px;
    float: none;
}


.box-2 .common-profile-list-block .vcard a.profile_link,
.box-3 .common-profile-list-block .vcard a.profile_link {
    height: auto;
    max-height: 100%;
}

.common-profile-list-block .vcard {
    float: none;
}

.common-profile-list-block .vcard a, .comment-actions .vcard a {
     margin: 0;
     height: auto;
     padding-top: 0;
     overflow: visible;
}

#content .comment-actions li {
  padding: 2px;
}


#article .article-comment .comment-details .comment-actions h4 {
  display: none;
}

.menu-submenu-trigger, .comment-actions .vcard .menu-submenu-trigger {
 width: 20px;
 height: 20px;
}

.common-profile-list-block .vcard:hover .menu-submenu-trigger {
/*  display: none;*/
}

/*******Alinhamento da imagem de pessoas no bloco**********/

.box-2 .common-profile-list-block .profile-image,
.box-3 .common-profile-list-block .profile-image{
    height: 56px;
}

/*fim alinhamento da imagem de pessoas nos blocos - incluindo página inicial*/

.relevant-content-plugin_relevant-content-block ul{
    padding: 0;
}

.relevant-content-plugin_relevant-content-block li {
}
.relevant-content-plugin_relevant-content-block li:hover {
    background-color: #eee;
}
.relevant-content-plugin_relevant-content-block li a{
    color: #333;
    display: block;
    padding: 0.5em 1em;
}

/*******************fim resultado da busca geral***********/

/*botão rss*/
#article .blog-feed-link {
    position: relative;
    right: 0;
    top: 0;
}
/*******************************/

#box-organizer .block-target { clear: both; }

/*.profile-info-options*/
#content .profile-info-options {
    padding-right: 0;
}

#content .profile-info-options ul {
    margin-left: 0px;
}

#content .profile-info-options input.button.with-text,
#content .profile-info-options a.button.with-text {
    background-color: #fff;
    border-radius: 0 0 0 0;
    display: block;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-top: 5px;
    text-align: left;
}
#content .profile-info-options a.button.with-text{
    border: 0px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC !important;
}

#content .profile-info-options input.button:hover,
#content .profile-info-options a.button:hover {
     background-color: #ccc;
    border: 1pxpx solid #CCC;
}


/*comentário*/

#comments_list.comments{
    border: 1px solid #CCCCCC;
    margin: 20px 0;
}

#content .main-block  #comments_list h3 {
    border-bottom: 1px solid #CCCCCC;
    margin: 0;
    min-height: 100% !important;
    padding: 14px;
     color: #999;
}
#article .article-comments-list,
#article .article-comments-list ul,
#article .article-comments-list li {
    list-style: none outside none;
    margin: 5px 0 10px;
    padding: 0;
}

#article .article-comments-list li {
    padding: 14px;
}

.comments .comment-count-write-out {
    min-height: 100%;
}

/*btn comentários*/

#content .blog-post .short-post .read-more a{
     text-decoration: none;
     background: url("images/bg-btn-ver-mais-1px.png") repeat-x scroll 0 0 #DDD;
    border: 1px solid #CCC;
    border-radius: 5px;
    color: #666;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;

}

/* nao mostrar seta neste tipo de box */
#content .blog-post .short-post .read-more a::after {
    content: none;
    }

.comment-info {
    line-height: 1em;
    margin-top: 5px;
}

#article .article-comments-list li {
     display: block;
    list-style: none outside none;
    margin: 10px 0 0;
     padding: 1em;
}

#article .comment-replies .article-comment {
    background: url("/images/black-alpha-pixel-5.png") repeat scroll left top transparent;
    border: 1px solid #808080;
    border-radius: 5px 5px 5px 5px;
    margin-top: 0px;
    padding: 0;
}

#content .comment-picture {
    max-width: 50px;
     word-wrap: break-word;
}

.comment-replies .comment-picture {
    height: auto;
    max-width: 50px;
     overflow: visible;
}

.comment-created-at{
    display: block;
    float: none;
     margin-left: 0;
     color: red;
     font-style: italic;
     margin-bottom: 1em;
}

#article .article-comment .comment-details h4 {
    display: block;
}

.comment-text p {
    line-height: 1.3em;
}

.article-comment .comment-details {
    padding-top: 0;
}


#comments_list .comment-balloon {

}
#comments_list .comment-balloon .comment-wrapper-1,
#comments_list .comment-balloon .comment-wrapper-2,
#comments_list .comment-balloon .comment-wrapper-3,
#comments_list .comment-balloon .comment-wrapper-4,
#comments_list .comment-balloon .comment-wrapper-5,
#comments_list .comment-balloon .comment-wrapper-6,
#comments_list .comment-balloon .comment-wrapper-7,
#comments_list .comment-balloon .comment-wrapper-8{
    background-image: none;
}

#comments_list a.display-comment-form {
     background: url("images/bg-btn-ver-mais-1px.png") repeat scroll 0 0 #EEEEEE;
     border-color: #ddd;
     margin: 14px;
}

#content .comment-header .comment-actions-reply{
    margin-right: 5px;
   margin-top: 5px;
}

.comment-details .menu-submenu {
  bottom: -4px;
  right: -130px;
}

#page-comment-form .post_comment_box {
     display: inline-block;
    padding: 5px;
    text-align: left;
}

/* fim de comentário*/




/*****fim - removidos do cabecalho-cinza-theme.css**********/
