/************Removido do style.css************/
#main-content-wrapper-1,
#main-content-wrapper-2,
#main-content-wrapper-3,
#main-content-wrapper-4,
#main-content-wrapper-5,
#main-content-wrapper-6,
#main-content-wrapper-7,
#main-content-wrapper-8 {
    background: none repeat scroll 0 0 transparent;
}

/*menu no cabecalho atualmente em desuso*/
#assets-menu {
    background: #E8E8E8;
    top: 35px;
    left: 80px;
    min-width: 132px;
}

#assets-menu a {
    border: 1px solid #E8E8E8;
}

#categories_menu {
    /*max-width: 960px;*/
  padding: 0 1em;
    margin: auto;
}


#cat_menu {
    background: url(images/marca-participacao-social.png) no-repeat center left;
    height: 40px;
    padding-left: 60px;
}


#cat_menu li {
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 20px;
    height: 100%;
    text-transform: uppercase;
}

#cat_menu li:hover {
    background-color: #E1E4E4;
}

#cat_menu li a {
    line-height: 40px;
    width: 100%;
    height: 100%;
    display: block;
}
/*Fim do menu em desuso*/

/*nao localizei em que area isso se aplica*/

.portalservicos-item div {
    display: none;
    position: absolute;
     background-color: red;
}

.portalservicos-item:hover div {
    display: inline-block;
    float: left;
    width: 960px;
    top: 25px;
    left: 0;
    background-color: blue;
}

.portalservicos-submenu:hover {
    display: inline-block;
    float: left;
    width: 960px;
    top: 25px;
    left: 0;
    background-color: green;
}

/* Bubble Float Bottom */
.bubble-float-bottom {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.bubble-float-bottom:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: bottom;
  transition-property: bottom;
}
.bubble-float-bottom:hover, .bubble-float-bottom:focus, .bubble-float-bottom:active {
  -webkit-transform: translateY(-5px) translateZ(0);
  transform: translateY(-5px) translateZ(0);
}
.bubble-float-bottom:hover:before, .bubble-float-bottom:focus:before, .bubble-float-bottom:active:before {
  bottom: -10px;
}
/************************************************************/


/* chat {{{ */

#chat .toolbar {
  background-color: #F8C300;
  border: 2px solid #F8C300;
}

#chat #environment-logo {
  background-color: #FCDD4E;
}

#chat #buddy-list,
#chat #occupant-list {
  background-color: #EEE;
}

/* }}} */


/*****css feito para um bloco novo que nao chegou a ser construido****************/
/** Bloco de redes sociais **/
.social_widget {
  margin-left: 5px;
}

.social_widget .social_header {
  height: 27px;
  margin-top: 12px;
}

.social_widget.twitter {
  background: url(images/twitter-widget.png) no-repeat;
}

.social_widget.facebook {
  background: url(images/facebook-widget.png) no-repeat;
}

.social_widget.instagram {
  background: url(images/instagram-widget.png) no-repeat;
}

.social_widget.instagram .social_content {
  margin-top: 15px;
}

#content .no-boxes #main-content-wrapper-8 {
  padding: 10px 10px;
}

#content .no-boxes #main-content-wrapper-8 .all_tracks {
  padding-left: 2px;
}

/********************************************************/

/*****************************************************/
/*                  EMBED CSS                        */
/*****************************************************/
body.action-embed-index {
  background-color: #f0f0f0;
}

#embed {
  width: 100%;
  height: 100%;
  display: table;
}

#embed #content {
    left: 0;
    margin-left: 0;
    margin-top: 0;
    position: relative;
    width: 100%;
}

#embed #content .title {
    padding-right: 0px;
}

.action-embed-index #boxes,
.action-embed-index .box-1 .blocks,
.action-embed-index .block-outer,
.action-embed-index #content .block {
  margin: 0px;
}

.action-embed-index #wrap-1 {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.action-embed-index #wrap-2 {
  border: 0px solid #F00;
  padding: 0px;
  background-color: #EEE;
  margin: 0px;
}

.action-embed-index .block .block-inner-2 {
  background-color: white;
  padding: 1em;
  margin: 0;
}

.action-embed-index #content .box-1 .block-title {
  background-color: transparent;
  border-bottom: 0 solid #AAAAAA;
  border-top: 0 none;
  left: -12px;
  margin-bottom: 0;
  margin-top: -38px;
  position: relative;
}

.action-embed-index #content .box-1 .block-title span {
  background-color: #497b16;
  color: white;
  font-size: 18px;
  font-variant: normal;
  padding: 6px 1em;
  text-align: left;
}

/******** BLOCK => TRACK CARD LIST *********/
.action-embed-index .community-track-plugin_track-card-list-block .block-inner-2 {
  background: url("images/bg-bloco-de-trilhas.png") no-repeat scroll center top transparent;
}

.action-embed-index .community-track-plugin_track-card-list-block .track_list {
  text-align: center;
  padding: 22px 0px 0px 0px;
}

.action-embed-index .community-track-plugin_track-card-list-block .view_all a {
  position: absolute;
  right: -12px;
  top: -33px;
}


/************************Track_list************************************/

/*lista de pendencias*/
.task_box {
    background: none repeat scroll 0 0 #EEEEEE;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 1em;
    position: relative;
}

/*fim lista de pendencias*/

.tag_cloud a{
     white-space: normal;
}


.community-track-plugin_track-card-list-block .track_list{
    text-align: center;
    padding: 0 0px;
}

.track_list .item_card {
    background-color: #FFFAFA;
    border: 1px solid #DDDDDD;
    display: inline-block;
    float: left;
    clear: right;
    margin: 12px 9px 9px;
    max-width: 214px;
    height: 426px;
    padding: 0;
    width: 214px;
}



.track_list .item_card a{
    display: inline-block;
}

.track_list .item_card:hover {
    background-color: white;
}

/*track list nos blocos laterais*/
.box-2{
  width:150px;
}

.box-2 .track_list .item_card,
.box-3 .track_list .item_card {
    margin: 10px 0px;
    /*width: 188px;*/
    width: 100%;
}

/**/


#content .track_list .item_card .track_content{
     height: 390px;
     overflow: hidden;
}

#content .track_list .item_card .track_content .title{
    color: white;
    font-family: Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    min-height: 15px;
    padding: 2px 0;
    text-align: center;

    vertical-align: middle;
    width: 219px;
    display: table-cell;
     height: 45px;
}
#content .track_list .item_card .track_content .image{
    border: 1px solid #ddd;
    width: 196px;
    height: 146px;
    overflow: hidden;
    margin: 8px;
    background-color: #FFF;
  position: relative;
}
/*imagem nos track list nos blocos laterais*/
#content .box-2 .track_list .item_card .track_content .image,
#content .box-3 .track_list .item_card .track_content .image {
    width: 170px;
}

.track_list .image img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

#content .track_list .item_card .track_content .name {
     font-size: 12px;
    font-weight: normal;
    padding: 5px 0;
    text-align: left;
    margin: 0 8px;
    color: #444;
     text-transform: uppercase;
}


#content .track_list .item_card .track_content .lead {
    font-weight: normal;
    padding: 5px 0;
    margin: 0 8px;
    text-align: left;
    color: black;
     font-size: 12px;
}

/**/

/**/

/*track list Internas*/

.track_list .item {
     border-bottom: 1px solid #DDDDDD;
    display: inline-block;
}

.track_list .item .track_content .lead {
    float: left;
    padding: 2em;
    text-align: left;
    width: 40%;
}

/*track list - páginas internas - main content*/

.track_list .track_content {
     /*display: inline-block;*/
     display: block;
    height: 100%;
}

.track_list .item .track_content{
    /*display: block;*/
}


.track_list .item .track_content .lead {
    width: 30%;
}

.track_list .item .track_content .lead p.lead{
    color: #444;
}

#content .track_list .item .track_content .lead a {
    font-weight: bold;
     color: #444;
}

/**/
/*rodapé das cartas de participação*/
.track_list .item_card .track_stats .comments .counter {
  background: url("images/comentarios.png") no-repeat left center #fffafa;
}
.track_list .item_card .track_stats .hits .counter {
  background: url("images/visualizacoes.png") no-repeat left center #fffafa;
}

.track_list .item_card .track_stats {
  padding: 5px 5px 0;
    height: 25px;
}
.track_list .item_card .track_stats .counter {
  margin-top: 1px;
  padding: 3px 0 0 30px;
  text-align: left;
  font-size: 10pt;
  /*display: block;*/
  color: #444;
}
.track_list .item_card .track_stats .comments{
  float: left;
}
.track_list .item_card .track_stats .hits{
  float: right;
}
.track_list .item_card .track_stats .hits .label,
.track_list .item_card .track_stats .comments .label {
  font-size: 7pt;
  /*float: right;*/
  color: #444;
}
.track_list .item_card .track_stats .comments .label {
    display: none;
    visibility: hidden;
}

/**/


/*** step list ***/

/*geral*/

.track_list .item .step {
    padding: 5px;
}

.track_list .item .track_content .steps {
     width: 60%;
    font-weight: normal;
}

.track_list .item .track_content .steps a:hover{
    text-decoration: none;
}


.track_list .item .track_content .steps h3{
    font-size: 13px !important;
    text-transform: uppercase;
    font-weight: normal;
}

.track_list .item .track_content .steps .position,
#track .step_list .step .position {
    border-radius: 50% 50% 50% 50%;
    float: none;
    font-size: 14px;
    margin-right: 5px;
    text-align: center;
    font-weight: bold;
}

#track .step_list .step {
    background: url("images/steps_bg.png") repeat-x center top #fff;/*branco com o fundo em degradê*/
    display: inline-block;
    width: 100%;
}


#track .step_list .step a {
     background-color: transparent;/*transparente*/
    color: #999;/*cinza escuro escuro*/
}

.step a:link, #content .step a:link, dl.portlet .step a:link {
    color: #999; /*cinza escuro*/
    /*teste*/
    display: inline-block;
   max-width: 80%;
   vertical-align: middle;
}

#track .step_list .step .position {
      background-color: #999;/*cinza escuro escuro*/
      color: #fff;/*branco*/
     display: inline-block;
     font-size: 250%;
     margin: 15px;
     padding: 15px;
     line-height: 15px;
}

#track .step_list .step .content {
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
     border-bottom: 0 none;
     vertical-align: top;
     max-width: 80%;
     /*max-width: 600px;*/
}

#track .step_list .step .content .date {
    font-weight: normal;
}

#track .step_list .step .content .name {}

#track .step .name,
#track .step .name a {
    color: #999;
}

#track .step_list .step .content .lead {
    font-weight: normal;
    margin-left: 0px;
    margin-right: 0px;
    color: #666;
}

#track .step_list .step .content .lead p{
    margin-bottom: 0px;
}

#track .step_list .step .content object,
#track .step_list .step .content .lead img{
    max-width: 80%;
}

/*****************************************************/

/*********Removido do cabecalho cinza theme******************/

/* verificar onde isso se aplica

.modal {
    top: 50%;
}

body div.overlaybg div.close,
body div.overlay div.close {
    right: -14px;
    left: auto;
}

.design-menu {
    display: inline-block;
}
*/
/******/
/*removi o pop-up login e o registro de usuario daqui*/
/* padrao do box */
/*#content .box .block-title {
    font-size: 12px;
    text-align: left;
    border-bottom: none;
    padding: 5px 8px 18px 7px;
    text-transform: uppercase;
    font-family: "open_sansbold", Arial, Helvetica, sans-serif;
    font-variant: normal;
    margin: 0px 0px 2px 0px;
    border-top: 4px solid #3E67B1;
    background: #eee;
    color: #3E67B1;
}
*/



/*#content .box-1 .block-title {
    border-top: 0px hidden transparent;
    padding: 0px;
    background: transparent;
}*/

/* Menu List footer */
/*
#content .box-3 .block-title{
    margin:0;
}


#content .box-3 .link-list-block li a.link-this-page {
    width: auto;
    border-right: none;
    font-weight: bold;
    border-radius: 0px;
}

#content .box-3 .link-list-block li a {
    font-size: 14px;
    line-height: 1em;
    color: #545454;
    background-color: #FFF;
    border-radius: none;
    padding: 0.6em 1.1em;
}

#content .box-3 .link-list-block li a:hover {
    background-color: #FFF;
    color: #000;
}

#content .box-3 .link-list-block li {
    border-bottom: none;
    border-top: none;
    padding: 0;
    margin: 0;
}
*/

/****** Plugin para curtir artigos e comentários******/
.pairwise-plugin_pairwise-content .vote-actions {
  display: none;
}

.action .dislike:before {
  content: url(images/negative-hand.png);
}

.action .like:before {
  content: url(images/positive-hand.png);
}

.action .vote-detail {
  width: 160px;
}

.vote-action .like-action-active .action-icon {
  opacity: 1;
}

#article .action .vote-detail li {
  padding: 0px;
}

.vote-action .action-icon {
  opacity: 0.5;
}

#article .action .action-icon {
  top: 3px;
}

#article .like-action .like-action-counter {
  color: #2A8C32;
}

#article .dislike-action .like-action-counter {
  color: #CC0000;
}

.vote-actions {
    position: relative;
    right: 0;
    top: 0;
}

#article .action .vote-detail li {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 5px;
    margin-left: 0;
    text-align: left;
}

#article .action .vote-detail li a span{
    float: left;
    margin-left: 5px;
    width: 120px;
}
#article .action .vote-detail li a img {
    float: left;
}

/*****************************************************************/

/*bloco de steps em main area - */

#content .community-track-plugin_track-list-block .steps .step .position {
    margin: 5px 3px;
    padding: 0 6px;
}

.community-track-plugin_track-list-block .steps .step .name{
     display: inline-block;
    vertical-align: middle;
    width: 75%;
}

#article .step_list .step .step_actions .button{
    border-radius: 0 0 0 0;
}

/*ítens específicos*/

/*oculto*/
#track #hidden_steps .step_list .step .position {
    background-color: transparent;
}

/*ativo*/

#content .step.step_active {
    background-color: #E8F3E9;/*verde claro*/
    background-image: url("images/no-image.gif");
}

#content .step.step_active:hover {
    background-color: #B8D4C1;
}

#content .step.step_active a {
     color: #397941;/*verde escuro*/
}

#content .step.step_active .position{
      background-color: #397941;/*verde escuro*/
      color: #E8F3E9;/*verde claro*/
}

.step_active a:link, #content .step_active a:link, dl.portlet .step_active a:link {
    color: #397941; /*verde escuro*/
}

/*em andamento*/

#content .step.step_waiting {
    background-color: #fff0cf;/*laranja claro*/
    background-image: url("images/no-image.gif");
}

#content .step.step_waiting:hover {
    background-color: #E6E6BC;
}

#content .step.step_waiting a {
     color: #C6A142;/*laranja escuro*/
}

#content .step.step_waiting .position{
      background-color: #c6a142;/*laranja escuro*/
      color: #fff0cf;/*laranja claro*/
}

.step_waiting a:link, #content .step_waiting a:link, dl.portlet .step_waiting a:link {
    color: #c6a142; /*laranja escuro*/
}

/*finalizado*/

#content .step.step_finished {
    background: url("images/steps_bg.png") repeat-x center top #fff;/*branco com o fundo em degradê*/
}

#article .step_finished .tool_link:hover, #content .steps .step_finished:hover {
    background-color: #EEE;
    background-image: none;
}
#content .step.step_finished:hover {
    background-color: #EEE;
    background-image: none;
}

#content .step.step_finished a {
     background-color:transparent;/*transparente*/
    color: #999;/*cinza escuro escuro*/
}

.step_finished a:link, #content .step_finished a:link, dl.portlet .step_finished a:link {
    color: #999; /*cinza escuro*/
}

#content .step.step_finished .position{
    background-color: #999;/*cinza escuro escuro*/
    color: #fff;/*branco*/
}

/*****fim step list******/

/**********************Verificar onde se aplica ********************************/
.pairwise-plugin_pairwise-content #article-header .title {
  display: none;
}

#pairwise_main {
    text-align: center;
    width: auto;
}

#pairwise_main ul.pairwise_menu {
    background-color: white;
    color: #ECF2E7;
    text-align: right;
}

#pairwise_main ul.pairwise_menu li {
    display: inline;
}

#pairwise_main ul.pairwise_menu li a {
    color: #b3c4a6;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
}

#pairwise_main ul.pairwise_menu li a:hover{
    color: #497B16;
    background-color: #ECF2E7;
    border-radius: 10px 10px 0 0;
    border: 1px solid #b3c4a6;
    border-bottom: 0px;
    margin: -1px;
}

#pairwise_main ul.pairwise_menu li a.active{
    color: #497B16;
    background-color: #ECF2E7;
    border-radius: 10px 10px 0 0;
    border: 1px solid #b3c4a6;
    border-bottom: 0px;
}

#pairwise_main .pairwise_content {
    background-color: #ECF2E7;
    padding: 1em;
     overflow: hidden;
}

#pairwise_main .pairwise_body {
    background-color: white;
    border-radius: 7px 7px 7px 7px;
    display: block;
    font-size: 22px;
    margin: 0 0 0.5em;
    padding: 1em;
}

#pairwise_main .pairwise_call_for_action {
    color: #4B7421;
    font-size: 14px;
     line-height: 1.5em;
}

#pairwise_main .prompt {
    /*background-color: #cfe1bf !important;*/
    background: url("images/prompt_bg_normal.png") no-repeat center top #cfe1bf;
    border-width: 0px;
    max-width: 369px;
    height: 170px !important;
    padding: 10px 0;
    border-width: 0 !important;
    border-radius: 10px;
}

#pairwise_main .prompt:hover {
    background: url("images/prompt_bg_hover.png") no-repeat 50% top #548A1C;
}

#pairwise_main .prompt.left{
    background-position: 51% top;
    float: left;
}

#pairwise_main .prompt.right{
    background-position: 50% top;
    float: right;
}

#pairwise_main .prompt a{
    color: #2a2d28 !important;
    /*font-size: 14px;*/
    font-size: 12px;/*REDUZIDO PARA CABER 160 CARACTERES.*/
    display: block;
    /*height: 170px;*/
    max-width: 349px;
    padding: 10px;
    height: 100%;
}

#pairwise_main .separator {
    background-color: #CCCCCC;
    display: inline-block;
    float: none;
    height: 170px;
    margin-top: 8px;
    width: 1px;
}


#pairwise_main .skip_vote {
    width: 200px !important;
    text-align: center;
    padding: 0;
    border-width: 0px;
    background-color: transparent !important;
/* background-color: #7D8874 !important;
    font-size: 15px !important;
    color: #fff;
    padding: 1em 0 !important;
    border-width: 0px !important;
    border-radius: 7px 7px 0px 0px !important;*/
}

#pairwise_main .skip_vote a {
    background: url("images/btn_duvida_pairwise.png") no-repeat center center #fff !important;
    color: transparent !important;
    display: inline-block;
    height: 1px;
    line-height: 0;
    padding: 1em 0;
    text-decoration: none;
    width: 200px;
}

#pairwise_main .skip_vote a:hover {
     background: url("images/btn_duvida_pairwise_hover.png") no-repeat center center #fff !important;
}

#pairwise_main .skip_vote_reasons {background-color: #7D8874;padding-top: 0 !important;}

#pairwise_main .skip_vote_reasons ul {margin: 0; padding: 1em;}

#pairwise_main .skip_vote_reasons ul li {color: white; padding: 0.5em 0.5em 0.5em 2em; text-align: left;}

#pairwise_main .skip_vote_reasons ul li:hover{background-color:#666;}

#pairwise_main .skip_vote_reasons ul li a {color: white;text-decoration: none;font-size: 14px;}

#pairwise_main #suggestions_box {
    display: block !important;
    margin-top: 15px;
    padding: 10px;
    text-align: left;
}

#pairwise_main #suggestions_box span {
    color: #4B7421;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}


#pairwise_main .div_text_input_container {
    width: 100%;
}

#pairwise_main .div_text_input_container .div_text_input {
    display: inline-block;
    width: 80%;
}

#pairwise_main .div_text_input_container .div_text_input textarea {
     border: 1px solid #CCCCCC;
    border-radius: 0 0 0 0 !important;
}

#pairwise_main .div_text_input_container .div_text_input .jqEasyCounterMsg {
    color: #7D8874 !important;
    font-size: 13px;
}

#pairwise_main .div_text_input_container .suggest_idea_btn {
    display: inline-block;
    margin-left: 5%;
    vertical-align: top;
    width: 14%;
}

#pairwise_main .div_text_input_container .suggest_idea_btn input#new_idea_button{
    background: url("images/botao-enviar-pairwise.png") no-repeat top center transparent;
    border-radius: 0px;
    cursor: pointer;
    display: block;
    min-height: 71px;
    padding: 5px 10px;
    width: 93px;
    border-width: 0;
}

div.pairwise_group_list_container .arrow span.active {
    background-position: center top;
}
/*Fim Pairwise*/




/*********fim Removido do cabecalho cinza theme******************/
