<!-- footer colab01 -->
<footer>
          <div class="footer-atalhos">
             <div class="container2">
                <div class="pull-right voltar-ao-topo"><a href="#portal-siteactions"><i class="icon-chevron-up"></i>&nbsp;Voltar para o topo</a></div>
             </div>
          </div>
          <div class="container2 container-menus">
             <div id="footer-colab" class="row footer-menus">
                <span class="hide">Início da navegação de rodapé</span>
                <div class="span3">
                  <nav class="row assuntos ">
                     <h2>Assuntos</h2>
                     <ul>
                        <li><a href="http://www.softwarepublico.gov.br/O_que_e_o_SPB" title="SPB">SPB</a></li>
                        <li><a href="http://pagina.softwarepublico.gov.br/sisp" title="SISP-SPB">SISP-SPB </a></li>
                        <li><a href="http://www.softwarepublico.gov.br/5cqualibr/avaliaspb/wiki/Sobre" title="AvaliaSPB">AvaliaSPB</a></li>
			<li><a href="http://www.softwarepublico.gov.br/4cmbr/xowiki/Principal" title="4CMBr">4CMBr</a></li>
			<li><a href="http://www.softwarepublico.gov.br/5cqualibr/xowiki/" title="5cQualiBr" href="#">5cQualiBr</a></li>
                     </ul>
                  </nav>
                </div>
               <div class="span3">
                  <nav class="row servicos ">
                     <h2>Serviços</h2>
                     <ul>
                        <li class="portalservicos-item">
                           <a title="Perguntas frequentes" href="#">Perguntas frequentes</a>
                        </li>
                        <li class="portalservicos-item">
                           <a title="Contato" href="#">Contato</a>
                        </li>
                        <li class="portalservicos-item">
                           <a title="Serviços da [Denominação]" href="#">Serviços da [Denominação]</a>
                        </li>
                        <li class="portalservicos-item">
                           <a title="Dados abertos" href="#">Dados abertos</a>
                        </li>
                        <li class="portalservicos-item">
                           <a title="Área de imprensa" href="#">Área de imprensa</a>
                        </li>
                     </ul>
                  </nav>
               </div>
               <div class="span3">
                  <nav class="row redes-sociais ">
                     <h2>Redes Sociais</h2>
                     <ul>
                        <li class="portalredes-item"><a title="Twitter" href="https://twitter.com/twitter">
                            Twitter</a>
                         </li>
                         <li class="portalredes-item"><a title="YouTube" href="http://youtube.com/youtube">
                            Youtube</a>
                         </li>
                         <li class="portalredes-item"><a title="Facebook" href="http://facebook.com/facebook">
                            Facebook</a>
                         </li>
                         <li class="portalredes-item"><a title="Flickr" href="http://flickr.com/flickr">
                            Flickr</a>
                         </li>
                     </ul>
                  </nav>
               </div>
               <div class="span3">
                  <nav class="row rss ">
                     <h2>RSS</h2>
                     <ul>
                        <li><a href="#" title="O que é?">O que é?</a></li>
                        <li><a href="#" title="Assine">Assine</a></li>
                     </ul>
                  </nav>
                  <nav class="row sobre ">
                     <h2>Navegação</h2>
                     <ul>
                        <li><a href="#">Acessibilidade</a></li>
                        <li><a href="#">Mapa do site</a></li>
                        <li><a href="#">Versión en Español</a></li>
                        <li><a href="#">English version</a></li>
                     </ul>
                  </nav>
               </div>
               <span class="hide">Fim da navegação de rodapé</span>
             </div>
             <!-- fim .row -->
		  </div>
          <!-- fim .container2 -->


          <div class="footer-atalhos visible-phone">
             <div class="container2">
                <span class="hide">Fim do conteúdo da página</span>
                <div class="pull-right voltar-ao-topo"><a href="#portal-siteactions"><i class="icon-chevron-up"></i>&nbsp;Voltar para o topo</a></div>
             </div>
          </div>
       </footer>


   <!-- fim div#wrapper -->

    <!--fim footer colab01-->


<div id="footer-content">
  <div id="footer-logos">
    <div>
      <a class="logo-acesso" href="http://www.acessoainformacao.gov.br/" target="_blank"><span>Acesso a Informação</span></a>
      <div class="institucionais">
        <a class="logo-sgpr" href="http://www.secretariageral.gov.br/" target="_blank"><span>Secretaria-geral da Presidência da República</span></a>
        <a class="logo-brasil" href="http://www.brasil.gov.br/" target="_blank"><span>Brasil - Governo Federal</span></a>
      </div>
    </div>
  </div><!-- end id="footer-logos" -->

  <div id="footer-license">
    <p>
      Este site utiliza o software livre <a href="http://noosfero.org" target="_blank">Noosfero</a>, licenciado pela <a href="http://www.gnu.org/licenses/agpl.html" target="_blank">GNU Affero General Public License, versão 3 ou superior.<a>
    </p>
  </div><!-- end id="footer-license" -->
</div>

 <!-- Script do portal Brasil deve ficar preferencialmente no rodape para nao atrasar o carregamento da pagina principal -->
   <script src="http://barra.brasil.gov.br/barra.js?cor=verde" type="text/javascript"></script><noscript>&nbsp;<!-- item para fins de acessibilidade --></noscript>
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
