#theme-header {
    height: auto;
}

#header {
  padding: 15px 0 0 0; /*13px 0 0 0;*/ 
  color: #000;
  background-color:#f0f2f1; /*rgb(236,237,241);*/
  background-color:#ecedf1;
  background-image: -webkit-radial-gradient(center, ellipse cover, #f0f2f1 1%, #ecedf1 100%)
}

#header>div {
  max-width: 960px;
  min-width: 960px;
  margin: 0 auto;
}

.header-content * {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
.header-content li { display: inline; }

#brasilgov {
  background: #00510f;
  border-bottom: 1px solid #ffcc00;
  padding: 5px 10px;
  color: #03316f;
}

#accessibility {
    display: block !important;
    float: left;
    font-family: arial;
    font-size: 10px;
    width: 50%;
}

#accessibility a {
  /*color:# ;rgb(96,96,96);*//*#FFF; */
  margin-right: 8px;
}
#accessibility a:hover {
  /*color:/*#969696;*/ /*#d0d9ff;*/
}

#accessibility span {
    background: none repeat scroll 0 0 #2c66ce; /*rgb(96,96,96);*/
    color: #FFFFFF;
    padding: 0 3px;
}

/*.contraste header #logo{
background-image: url(images/logotipo_contraste.png);
background-repeat: no-repeat;
}*/

/* Barra do Brasil */

/*#barra-brasil, #wrapper-barra-brasil, #wrap-1 {
  min-width: 960px;
}*/

/* logo */
#logo {
  padding: 0;
  float: left;
  width: 50%; /*70%;*/
}

#logo span {
  display: block;
}

#logo a {
  display: block;
  width: 100%;
  color: #03316f !important;
  margin: 1em 0px;
}

#logo a, #logo #portal-title {
  color: #03316f;
}

#logo #portal-title {
    background-image: url("images/logotipo_spb_beta.svg");
  backgroud-repeat: no-repeat;
  background-size: 370px; /*374px 56px;*/
  height: 78px;
  width: 374px;
    margin: 10px 0px 10px 0px; /*20px 0px 10px 0px; config logo anterior*/
    /*margin: 30px 0px 20px 0px;*/
 /* color: #fff;
  font-size: 40px;
  font-family: 'Open Sans Extrabold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: -0.05em;*/
}

#logo .luongo {
  font-size: 3em !important;
  line-height: 1.1em;
  margin-bottom: 0.2em;
}

#logo #portal-description {
  font-size: 1.2em;
  text-transform: uppercase;
}

/* Site Actions */
#portal-siteactions {
  display: block;
  float: right;
  clear: left;
  padding-bottom: 2px;
  margin-top: -15px;
  font-size: 10px;
  text-align: center;
}

#portal-siteactions a {
  color:#2c66ce; /*rgb(96,96,96);*/ /*#FFF;*/
  text-decoration: none;
  padding: 4px 0 4px 10px;
  text-transform: uppercase;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

#portal-siteactions a:hover {
  color: #03316f;
}

#portal-siteactions li {
  display: inline;
  margin: 0 5px 0 0;
  border-bottom: 1px dotted #2c66ce;; /*#d0d9ff;*/
}
/*
#portal-siteactions li a:hover {
  color: #969696; /*#d0d9ff;
}*/
#portal-siteactions li a {
  padding: 4px 0px;
}

#social-icons {
  float: right;
  clear: right;
  margin: 0px 0px 17px;
}

#social-icons ul {
  display: table-row;
}

#social-icons li {
  display: table-cell;
}

#social-icons li a {
  border: none;
  padding: 0 5px;
}

#siteaction-accessibility,
#siteaction-contraste,
li#siteaction-mapadosite {
  margin: 0px 48px 0px 0px; /*era 15*/
}

/* */

/* Top links */
#theme-header .header-content #link-faq a {
    border-right: 1px solid #2c66ce;
    padding: 0 10px;
    
}
#theme-header .header-content #link-contact a {
    padding-left: 10px;
}

#theme-header #sobre {
   line-height: 30px;
   font-size: 12px;
   height: 30px;
}


/* */

/* Sobre o brasil */
#sobre, #navbar {
  clear: both;
  max-width: 100% !important;
  margin: 0;
  background-color:#CFD0D2; /*#999999;*/
  /*background: #0d4094;/*azul-mais-escuro*/
  padding: 5px 0;
}

#sobre,#navbar  ul {
  max-width: 960px;
  margin: 0px auto;
  text-align: right;
  padding:10px;
}

#sobre a {
  color: #2c66ce; /*rgb(96,96,96);*/
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
#navbar a{
  color: rgb(96,96,96);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#sobre, #navbar .portalservicos-item a {
  padding: 0 10px;
  border-right: 1px solid #03316f;
}

#sobre, #navbar .last-item a {
  padding: 0 0 0 10px;
  border-right: none;
}

#navbar:houver{
  color:#000000;

}

#links-rapidos{
  width: 960px;
  margin: 0 auto;
  font-color:#fff;

}


/* Searchbox */
.LSBox {
  margin: 0;
  padding: 0;
  border: none;
}

input.searchField {
  -moz-appearance: none;
}

#portal-searchbox {
  clear: right;
  float: right;
  font-size: 80%;
  margin: 30px 0 15px; /*30px 0 14px*/
  /*margin: 3.12em 0px 3px 0px;*/
  text-align: right;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #CCCCCC;
  background: #fff;
  padding: 2px;
}

#portal-searchbox .searchField {
  padding: 0.45em;
  border-right: none;
  border: none;
  width: 171px; /*210px;170px;*/
}

#portal-searchbox form {
white-space: nowrap;
}

#portal-searchbox label {
font-weight: normal;
}

#searchGadget {
width: 13em;
}

#header input.searchButton {
  padding: 0.3em;
  background: transparent;
  text-indent: -2000px;
  padding: 4px 15px;
  border: none;
}

#content input.searchField {
  margin-bottom: 1em;
}

/* Removendo css de campo de busca especifico do firefox
input.searchField {
 -moz-appearance: searchfield;
}*/

#header input.searchButton {
  background-image: url("images/search-button.png");
  background-position: 8px 2px;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

#LSResult {
  z-index: 1;
  margin-top: 0.5%;
}


/* Search Button */
#search-button a {
    display: inline-block;
    width: 29px;
    height: 25px;
    margin-right: 3px;
    margin-top: 10px;
}

#search-button a:hover {
    opacity: 0.6;
}

#search-button #sb_search {
background-image: url(images/search.png);
background-size: 100% 100%;
}

#search-button span { display: none; }


/* */

/* Social Buttons */


#social-buttons a {
    width: 18px;
    height: 20px;
    margin-right: 3px;
    margin-top: 10px;
}

#social-icons li a {
    width: 20px;
    height: 20px;
    padding: 0px;
    display: inline-block;
    opacity: .85;
    background-repeat: no-repeat;
}

#social-icons li {
    float: right;
    width: 20px;
    margin-left: 4px;
}

#sb_face,
#sb_tweet,
#sb_youtb,
#sb_flickr {
  background: url(images/icones_home_branco.jpg) 0px;

}

#social-icons span { display: none; }

#sb_flickr {
background-position: -100px;
}

#sb_face {
background-position: -12px;
}
#sb_tweet {
background-position: -42px;
}
#sb_youtb {
  background-position: -71px;
}

#social-icons a:focus, 
#social-icons a:hover {
opacity: 1;
filter: alpha(opacity=100);
}



/* */

/* Social Box */

#social-box {
    border-top: 4px solid #2c66ce; /*#172938;*/
}


#social-buttons a {
    width: 18px;
    height: 20px;
    margin-right: 3px;
    margin-top: 10px;
}

#social-box li a {
    width: 20px;
    height: 20px;
    padding: 0px;
    display: inline-block;
    opacity: .85;
    background-repeat: no-repeat;
    margin-right: 8px;
}

#social-box li {
    float: left;
    margin: 15px;
    /*padding-top: 10px;*/
    vertical-align: middle;
    display: flex;
    line-height: 20px;

}

#sb_face,
#sb_tweet,
#sb_youtb,
#sb_flickr {
  background: url(images/icones_home_branco.jpg) 0px;

}

#social-box span { display: none; }

#sb_flickr {
background-position: -100px;
}

#sb_face {
background-position: -12px;
}
#sb_tweet {
background-position: -42px;
}
#sb_youtb {
  background-position: -71px;
}

#social-box a:focus, 
#social-box a:hover {
opacity: 1;
filter: alpha(opacity=100);
}

/*

#social-icons #sb_face {
background: url(images/icone-branco-facebook.png) 0 20px;
}
#social-icons #sb_face:hover {
background: url(images/icone-branco-facebook.png);
}

#social-icons #sb_tweet {
background: url(images/icone-branco-twitter.png) 0 20px;
}
#social-icons #sb_tweet:hover {
background: url(images/icone-branco-twitter.png);
}

#social-icons #sb_youtb {
background: url(images/icone-branco-youtube.png) 0 20px;
}
#social-icons #sb_youtb:hover {
background: url(images/icone-branco-youtube.png);
}

#social-icons #sb_flickr {
background: url(images/icone-branco-flickr.png) 0 20px;
}
#social-icons #sb_flickr:hover {
background: url(images/icone-branco-flickr.png);
}

#social-icons span { display: none; }

/* FIM social Buttons */

/*menu principal SPB*/

portalservicos-item{
color:#000000;
}
#navbar{
  margin:3px;
  color:#000000;

}

#user #homepage-link {
  top: -11px;
}


#user{
  top: -60px; /*-53px;*/
  font-size: 12px;
  /*right: 10px;*/
}

.logged-in #user{
   top: -40px;
}

#user form {
    display:none;
}

#user .logged-in {
   visibility: hidden;
   display: block;
    background:url("images/barra-menu-user-bg.png") repeat-x bottom center #FEFEFE;
    display: block;
    padding-top:1em;
    text-align: left;
    width: 130px;
   border-radius: 10px

}

#user .logged-in:hover {
   visibility: visible;
}
#user .logged-in a#homepage-link {
  display: block;
  visibility: visible;
}

#user .logged-in span {display: none;}

#user .logged-in a {
    display: block;
    margin-bottom: 10px;
}

#user .logged-in #pending-tasks-count {
    display: inline-block;
    left: 0;
    position: absolute;
    top: 10px;
    visibility: visible;
}
/**** html desabilitado****/
#barra-psocial {
    position: relative;
    height: 40px;
    margin: -3px 0px 0px 0px; /*margin: auto;*/
    border: none;
   background-color:rgb(236,237,241);
   /*background: url(images/barra-psocial-bg.png) repeat-x; */
}

#barra-psocial li {
  float: left;
}
/**********fim css para html desabilitado*************/

/*Fim menu principal SPB*/