/*campo de busca pagina inicial*/

#catalogo-software-search{
  width: 100%;
  background-color:#1A397D; /*#193A7D;*/
  border-radius: 4px;
}

#catalogo-software-search h1{
  color:#FFFFFF !important;
  border-bottom: none !important;
  text-align: left;
  margin:5px;
  font-family:"open_sansregular", Arial;
  font-weight: normal;
  font-size:22px;
  padding: 5px 0px 0px 0px;
}

#content #search-Gadget {
  width: 90%;
  padding: 8px;
  margin: 0 15px 9px 15px;
  border-radius: 4px;
  border: none;
}
.searchButton-catalog{
  background-color: #1A397D; /*#193A7D;*/
  color:#FFFFFF;
  margin: 0px 0px 15px 15px;
  border:1px solid #FFFFFF;
  border-radius: 4px;
  padding:5px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

#search-catalog-footer{
  background-color:#192758; /*#172857;*/
  color:#FFFFFF;
  border-top:1px solid;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}

#search-catalog-footer p {
  text-align:right;
  text-transform: uppercase;
}

#bt_catalog-search::after {
    content:'>';
    padding-left: 7px;
    padding-right: 4px;
    color: #172857;
    background: #eee;
    border-radius: 4px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-left: 5px;
    position: relative;
    margin-left: 5px;
    top: 2px;
    margin-right: 15px;
}


/**********************************************************/

/*Veja mais software*/
#mais-software-block{
  font-family:arial;
  width:auto;
  background-color: #eeeff1;
  border: 1px solid #c0c1c1;
  border-radius:8px;
  margin:11px 0px;
  padding: 5px 0px;
  font-size: 14px;
}

#sbp-information-softwares h2{
  margin: 10px 0px 0px 0px;
  font-size:16px;
  text-align:left;
  text-transform: uppercase;
  color:#454545; /*#464A55;*/
  padding:0px 0px 10px 10px; /*0px 0px 15px 20px;*/
  border-bottom:1px solid #c0c1c1;
}

#title-mais-software{
  margin-left:10px;
}

#sbp-information-softwares li{
 border-bottom: 1px solid #ccc;
 margin: 0;
 min-height: 1em;
 padding: 15px;
 font-weight: bold;
}

#sbp-information-softwares li a {
  color:#335277 !important;
  /*color: #294266 !important;*/
  font-weight: bold;
}

#sbp-information-softwares li a:hover {
  text-decoration: none;
}

#list-categories{
  margin:20px;
}

#list-categories p{
  color:#464A55;
}

#list-categories ul li{
 margin:10px 5px 5px 8px;
}

#list-categories li a{
  color:#335277 !important;
  /*color:#294266 !important;*/
  font-weight: bold;
}
#list-categories a:hover {
  text-decoration: none !important;
}

#footer-mais-software {
  border-top:1px solid #c0c1c1;
  padding: 10px 10px 0px 3px;
  margin:0px;
  text-align: right;
  text-transform: uppercase;
  font-size: 11px;
}

#footer-mais-software a {
  color: #464A55 !important;

}
/**********************************************************/

/* Bloco Softwares*/

.box-1 .softwares-block{
  border-bottom: 1px solid #ccc;
  overflow: auto;
}
.software-block {
  height: 220px;
}

/*
.box-1 .software-block{
  margin:20px 10px 0px 0px;
}*/

.box-1 .software-block-title {
  text-align: center;
  font-weight: normal !important;
  font-size: 14px !important;
}

.box-1 .software-block-finality,
.box-1 .software-block-content {
  padding-bottom: 32px;
}
.software-block-finality {
  background-color:#f4f4f4;
  /*padding:10px;*/
  border-radius: 8px;
  width:142px;
  height: 185px;
  border: solid 1px #D7D7D7;
  left:0px;
}

.software-block-finality p {
    padding: 12px 12px 0 12px;
    height: 150px;
    overflow: hidden;
}

#content .software-block-finality a,
#content .software-block-finality a:visited,
#content .software-block-finality a:link,
#content .software-block-finality a:focus {
    padding: 0 10px;
    text-align: right;
    color: #231F20;
    text-transform: uppercase;
    font-size: 10px;
    display: block;
    border-top: 1px solid #DDD;
    padding-top: 9px;
}

.software-block-finality a::after {
    content:'>';
    padding-left: 7px;
    padding-right: 4px;
    color: #FFF;
    background: #2c65cd;
    border-radius: 4px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-left: 5px;
    position: relative;
    margin-left: 5px;
    top: 2px;
}

.software-block-logo {
  border: 1px solid #ccc;
  border-radius: 8px;
  /*padding: 20px;*/
}

.software-block img{
  max-width: 90px;
  height: auto;
}

.software-block-logo{
  display:block;
  text-align: center;
  width:140px;
  height:90px;
  padding-top:20px;
  padding-bottom:20px;
  overflow: hidden;
}

/*
.box-1 .software-block-title h3 {
  font-weight: normal !important;
  font-size: 14px !important;

}
*/
.box-1 .softwares-block .common-profile-list-block{
  margin-top:-20px;
}

.box-1 .softwares-block .common-profile-list-block .vcard {
  border: none; 
}

.box-1 .softwares-block .common-profile-list-block .vcard:hover .menu-submenu-trigger{
  display:none;
}

.box-1 .softwares-block .common-profile-list-block .vcard:hover{
  border:none;
  background:none;
}

.box-1 .softwares-block .common-profile-list-block span {
  margin-top:40px;
  width:110px;
  color: #2c66ce;
}

.box-1 .softwares-block .common-profile-list-block .org{
  margin-left: 10px;
  margin-bottom: 40px;
  font-size: 14px;
}

/*
#content .box-1 .softwares-block ul {
margin: -10px 0px 10px 20px; /*-20px 20px;
}
*/

#content .box-1 .softwares-block .common-profile-list-block .vcard {
  margin:10px !important;
  padding:0px 10px;
  /*padding:0px 20px 30px 20px;*/
  /*padding:10px 30px 0px 30px;*/
  /*padding:10px 10px 0px 30px;*/
}

/*
.softwares-block .common-profile-list-block .profile-image{
  border:1px solid #ccc;
  border-radius:4px;
}*/


.box-1 .softwares-block .common-profile-list-block img{
  border:1px solid #ccc !important;
  border-radius:4px;
  padding:20px 40px;
}
/*
.box-1 .softwares-block .common-profile-list-block .profile-image {
  padding: 20px 40px;
}
*/
#content .box-1 .softwares-block .block-footer-content a {
  display:none;
}

#content .box-1 .software-block {
    margin: 0px 26px 14px 0px;
    width: 145px;
}

/* Para que os blocos de software que ficam na borda direita fiquem sem margin-right */
#content .box-1 .software-block:nth-child(4),
#content .box-1 .software-block:nth-child(7),
#content .box-1 .software-block:nth-child(10),
#content .box-1 .software-block:nth-child(13) {
    margin-right: 0px;
}

#content .software-block-info {
    height: 85px;
    overflow: hidden;
}

#content .software-block-info h3 {
    font-size: 14px;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
    color: #2C66CE;
}

/* Nao mostrar descricao no bloco de software */
#content .software-block-description {
    display: none;
}

#content .block.display-content-block .block-title,
#content .block.softwares-block .block-title {
    margin: 0px 0px 25px 0px;
}

/* Bloco de notícias (Display contents) */

#content .block.display-content-block .block-title {
    border-top: 4px solid #643C67;
    background: #eee;
    color: #643C67;
}

.block.display-content-block li {
    min-height: 150px;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.block.display-content-block li:first-child  {
    border-top: 0px solid #eee;
}

.block.display-content-block .image {
    width: 150px;
    height: 90px;
    position: absolute;
    margin-top: 35px;
    border: 0px solid #c0c1c1;
    border-radius: 8px;
}

.block.display-content-block .image img {
    max-width: 150px;
    max-height: 90px;
    border: 0px solid #c0c1c1;
    border-radius: 8px;
}

.block.display-content-block .published-at {
    padding-bottom: 15px;
    color: #643C67;
}

.block.display-content-block .title {
    padding-left: 160px;
    padding-right: 0px;
    max-height: 33px;
    overflow: hidden;
}

.block.display-content-block .title a {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3em;
    color: #172938
}

.block.display-content-block .lead {
    padding-left: 160px;
    padding-right: 0px; 
    max-height: 60px;
}

.block.display-content-block .lead p {
    font-size: 15px;
    font-family: Arial;
    line-height: 1.3em;    
}

.block.display-content-block .read_more, .block.display-content-block .tags {
    display: none;
}


/*
.menu-submenu down{

}
.menu-submenu-header,
.menu-submenu-content,
.menu-submenu-footer {

}*/
