/*controller-search action-search-software_infos template-default webkit*/

#catalog-filter{
  display: none;
}

.action-search-software_infos #content #main-content-wrapper-8 h1{
  border-top: 4px solid #3E67B1 !important;
  color: #2B65cd !important;
  text-transform: uppercase;
  font-size: 16px !important;
  padding: 15px 0px 10px 15px;
  border-bottom:none !important;
  background-color:#eee;
  /*padding-left: 0.8em !important;*/
  /*margin-left: 0px;*/
}

.action-search-software_infos #main-content-wrapper-8 .search-form{
  margin-top:-10px;
  background-color: #eee; /*#f1f1f1;*/
}

.action-search-software_infos .map-or-list-search-results{
  margin-top:20px;
}

.action-search-software_infos .search-results-header {
  border-bottom: 1px solid #ccc !important;
}

#search-input {
  font-size:110%;
  margin: 0px 0px 15px 15px;
  border-radius: 4px;
  padding: 0.55em;
}

#search-input.blur {
  font-size:110%;
  font-style: normal;
  color: #eee; /*#aaa;*/
  margin: 0px 0px 15px 15px;
  border-radius:4px;
  padding:0.55em;
}

.controller-search .search-field .formfield {
  width: 80%;
}

.controller-search #content form input.button.submit {
  height: 30px;
  max-height: 30px;
  width: 87px;
  margin-bottom: 14px;
  margin-left: 32px;
  text-transform: uppercase;
  font-weight: bold;
  /*border: 1px solid #4562b1;*/
  /*padding:0px;*/
  /*color:#ffffff;*/
  /*background-color:#4562b1;*/
}
.action-search-software_infos #content input.button{
  background-color:#2B65cd;
  border: 1px solid #2B65cd;
  font-family:open_sansbold;
  color: #ffffff; 
  border-radius: 4px;
  padding:0px;
}

.action-search-software_infos .icon-search{
  background-image:none !important;

}
/*
.search-enterprise-item {
  border-bottom: 1px solid #eee;
}*/

.controller-search .action-search-software_infos .search-field .formfield {
  width: 80%;
}

.action-search-software_infos .only-one-result-box .search-enterprise-item {
  padding-top:35px !important;
  padding-bottom: 35px !important;
  background: #ffffff;
  /*padding: 50px 0 !important;*/
}

.action-search-software_infos .search-results-innerbox {
  border:none;
}

.action-search-software_infos .common-profile-list-block .vcard:hover {
  border: none;
  background: none;
}

.action-search-software_infos .common-profile-list-block .vcard:hover .menu-submenu-trigger {
  display:none;
}

.action-search-software_infos .common-profile-list-block .vcard a.profile_link{
  float:left; 
}

/*
.common-profile-list-block .profile-image {
  padding:0px 200px;
}
*/

.action-search-software_infos .search-enterprise-item-column-left{
  border-right: 1px solid #ccc;
  width: 143px;
  height: 130px;
  /*padding: 0px 60px 0px 10px; /*50 no lugar coloquei 70*/
  /*margin:none;*/
  /*position:absolute;*/
}

.action-search-software_infos .search-enterprise-item-column-right{
  width:60%; /*440px;*/
  float:left;
  margin-left: 130px;
  /*text-align: justify;*/
}
#content .vcard a:hover{
  color:#2C66CE;
}

.action-search-software_infos .common-profile-list-block .vcard {
  border: none;
}

.action-search-software_infos .org {
  display:none !important;
}

.action-search-software_infos .search-enterprise-item-column-left .vcard img {
  max-width: 90px;
  height: auto;
  /*margin-left: 15px;
  margin-right: 15px;*/
  /*max-height: 130px; /*90px;*/
  /*margin-left: 60%; /*30%;90px;
  position: absolute;
  float: left;*/
}

.action-search-software_infos .common-profile-list-block img{
  max-height: none;
}

.action-search-software_infos .common-profile-list-block .profile-image{
  /*padding:20px 40px;*/
  margin-left: 140px; /*85px; TESTANDO*/ 
  /*margin-top: 10px;*/
  width: 130px;
  height: 130px;
}

.action-search-software_infos .common-profile-list-block .extra_info {
  font-size: 13px;
  font-family: Arial;
  opacity: inherit;
  width:135px;
  padding-right:20px;
  text-align: left;
  position:absolute;
  top:0px;
 /* margin-bottom:130px;*/ /*verificar melhor forma de fazer, tamanho da barra laterial*/

}
.action-search-software_infos .common-profile-list-block .extra_info::before{
  content: url("images/ic-calendar.png");
  line-height: 20px;
  margin-right:10px;
  margin-top:6px;
  float: left;
  /*padding-top: 10px;*/
  /* position: static; */
  /* overflow: auto; */
}

.action-search-software_infos .search-enterprise-item .search-enterprise-item-column-right {
  font-size: 15px;
  padding-top: 0px;
  font-family: Arial;
}

.action-search-software_infos .search-enterprise-item-column-right .search-community-content-block h4 a {
  color:#172938 !important;
  font-size:19px !important;
}
.action-search-software_infos .search-enterprise-item-column-right span b{
  font-weight: normal;
}

.action-search-software_infos .search-enterprise-item-column-right span b:last-child {
  float: left;
  margin-right: 10px;
  /*font-size: 13px;*/ /*font deve ser aplicada as categorias*/
}
/* Verificar a melhor maneira de fazer
.action-search-software_infos .search-enterprise-item-column-right span b:nth-last-child(2){
  display: none;
}

.action-search-software_infos .search-enterprise-item-column-right span a:nth-last-child(1){
  display: none;
}*/

.action-search-software_infos .search-community-content-block #categories-list{
  margin-top:35px;
  margin-bottom: 10px;
}
.action-search-software_infos .search-community-content-block #categories-list li{
  text-decoration: underline;
  font-size: 13px;
  color:#2B65cd;
  display:block !important;
  float:left;
  margin-right: 10px !important;
  width: auto !important;
}

