/*campo de busca pagina inicial*/

#catalogo-software-search{
  width: 100%;
  background-color:#1A397D; /*#193A7D;*/
  border-radius: 4px;
}

#catalogo-software-search h1{
  color:#FFFFFF !important;
  border-bottom: none !important;
  text-align: left;
  margin:5px;
  font-family:"open_sansregular", Arial;
  font-weight: normal;
  font-size:22px;
  padding: 5px 0px 0px 0px;
}

#content #search-Gadget {
  width: 90%;
  padding: 7px;
  margin: 0 15px 9px 15px;
  border-radius: 4px;
  border: none;
}
.searchButton-catalog{
  background-color: #1A397D; /*#193A7D;*/
  color:#FFFFFF;
  margin: 0px 0px 15px 15px;
  border:1px solid #FFFFFF;
  border-radius: 4px;
  padding:6px 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

#search-catalog-footer{
  background-color:#192758; /*#172857;*/
  color:#FFFFFF;
  border-top:1px solid;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}

#search-catalog-footer p {
  text-align:right;
  text-transform: uppercase;
}

#bt_catalog-search::after {
    content: url('images/right-arrow-black.png');
    padding-left: 7px;
    padding-right: 4px;
    color: #172857;
    background: #eee;
    border-radius: 4px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-left: 5px;
    position: relative;
    margin-left: 5px;
    top: 2px;
    margin-right: 15px;
}


/**********************************************************/

/*Veja mais software*/
#mais-software-block{
  font-family:arial;
  width:auto;
  background-color: #eeeff1;
  border: 1px solid #c0c1c1;
  border-radius:8px;
  margin:11px 0px;
  padding: 5px 0px;
  font-size: 14px;
}

#sbp-information-softwares h2{
  margin: 10px 0px 0px 0px;
  font-size:16px;
  text-align:left;
  text-transform: uppercase;
  color:#454545; /*#464A55;*/
  padding:0px 0px 17px 15px; /*0px 0px 15px 20px;*/
  border-bottom:1px solid #c0c1c1;
}

#title-mais-software{
  margin-left:10px;
}

#sbp-information-softwares li{
 border-bottom: 1px solid #ccc;
 margin: 0;
 min-height: 1em;
 padding: 17px 15px 17px 14px;
 font-weight: bold;
}

#sbp-information-softwares li a {
  color:#335277 !important;
  /*color: #294266 !important;*/
  font-weight: bold;
}

#sbp-information-softwares li a:hover {
  text-decoration: none;
}

#list-categories{
  margin: 14px 14px 14px 14px;
}

#list-categories p{
  color:#464A55;
  margin: 0 0 16px 0;
}

#list-categories ul li{
 margin:18px 5px 5px 5px;
}

#list-categories li a{
  color:#335277 !important;
  /*color:#294266 !important;*/
  font-weight: bold;
}
#list-categories a:hover {
  text-decoration: none !important;
}

#footer-mais-software {
  border-top:1px solid #c0c1c1;
  padding: 10px 10px 0px 3px;
  margin:0px;
  text-align: right;
  text-transform: uppercase;
  font-size: 11px;
}

#footer-mais-software a {
  color: #464A55 !important;

}
/**********************************************************/

/* Bloco Softwares*/

.box-1 .softwares-block{
  border-bottom: 1px solid #ccc;
  overflow: auto;
}
.software-block {
  height: 218px;
}

/*
.box-1 .software-block{
  margin:20px 10px 0px 0px;
}*/

.box-1 .software-block-title {
  text-align: center;
  font-weight: normal !important;
  font-size: 14px !important;
}

.box-1 .software-block-finality,
.box-1 .software-block-content {
  /*padding-bottom: 32px;*/
  text-align: right;
}
.software-block-finality {
  background-color:#f4f4f4;
  /*padding:10px;*/
  border-radius: 8px;
  width:142px;
  height: 216px;
  border: solid 1px #D7D7D7;
  left:0px;
  text-transform: uppercase;
}

.software-block-finality p {
    padding: 12px 12px 0 12px;
    height: 170px;
    overflow: hidden;
    text-align: left;
    border-bottom: solid 1px #D7D7D7;
    margin: 0 0 7px 0;
    text-transform: none;
    color: #172738;
    font-size: 12px;
}

#content .software-block-finality a,
#content .software-block-finality a:visited,
#content .software-block-finality a:link,
#content .software-block-finality a:focus {
    padding: 0 10px;
    text-align: right;
    color: #231F20;
    text-transform: uppercase;
    font-size: 10px;
    display: block;
    border-top: 1px solid #DDD;
    padding-top: 9px;
}

.software-block-finality::after {
    content: url('images/right-arrow.png');
    padding-left: 7px;
    padding-right: 4px;
    color: #FFF;
    background: #2c65cd;
    border-radius: 4px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    position: relative;
    margin: 0 7px 0px 3px;
}

.software-block-logo {
  border: 1px solid #ccc;
  border-radius: 8px;
  /*padding: 20px;*/
}

.software-block img{
  max-width: 90px;
  height: auto;
}

.software-block-logo {
 display: table-cell;
 vertical-align: middle;
 text-align: center;
 width: 140px;
 height: 150px;
 overflow: hidden;
}


/*
.box-1 .software-block-title h3 {
  font-weight: normal !important;
  font-size: 14px !important;

}
*/
.box-1 .softwares-block .common-profile-list-block{
  margin-top:-20px;
}

.box-1 .softwares-block .common-profile-list-block .vcard {
  border: none;
}

.box-1 .softwares-block .common-profile-list-block .vcard:hover .menu-submenu-trigger{
  display:none;
}

.box-1 .softwares-block .common-profile-list-block .vcard:hover{
  border:none;
  background:none;
}

.box-1 .softwares-block .common-profile-list-block span {
  margin-top:40px;
  width:110px;
  color: #2c66ce;
}

.box-1 .softwares-block .common-profile-list-block .org{
  margin-left: 10px;
  margin-bottom: 40px;
  font-size: 14px;
}

/*
#content .box-1 .softwares-block ul {
margin: -10px 0px 10px 20px; /*-20px 20px;
}
*/

#content .box-1 .softwares-block .common-profile-list-block .vcard {
  margin:10px !important;
  padding:0px 10px;
  /*padding:0px 20px 30px 20px;*/
  /*padding:10px 30px 0px 30px;*/
  /*padding:10px 10px 0px 30px;*/
}

/*
.softwares-block .common-profile-list-block .profile-image{
  border:1px solid #ccc;
  border-radius:4px;
}*/


.box-1 .softwares-block .common-profile-list-block img{
  border:1px solid #ccc !important;
  border-radius:4px;
  padding:20px 40px;
}
/*
.box-1 .softwares-block .common-profile-list-block .profile-image {
  padding: 20px 40px;
}
*/
#content .box-1 .softwares-block .block-footer-content a {
  display:none;
}

#content .box-1 .software-block {
    margin: 0px 18px 14px 0px;
    width: 145px;
}

/* Para que os blocos de software que ficam na borda direita fiquem sem margin-right */
#content .box-1 .software-block:nth-child(4),
#content .box-1 .software-block:nth-child(7),
#content .box-1 .software-block:nth-child(10),
#content .box-1 .software-block:nth-child(13) {
    margin-right: 0px;
}

#content .software-block-info {
    height: 85px;
    overflow: hidden;
}

#content .software-block-info h3 {
    font-size: 14px;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
    color: #2C66CE;
}

/* Nao mostrar descricao no bloco de software */
#content .software-block-description {
    display: none;
}

#content .block.display-content-block .block-title,
#content .block.softwares-block .block-title {
    margin: 0px 0px 25px 0px;
}

/* Bloco de notícias (Display contents) */

#content .block.display-content-block .block-title {
    border-top: 4px solid #643C67;
    background: #eee;
    color: #643C67;
}

.block.display-content-block li {
    min-height: 150px;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.block.display-content-block li:first-child  {
    border-top: 0px solid #eee;
}

.block.display-content-block .image {
    border: 0px solid #c0c1c1;
    border-radius: 8px;
    display: table-cell;
    padding-right: 25px;
}

.block.display-content-block .image img {
    max-width: 150px;
    max-height: 90px;
    border: 0px solid #c0c1c1;
    border-radius: 8px;
}

.block.display-content-block .published-at {
    padding-bottom: 15px;
    color: #643C67;
}

.block.display-content-block .title {
    padding-right: 0px !important;
    max-height: 35px;
    overflow: hidden;
    margin-bottom: 4px !important;
    text-align: justify !important;
}

.block.display-content-block .title a {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3em;
    color: #172938
}

.block.display-content-block .lead {
    padding-right: 0px;
    max-height: 56px;
}

.block.display-content-block .lead a {
    font-size: 15px;
    font-family: Arial;
    line-height: 1.3em;
    color: #000000;
}

.block.display-content-block .read_more, .block.display-content-block .tags {
    display: none;
}

.lead a:visited, #content .lead a:visited, .lead dl.portlet a:visited {
    color: #172738;
}

.notice-info {
  display: table-cell;
  vertical-align: top;
}

/* Tela de Noticias Antigas */

#content .block.display-last-news-block {
    font-family: open_sansregular, Arial, Helvetica, sans-serif;
    padding-right: 14px;
}

#content .block.display-last-news-block .title_top {
    border-bottom: 1px solid #eee;
    padding-bottom: 9px;
    margin-bottom: 26px;
    text-transform: none;
}

#content .block.display-last-news-block .block-title {
    border-top: 4px solid #643C67;
    background: #eee;
    color: #172738;
}

.block.display-last-news-block li {
    min-height: 92px;
    border-top: 1px solid #eee;
    padding-top: 20px;
    list-style: none;
}

.block.display-last-news-block li:first-child  {
    border-top: 0px solid #eee;
    padding-top: 0px;
}

.block.display-last-news-block .image {
    width: 106px;
    height: 63px;
    position: relative;
    float:left;
    border: 0px solid #c0c1c1;
    border-radius: 8px;
    margin: 2px 19px 25px 0;
}

.block.display-last-news-block .image img {
    max-width: 106px;
    max-height: 63px;
    border: 0px solid #c0c1c1;
    border-radius: 8px;
}

.block.display-last-news-block .published-at {
    padding-bottom: 8px;
    color: #172738;
    font-size: 13px;
}

.block.display-last-news-block .title {
    padding-left: 0px;
    padding-right: 0px;
    max-height: 44px;
    overflow: hidden;
    color: #172738;
}

#content .block.display-last-news-block .title {
    padding-right: 0px;
    margin-bottom: 1px;
}

.block.display-last-news-block .title a {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 1.4em;
    color: #172738;
    padding: 0;
}


.block.display-last-news-block .lead {
    padding-left: 0px;
    padding-right: 0px;
    max-height: 23px;
    overflow: hidden;
}

.block.display-last-news-block .lead a {
    font-size: 15px;
    font-family: Arial;
    line-height: 1.3em;
    color: #172738;
}

.block.display-last-news-block .read_more, .block.display-last-news-block .tags {
    display: none;
}

.block.display-last-news-block a:visited,
.block.display-last-news-block a:link,
.block.display-last-news-block a:hover,
.block.display-last-news-block a,
.block.display-last-news-block dl.portlet a:visited {
    color: #172738;
    text-decoration: none;
}

#content .block.display-last-news-block a:visited,
#content .block.display-last-news-block a:link,
#content .block.display-last-news-block a:hover,
#content .block.display-last-news-block a {
    color: #172738;
    text-decoration: none;
}

.statistics-block-data ul li.users span {
 font-size: 14px;
}

.statistics-block-data ul {
 margin-top: 10px;
}

/* Alinhamento das estatísticas */
.statistics-block-data ul li {
 margin-left: 18px;
 margin-top: 6px;
 line-height: 17px;
}

span.amount {
  font-size: 14px;
 font-weight: 700;
}

span.label {
  font-size: 14px;
}

/*
.menu-submenu down{

}
.menu-submenu-header,
.menu-submenu-content,
.menu-submenu-footer {

}*/
