/*campo de busca pagina inicial*/

#catalogo-software-search{
  width: 100%;
  background-color:#193A7D;
}

#catalogo-software-search h1{
  color:#FFFFFF !important;
  border-bottom: none !important;
  text-align: left;
  margin:5px;
  font-family:"open_sans", Arial;
  font-weight: normal;
  padding: 5px 0px 0px 0px;

}

#search-Gadget {
  width:95%;
  padding:5px;
  margin:5px;
  border-radius:4px;

}
.searchButton-catalog{
  background-color: #193A7D;
  color:#FFFFFF;
  margin:5px;
  border:1px solid #FFFFFF;
  border-radius: 4px;
  padding:5px 20px;
  text-transform: uppercase;
  font-weight: bold;

}

#search-catalog-footer{
  background-color:#172857;
  color:#FFFFFF;
  border-top:1px solid;
  padding:2px;
}
#search-catalog-footer p{
  margin:5px;
  text-align:right;
  text-transform: uppercase;
  margin-right: 32px;
}

#bt_catalog-search::after {
content:'>';
position: absolute;
padding-left: 2px;
/*margin-top: -2px;*/
right: 10px;
width: 18px;
height: 20px;
color: #172857;
background: #eee;
border-radius: 4px;
font-size: 16px;
line-height: 20px;
text-align: center;
}


/*fim bloco buscar no catalogo*/