/*****************Nome da comunidade********************/
#infor-community-geral{
  border-bottom: 1px solid #D3D6DE;
  padding-bottom: 30px;
  margin:0px 20px 0px 0px;

}

#infor-community-geral h1{
  text-align: left;
  font-size: 23px;
}

#infor-community-geral p{
  /*font-size: 12px;*/
}

#buttons-infor-community input{
  border:1px solid #D3D6DE;
  border-radius:4px;
  background:none;
  color: #5E82C6;
  margin:2px;
  padding:3px 10px;

}

/********Bloco de informacao da comunidade********/
.community-block{
  border:1px solid #ECEDF1;
  border-radius:4px;
  /*padding:10px;*/
}

.community-block-logo{
  border-bottom: 3px solid #3E67B1;
}
.community-block-title{
  background-color:#ECEDF1;
  padding:10px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.community-block-title h1{
  font-size: 14px !important;
  margin-bottom:0px !important;
}
.community-block-logo{
  padding:10px;
}

.community-block-logo img.logo{
  max-width: 170px;
  height: auto;
  min-width: 100px;
  width: 100px;
}

.community-block-logo a{
  display:block;
  /*width: 210px;*/
  height: 100px;
  overflow: hidden;
  text-align: center;

}

/*****Bloco principal-com informacoes da comunidade*******/
#block-infor-community ul { 
  /*margin:20px 20px 0;*/
  list-style:none;
}

#block-infor-community ul li {
  float:left;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.itens-aba a {
  float:left;
  border:1px solid #FFF;
  background:#ccc;
  padding:10px 14px;
  color:#FFF;
  text-decoration:none;
}
  
.itens-aba a:focus {
  background:red;
}

.abas-conteudo { 
  /*margin:0 20px;*/
  width:400px; 
  clear:both;
  position:relative;
}

.abas-conteudo div {
  background:white;
  border:1px solid black;
  padding:10px;
  width:490px;
  height: 250px;
  display:none;
  position:absolute;
}

.abas-conteudo div:first-child {
  display:block;
}

.abas-conteudo div:target {
  display:block;
}
/******************************************************/
/******************* Bloco Membros*********************/
.members-block{
  background-color:#ECEDF1;
  border:1px solid #D3D6DE !important;
  border-radius: 4px;
}
.members-block .block-title{
  /*background-color:#ECEDF1;*/
  border-bottom:1px solid #D3D6DE !important;
  border-top:none !important;
  /*border-top-right-radius: 4px !important;
  border-top-left-radius: 4px !important;*/
  color:#172738 !important;
  font-size:14px !important;
  padding:12px !important;
}

.members-block .block-footer-content{
  background-color:#ECEDF1;
  padding:8px 10px 15px 0px;
  margin-right:0px !important;
  border-top:1px solid #D3D6DE;
}
#content .members-block .block-footer-content a{
  padding-right: 0px !important;
}

#content .members-block .block-footer-content a.view-all{
  background-image:none;
  border:none;
  text-transform: uppercase;
  line-height: 21px;
}
#content .members-block .block-footer-content a.view-all::after{
content: '>';
padding-left: 7px;
padding-right: 4px;
color:#ffffff;
background: #3E67B1;
border-radius: 4px;
font-size: 15px;
line-height: 20px;
text-align: center;
margin-left: 5px;
position: relative;
margin-left: 5px;
top: 2px;
/*margin-right:0px;*/
}

/*****************************************************/
/**********Bloco de informacoes temporarias*************/
#temporary-alerts{
  border:1px solid #D3D6DE;
  border-radius:4px;
  margin:0px 20px 0px 0px;
}

#temporary-alerts h3{
  background-color:#ECEDF1;
  border-bottom:1px solid #D3D6DE;
  margin:0px;
  padding:10px 15px;
  text-transform: uppercase;
}

.calendar-infor-temp,
.search-infor-temp,
.chat-infor-temp{
  display:block;
  border-bottom:1px dotted #D3D6DE;
  border-radius: 1px;
  line-height: 21px;
  padding:10px 15px;
}

#infor-temporary span:last-child {
  border-bottom:none;
}
.calendar-infor-temp::before{
  content: url("images/calendar-icon.png");
  line-height: 20px;
  margin-right: 10px;
  margin-top: 4px;
  float: left;
}
.search-infor-temp::before{
  content: url("images/docs-board-icon.png");
  line-height: 20px;
  margin-right: 10px;
  margin-top: 4px;
  float: left;
}

.chat-infor-temp::before{
  content: url("images/chat-icon.png");
  line-height: 20px;
  margin-right: 10px;
  margin-top: 4px;
  float: left;
}

/********************CSS DO BLOCO DE ABAS******************************/

/*********************** ABA 01 - Atividades *********************/
#aba1{
  border: 1px solid #D3D6DE;
  border-radius: 4px;
  width: 450px;
  
}

#grafic{
  width: 450px;
  height: 300px;
}

#legend-grafic-ativit{
  border-top:1px solid #D3D6DE;
  background-color:#ECEDF1;
  padding:10px;
  font-size:12px;

}
/*
#itens-legend-grafic{
  text-align: :left;
  float:right;
  margin:0px;
}*/

ul#itens-legend-grafic{
  text-align: left;
    margin: 0px;
    /*padding: 50px;*/
}

#itens-legend-grafic li{
  list-style:none;
  display: inline;
  padding: 5px;
}

.legend-itens-grafic{
  color: #172738;
}

.members-itens-grafic{
  background-color: #FF4F38;
  color:#ffffff;
  border:1px solid #FF4F38;
  border-radius: 4px;
}

.emails-itens-grafic{
  background-color: #00A1F8;
  color:#ffffff;
  border:1px solid #00A1F8;
  border-radius: 4px;
}
.commits-itens-grafic{
  background-color: #ED9941;
  color:#ffffff;
  border:1px solid #ED9941;
  border-radius: 4px;

}
.events-itens-grafic{
  background-color: #ffffff;
  color:#C0BF5A;
  border:1px solid #C0BF5A;
  border-radius: 4px;

}

/********************** ABA02 - Discussões ***************************/
#discussions{
  color:#172738;
}

#discussions h3{
  font-size: 20px;
  padding:25px 0px 5px 0px;
  margin:0px;
}

.tidings{
  border-top: 1px solid #D3D6DE;
  padding:10px;
  padding-bottom: 23px;
}

.date-list-discussion,
.subject-list-discussion{
  display: block;
  line-height: 21px;
  padding: 10px 0px 0px 0px;
  position: relative;
}

.date-list-discussion {
  letter-spacing: -0.1px;
}

.subject-list-title {
  line-height: 18px !important;
}

.subject-list-discussion {
  font-size: 16px;
  padding-top: 3px;
}

.date-list-discussion{
  font-size:12px;
}

.date-list-discussion a{
  text-decoration: none;
  color:#5E82C6;
}

.see-more-discussion {
  text-align: right;
  padding: 15px 0px 0px 0px;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 11px;
  border-top: 1px solid #D3D6DE;
  margin-bottom: 2px;
  letter-spacing: -0.12px;
}

.see-more-discussion::after {
  background: none repeat scroll 0 0 #3e67b1;
  border-radius: 2px;
  color: #ffffff;
  content: url('images/left-arrow.png');
  font-size: 15px;
  line-height: 20px;
  margin-left: 5px;
  padding: 2px 7px 1px 7px;
  position: relative;
  text-align: center;
  top: 2px;
}

.tidings {
  padding-left: 0px;
}

#mais-relevantes h3 {
  letter-spacing: 0.2px;
  padding-bottom: 16px;
}

#mais-relevantes span {
  letter-spacing: 0px;
}

/********************** ABA03 - BLOG ********************************/
#block-news-community{
  padding-top:20px;
}

#block-news-community .news_principal_title{
  color:#172738;
  font-size: 22px;
  line-height: 23px;
  font-weight: 700;
}
#block-news-community .news_principal_date{
  text-transform: uppercase;
}

#block-news-community .news_principal_text{
  color:#172738;
  margin-top:10px;
}

#block-news-community .published-at{
  margin:0px 125px;
  text-transform: uppercase;
}

#content #block-news-community .read-more{
  background: none;
  border-top: none;
}

#content .box #block-news-community .read-more a::after{
  background:#3E67B1;
}
#content #block-news-community .read-more a:hover{
  background: none;
}


/********************** ABA04 - Wiki ********************************/
#aba4 {
  border-bottom: 3px solid #172738;
  padding-bottom: 40px;
}

#aba4 h3{
  color:#172738;
  border-bottom: 2px solid #ECEDF1;
  padding:10px 0px;
}

#aba4 span{
  line-height: 21px;
  font-size: 15px;
  display: block;
  padding-left: 3px;
  font-weight: 400;
  color: black;
  padding-top: 10px;
}


/*********************** ABA05 - Feed do repostório *******************/

.information-repository-activ{
  border-bottom: 1px solid #D3D6DE;
  /*padding:40px 20px 40px 20px; #D3D6DE*/
  margin: 0px;
  color:#172738;
}

.about-commit{
  font-size: 12px;
  display:block;
  position:absolute;
  float:left;
  margin-top: 27px;
  border-right:1px dotted #D3D6DE;
  padding: 0px 23px 13px 0px;
}

.calendar-commit {
  margin-top: 10px;
}

.about-commit span{
  position: relative;
  display: block;
  line-height: 21px;
  padding: 0px;
}

.information-member-repository{
  padding-top: 28px;
  margin-left: 127px;
  display:block;

}

.name-information-repository {
  font-size: 12px;
}

.information-member-repository {
  margin-bottom: 20px;
}

.information-member-repository span{
  display:block;
  position:relative;
  line-height: 15px;
  padding: 5px;
}

.commit-historic::before {
    content: url("images/upload-icon.png");
    /*float: left;*/
    line-height: 20px;
    margin-right: 11px;
    margin-top: 4px;
}

.calendar-commit::before {
    content: url("images/calendar-icon.png");
    /*float: left;*/
    line-height: 20px;
    margin-right: 11px;
    margin-top: 4px;
}

.see-more-repository{
  color: black !important;
  text-align: right;
  padding: 15px 0px 0px 0px;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 11px;
/*  border-top: 1px solid #D3D6DE; */
  margin-bottom: 2px;
  letter-spacing: -0.12px;
}

.see-more-repository::after {
  background: none repeat scroll 0 0 #3e67b1;
  border-radius: 2px;
  color: #ffffff;
  content: url('images/left-arrow.png');
  font-size: 15px;
  line-height: 20px;
  margin-left: 5px;
  padding: 2px 7px 1px 7px;
  position: relative;
  text-align: center;
  top: 2px;
}


/*********************** Página de eventos da comunidade *******************/

#event-card {
  float: left;
  border-top: 1px dotted #D3D6D3;
  padding-top: 33px;
  width: 494px;
  height: 173px;
  /*background-image: url('images/evento-teste.jpg');*/
  background-repeat: no-repeat;
}

#event-card #event-image {
  position: relative;
  float: left;
  content: url('images/comunidade-evento-imagem-evento.png');
  border-right:1px dotted #D3D6DE;
  padding-right: 22px;
}

.about-event {
  position: relative;
  float: left;
  height: 160px;
  width: 300px;
  max-width: 300px;
}

.about-event > span {
  font-family: arial;
  display: block;
  max-width: inherit;
  margin-left: 20px;
  padding-left: 21px; 
  line-height: 13px;
  margin-right: 11px;
}

.about-event .event-date {
  font-weight: bold;
  letter-spacing: 0.49px;
  margin-top: 3px;
}

.about-event .event-address {
  margin-top: 19px;
}

.about-event .event-address span {
  display: block;
  margin-left: 0px;
  margin-top: 4.4px;
  line-height: 14px;
  letter-spacing: 0.5px;
}

/*
.event-date::before {
  content: url("images/calendar-icon.png");
}
*/

#community-page {
  width: 494px;
  height: 716px;
  /*background-image: url('images/pagina-comunidade-teste.png');*/
  background-repeat: no-repeat;
}

#community-page h1 {
  margin-bottom: 17px;
  text-align: left;
  font-size: 32px;
  line-height: 30px;
  padding-left: 1px;
}

.event-date {
  background: url('images/calendar-icon.png') no-repeat left center;
}

.event-link {
  background: url('images/calendar-icon.png') no-repeat left center;
  margin-top: 18px;
  letter-spacing: 0.48px;
}

.event-address {
  background: url('images/icone_pin.png') no-repeat left top;
}

.event-body {
  float: left;
}

.event-body h2 {
  margin-left: 2px !important;
  width: 494px;
  letter-spacing: -0.4px;
  line-height: 26px;
  margin-bottom: -3px !important;
}

.event-body .event-content p {
  font-size: 15px;
  font-family: Arial;
  margin-top: 20px;
  width: 494px;
  padding-left: 2px;
  line-height: 22px;
}

/********** event side box **********/

.community-side-box {
  width: 100%;
  height: 100%;
  border: 1px solid #D3D6DE;
  border-radius: 7px;
  margin-bottom: 27px;
  overflow: hidden;
}

.community-logo {
  content: url('images/logo-participa.png'); /* LOGOTIPO DA COMUNIDADE */
  /*content: url('images/bg-bloco-de-trilhas.png');*/
  width: 100%;
  border-bottom: 3px solid #3E67B1;
}

.community-name {
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  padding-top: 13px;
  text-align: center; 
  height: 100%;
  background-color: #ECEDF1;
}

.community-name p {
  line-height: 17px;
  letter-spacing: 0px;
}

.community-side-box table {
  background-color: #ECEDF1;
}

.community-side-box table th {
  font-weight: 700;
  text-align: left;
  font-family: Arial;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 9px;
  padding-left: 13px;
  padding-bottom: 0px;
  letter-spacing: -1px;
  border-bottom: 1px solid #D3D6DE;
}

.community-side-box table td {
  text-align: left;
  border-bottom: 1px solid #D3D6DE;
  height: 42px;
  padding-top: 9px;
  padding-left: 13px;
}

.another-events-date {
  color: #2C4B6B;
  font-weight: 700;
}

.another-event {
  color: #172738;
}

/************************** PÁGINA BLOG **************************/

#community-blog {
  background-image: url('images/blog-teste.png');
  background-repeat: no-repeat; 
}