#article-hits {
  display:none !important;

}

.main-block #article-header H1.title{
  font-size: 34px !important;
  line-height: 37px !important;
  margin-bottom:  10px !important;
  border-bottom: 1px solid #D3D6DE !important;
  padding-bottom: 10px !important;
}

#content .main-block .article-body {
    line-height: 21px;
    font-family: arial ;
    font-size: 15px;
}

#content .main-block h2, #content .main-block h3 {
  min-height: 0 !important;
}

#content .main-block .article-body h2 {
 font-size: 16px !important;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 20px;
  font-family:  arial;
}

#content .main-block .article-body h3 {
   font-size: 15px !important;;
   line-height: 21px;
   font-weight: bold;
   margin-bottom: 20px;
   font-family:  arial;
}

#content .main-block .article-body P {
  margin-bottom: 20px;
  font-family:  arial;
}

#content .main-block .article-body .zoomable-image,
#content .main-block .article-body img {
 display: block;
}

#content .main-block .article-body .img-credit,
#content .main-block .article-body .img-credit a {
  padding:0;
  font-size: 11px;
  line-height: 16px;
  color: #172938;
}

.article-body ul.lista-ajuda {
  padding-top: 20px;
  margin-top: 45px;
  margin-bottom: 20px;
  border-top: 1px solid #ddd;
  font-size: 15px;
}

.article-body ul.lista-ajuda li {
  list-style-position: inside;
  margin-bottom: 2px;
}

.article-body ul.etapas-publicacao {
  margin-bottom: 20px;
}

.article-body ul.etapas-publicacao li {
  list-style: none;
  list-style-position: inside;
  margin-bottom: 10px;
}

.article-body ul.etapas-publicacao li strong {
  background: #333;
  padding: 2px 8px;
  border-radius: 50%;
  color: #fff;
  float: left;
  margin-right: 6px;
}

#content .main-block .created-at {
  font-family: arial !important;
  border-top: 1px solid #D7D7D7;
  padding-top: 25px;
  margin-top: 25px;
  font-size: 12px;
  color: #2C66CE;
}

#content .main-block .created-at a {
  color: #2C66CE;
}

#content .main-block .txt-credit {
  font-size: 12px;
  color: #172938;
}

#content .main-block .txt-credit a {
  color: #2C66CE;
}

#content .main-block #article-cat a,
#content .main-block #article-cat h4{
  float: left;
  font-size: 12px !important;
  margin: 10px 10px 10px 0;
  text-decoration: initial;
}

#content .main-block #article-cat a{
  border: 1px solid #D3D6DE;
  border-radius: 3px;
  padding: 3px 10px;
  color: #3E67B1;
  background-color: #ECEDF1;
}

#article-tags{
  float: left;
  margin-top: 11px;
}

.page-comment-form {
  padding: 10px 0;
}



hr {
  border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 30px 0;
}

ol li {
  margin-bottom: 5px;
}

.voltar-ao-topo {
  margin-top: 1.915em;
  text-align: right;
}


.voltar-ao-topo a {
  padding-left: 20px;
  background: url(images/voltar-topo.png) no-repeat left center !important;
  color: #777 !important;
  font-size: 15px;
}

.ancor {
  text-decoration: none !important;
  border-bottom: 1px dotted;
  margin-right: 5px;
}

.ancor:hover {
  border-bottom: 1px solid;
}


#article-hits {
  display:none !important;

}

.main-block #article-header H1.title{
  font-size: 34px !important;
  line-height: 37px !important;
  margin-bottom:  10px !important;
}

.article-body {
    line-height: 21px;
    font-family: arial;
    font-size: 15px;
}

#content .main-block h2, #content .main-block h3 {
  min-height: 0 !important;
}

#content .main-block .article-body h2 {
 font-size: 16px !important;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 20px;
  font-family:  arial;
}

#content .main-block .article-body h3 {
   font-size: 15px !important;;
   line-height: 21px;
   font-weight: bold;
   margin-bottom: 20px;
   font-family:  arial;
}

#content .main-block .article-body P {
  margin-bottom: 22px;
  font-family:  arial;
}

#content .main-block .article-body P strong {
  font-size: 16px;
}


#content .main-block .article-body .zoomable-image {
 overflow: auto;
 display: block;
 margin-bottom: 10px;
}

.article-body ul.lista-ajuda {
  padding-top: 20px;
  margin-top: 45px;
  margin-bottom: 20px;
  border-top: 1px solid #ddd;
  font-size: 15px;
}

.article-body ul.lista-ajuda li {
  list-style-position: inside;
  margin-bottom: 2px;
}

.article-body ul.etapas-publicacao {
  margin-bottom: 20px;
}

.article-body ul.etapas-publicacao li {
  list-style: none;
  list-style-position: inside;
  margin-bottom: 10px;
}

.article-body ul.etapas-publicacao li strong {
  background: #333;
  padding: 2px 8px;
  border-radius: 50%;
  color: #fff;
  float: left;
  margin-right: 6px;
}

.article-body .etapas-publicacao-2{
  font-weight: bold;
}

#content .main-block .created-at {
  font-family: arial !important;
}

/* Pagina Ultimas noticias */

.title_top {
    color: #F91461;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 25px;
    padding-left: 1px;
    font-family:"open_sansregular", Arial;

}

.news_principal_block {
    padding-bottom: 5px;
}

.news_principal_block hr {
    margin: 23px 0 23px 0;
}

.news_principal_date {
    padding-bottom: 5px;
}

.news_principal_title {
    font-size: 33px;
    font-weight: bold;
    padding-bottom: 14px;
    line-height: 39px;
    font-family: Arial, Helvetica, sans-serif;
}

.news_principal_image {
    padding-bottom: 10px;
}

.news_principal_image img {
    /*width: 750px;*/
    max-width: 750px;
    max-height: 320px;
    border: 0px solid #c0c1c1;
    border-radius: 8px;
}

.news_principal_text {
    font-size: 14px;
    line-height: 21px;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
    padding-bottom: 3px;
}
.news_small_block {
    /*height: 300px;*/
    width: 750px;
}
.news_small_item {
    width: 230px;
    border: 0px solid #c0c1c1;
    float: left;
    position: relative;
    padding-bottom: 20px;
    padding-right: 30px;
}

.news_small_block .news_small_item:last-child {
    padding-right: 0px;
}

.news_small_image {
    padding-bottom: 13px;
}


.news_small_image img {
    max-width: 230px;
    height: 136px;
    border: 0px solid #c0c1c1;
    border-radius: 5px;
}

.news_small_date {
    padding-bottom: 10px;
}
.news_small_title {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.news_small_text {
    font-size: 14px;
    padding-bottom: 15px;
}

.profile-homepage #content .block.display-content-block .block-title {
border-top: 0px solid #643C67;
border-bottom: 1px solid gray;
background: transparent;
color: #F91461;
}


/* Pagina de visualizar noticia */

#content .view_news {
    margin-right: 36px;
    margin-left: 0px;
}

#content .view_news .published-at {
    font-family: open_sansregular, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 22px;
}

#content .view_news hr {
    margin: 25px 0 15px 0;
}

#content .view_news .image {
    float: left;
    height: 194px;
    width: 230px;
    margin: 3px 29px 0 0;
}

#content .view_news .image img {
    max-width: 230px;
}

#content .main-block .article-body .view_news .zoomable-image {
    overflow: hidden;
    margin-bottom: 5px;
}

#content .main-block .article-body .view_news P {
    line-height: 22px;
    margin-left: 2px;
}

#content .main-block .article-body .view_news .img-credit {
    margin: 0 0 0 2px;
}

#content .main-block .view_news .txt-credit a {
    font-size: 12px;
    color: #172938;
    text-decoration: none;
}

/* Events */

.event-card {
  border-top: 1px dotted #D3D6D3;
  background-repeat: no-repeat;
  width: 494px;
  height: 116px;
  margin-bottom: 30px;
}

.event-image {
  border-right: 1px dotted #D3D6DE;
}

.about-event > span {
  font-family: arial;
  line-height: 13px;
}

.about-event .event-date {
  font-weight: bold;
  letter-spacing: 0.49px;
}

.about-event .event-address {
  margin-top: 19px;
}

.about-event .event-address span {
  margin-top: 4.4px;
  line-height: 14px;
  letter-spacing: 0.5px;
}

.event-link {
  letter-spacing: 0.48px;
}

.event-link a {
  text-decoration: underline;
}

.article .article-body .event-body .event-lead p {
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 21px;
}

.event-body .event-content p {
  font-size: 15px;
  font-family: Arial;
  line-height: 22px;
}

#article-actions:last-child{
  border-top: 4px solid #2C4B6B;
  padding-top: 10px;
}

#article-header .preview{
  display: none;
}

#article-header .title{
  border-bottom: 1px solid #D3D6DE !important;
  color: red ;
}

#article-header .publishing-info span{
  font-size: 12px;
  color: black;
}

#sitemap{
  overflow: auto;
}

#sitemap a{
  text-decoration: initial !important;
}

#sitemap ul{
  padding-top: 20px;
  font-weight: 700;
}

#sitemap li{
  padding-left: 10px;
  font-weight: 500;
}

#sitemap #first-half{
  float: left;
  width: 40%;
}

#sitemap #second-half{
  float: left;
  padding-top: 50px;
  width: 40%;
}
