
/*Static block for box3*/
#content .box-3 .statistics-block .block-inner-2 .block-title{
  font-size: 0px;
  border-top: none;
  background: none;
  border-bottom: none;
  padding: 0px; 
  margin-top:-11px;
}
#content .box-3 .statistics-block .block-inner-2 .statistics-block-data{
  font-size: 12px;
}

/*Software Information block*/
#content .block.software-information-block{
	margin-bottom:60px;}


#software-information-block-table{
  width:515px;
  margin:0px 15px;
}

#software-information-block-table td{
	display: none;
}

#software-information-block-table td#col-profile-big-image,
#software-information-block-table td#col-software-name {
	display: table-cell;
}

/* Estilo correto para 2 colunas */
/*
#col-software-name h1 {
  text-align: left;
  font-size: 34px;
  line-height: 1.2em;
  font-family: Arial, open_sansbold, Helvetica, sans-serif;
  font-weight: bold;}
*/

/* Estilo temporario 1 coluna */
#col-software-name h1 {
  text-align: left;
  font-size: 30px;
  line-height: 1.1em;
  font-family: Arial, open_sansbold, Helvetica, sans-serif;
  font-weight: bold;}

#col-software-name B{
  font-weight: normal;
  font-family: Arial, open_sansregular, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.3em;
}
#col-software-name {
  font-style: normal;
  vertical-align:top; !important;
}


/*
.box-3.statistics-block{
border: none;

}*/

/* BOX DOWNLOAD */

#download_spb {
  /*text-align: left;
  border:1px solid #c0c1c1;
  border-radius: 8px;
  padding:10px;*/
  width: 490px;
  margin: 0px 15px;
	padding: 20px 20px 30px;
	border-radius: 4px;
	background-image: -o-linear-gradient(-89deg, #0099FF 0%, #3E67B1 100%);
	background-image: -moz-linear-gradient(-89deg, #0099FF 0%, #3E67B1 100%);
	background-image: -ms-linear-gradient(-89deg, #0099FF 0%, #3E67B1 100%);
	background-image: linear-gradient(-179deg, #0099FF 0%, #3E67B1 100%);  
  
}

#download_spb h2{
	font-family: open_sansbold;
	font-size: 28px;
	color: #ECEDF1;
	margin-top: 0px;
}

#download_spb span {
	font-family: open_sansregular;
	font-size: 13px;
	color: #ECEDF1;
	text-decoration:none;
}

#download_spb a,
#download_spb a:visited,
#download_spb a:link {
	font-family: open_sansbold;
	font-size: 18px;
	color: #FFFFFF;
	text-decoration:none;
	margin-right: 10px;
}


#download_spb:hover {background: #0099FF;}

#download_spb:hover h2, #download_spb:hover spam {color: #8ECBF7;}

#content #download_spb:hover a {
	text-decoration:underline;
	color: #FFFFFF;
	}

/*  Requisitos  */

#content span.req_spb a, 
#content span.req_spb a:visited,
#content span.req_spb a:link,
#content span.nov_spb a,
#content span.nov_spb a:visited,
#content span.nov_spb a:link
#content span.licensed a,
#content span.licensed a:visited,
#content span.licensed a:link {
	font-family: open_sansregular;
	font-size: 12px;
	/*color: #ECEDF1;
	text-decoration:underline;*/
}

#download_info {
  margin:2px 20px 0;
}

#content span.req_spb, #content span.nov_spb, #content span.licensed {
  padding: 5px;
}

#content span.req_spb a:hover , #content span.nov_spb a:hover, #content span.licensed a:hover {
  color: #8ECBF7;
}


/************* Artigos ****************/

.main-block #article-header H1.title, #content .main-block H1, #content .main-block .article-body H1{
  padding:0 !important;
  margin:0 0 10px !important;
  border:none !important;
  font-size: 22px !important;
  line-height: 1.3em !important;
  font-family: Arial, open_sansbold, Helvetica, sans-serif !important;
  font-variant:normal;
  font-weight: bold;
  color:#172938;}


#content .main-block .article-body H1{
  padding-top:25px !important;
  margin-top:25px !important;
  border-top:solid 1px #D7D7D7 !important;
}

.article-body P{
	text-align:left;
	font-size:14px;
	line-height:1.3em;
	margin-bottom:10px;}



/*Static block for box3*/
#content .box-1 .tags-block .block-inner-2 .block-title{
  font-size: 11px;
  border-top: 1px solid #8b949b;
  /*border-top: none;*/
  background: none;
  /*border-bottom: 1px solid #8b949b;*/
  /*border-bottom: none;*/
  padding: 15px 0px 0px 3px;
  /*margin:10px; s*/
  /*margin-top:-5px;*/
}

#content .box-1 .tags-block .block-inner-2 .tag_cloud{
  /*margin-top:-11px;*/
  margin-bottom: 15px;
  text-align: left;
  margin-top: -24px;
  margin-left: 42px;

}

#content .box-1 .tags-block .block-inner-2 .tag_cloud a {
  font-size: 11px !important;
  border:1px solid #e9e8ed;
  border-radius:8px;
  background-color:#e9e8ed;
  padding:3px 6px;
  margin:10px 3px;
}

#content .box-1 .tags-block .block-inner-2 .tag_cloud a:hover{
background: #3a70d1; /*#205c90;*/
color: white;
border-color: #3a70d1; /*#205c90;*/
}

#content .box-1 .tags-block .block-inner-2 .tag_cloud a:link{
  text-decoration: none;
}

#content .box-1 .tags-block .block-footer-content a{
  background: none;
  border: none;
  border-radius: none;
  top:-5px;
  font-size:0px;
}

#content .box-1 .tags-block .block-footer-content {
  /*margin-top: -15px;*/
  border-bottom: 1px solid #8b949b;
  margin-bottom: 30px;
}


/*
.tag_cloud {
text-align: left;
margin-top: -27px;
margin-left: 35px;
border:

*/

/*************raw html - category and tags****************/
/
#content .categories-and-tags-block .tag_cloud 
category_cloud{

}

#content .box-1 .categories-and-tags-block .block-inner-1 .block-title{
  font-size: 11px;
  border-top: 1px solid #8b949b;
  /*border-top: none;*/
  background: none;
  /*border-bottom: 1px solid #8b949b;*/
  /*border-bottom: none;*/
  padding: 15px 0px 0px 3px;
  /*margin:10px; s*/
  /*margin-top:-5px;*/
}
#content .box-1 .categories-and-tags-block .block-inner-2 .block-title{
  border-top: 4px solid #2c66ce; /*#172938;*/
}

#content .box-1 .categories-and-tags-block .block-inner-1 .tag_cloud {
  /*margin-top:-11px;*/
  margin-bottom: 15px;
  text-align: left;
  margin-top: -24px;
  margin-left: 40px;

}
#content .box-1 .categories-and-tags-block .block-inner-1 .category_cloud {
  /*margin-top:-11px;*/
  margin-bottom: 15px;
  text-align: left;
  margin-top: -24px;
  margin-left: 72px;

}

#content .box-1 .categories-and-tags-block .block-inner-1 .tag_cloud a,
#content .box-1 .categories-and-tags-block .block-inner-1 .category_cloud a {
  font-size: 11px !important;
  border:1px solid #e9e8ed;
  border-radius:8px;
  background-color:#e9e8ed;
  padding:3px 6px;
  margin:10px 3px;
}

#content .box-1 .categories-and-tags-block .block-inner-1 .tag_cloud a:hover,
#content .box-1 .categories-and-tags-block .block-inner-1 .category_cloud a:hover {
background: #3a70d1; /*#205c90;*/
color: white;
border-color: #3a70d1; /*#205c90;*/
}

#content .box-1 .categories-and-tags-block .block-inner-1 .tag_cloud a:link, 
#content .box-1 .categories-and-tags-block .block-inner-1 .category_cloud a:link {
  text-decoration: none;
}

#content .box-1 .categories-and-tags-block .block-footer-content a{
  background: none;
  border: none;
  border-radius: none;
  top:-5px;
  font-size:0px;
}

#content .box-1 .categories-and-tags-block .block-footer-content {
  /*margin-top: -15px;*/
  border-bottom: 1px solid #8b949b;
  margin-bottom: 30px;
}


/********* Botao Repositorio ************/
#bt_repositorio, #bt_repositorio:active, #bt_repositorio:visited{
	position:relative;
	display:block;
	padding:12px 10px;
	border-radius: 4px;
	background: #EAEBEE;
	font-size:12px;
	font-family: open_sansbold, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
}

#bt_repositorio::after{
	content:'>';
	position:absolute;
	padding-left:2px;
	margin-top:-2px;
	right:10px;
	width:18px;
	height:20px;
	color:#FFF;
	background:#2C66CE;
	border-radius: 4px;
	font-size:16px;
	line-height:20px;
	text-align:center;}

#content #bt_repositorio:hover{
	color:#FFF;
	background: #2C66CE;
	text-decoration:none;
}


