@import url(../profile-base/style.css);
@import url(../../icons/tango/style.css);

@import url(header.css);
/*@import url(cabecalho-cinza-theme.css);*/
@import url(footer.css);
@import url(content.css);
@import url(page-inicial.css);


@import url(font-awesome.min.css);
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/
@import url(cadastro.css);


@font-face {
font-weight: normal;
font-style: normal;
font-family: "open_sanslight";
src: url("fonts/opensans-300-webfont.eot");
src: url("fonts/opensans-300-webfont.eot?#iefix") format("embedded-opentype"),
url("fonts/opensans-300-webfont.woff") format("woff"),
url("fonts/opensans-300-webfont.ttf") format("truetype"),
url("fonts/opensans-300-webfont.svg#open_sanslight") format("svg");
}

@font-face {
font-weight: normal;
font-style: normal;
font-family: "open_sansregular";
src: url("fonts/opensans-400-webfont.eot");
src: url("fonts/opensans-400-webfont.eot?#iefix") format("embedded-opentype"),
url("fonts/opensans-400-webfont.woff") format("woff"),
url("fonts/opensans-400-webfont.ttf") format("truetype"),
url("fonts/opensans-400-webfont.svg#open_sansregular") format("svg");
}

@font-face {
font-weight: normal;
font-style: normal;
font-family: "open_sanssemibold";
src: url("fonts/opensans-600-webfont.eot");
src: url("fonts/opensans-600-webfont.eot?#iefix") format("embedded-opentype"),
url("fonts/opensans-600-webfont.woff") format("woff"),
url("fonts/opensans-600-webfont.ttf") format("truetype"),
url("fonts/opensans-600-webfont.svg#open_sanssemibold") format("svg");
}
@font-face {
font-weight: normal;
font-style: normal;
font-family: "open_sansbold";
src: url("fonts/opensans-700-webfont.eot");
src: url("fonts/opensans-700-webfont.eot?#iefix") format("embedded-opentype"),
url("fonts/opensans-700-webfont.woff") format("woff"),
url("fonts/opensans-700-webfont.ttf") format("truetype"),
url("fonts/opensans-700-webfont.svg#open_sansbold") format("svg");
}

@font-face {
font-weight: normal;
font-style: normal;
font-family: "open_sansextrabold";
src: url("fonts/opensans-800-webfont.eot");
src: url("fonts/opensans-800-webfont.eot?#iefix") format("embedded-opentype"),
url("fonts/opensans-800-webfont.woff") format("woff"),
url("fonts/opensans-800-webfont.ttf") format("truetype"),
url("fonts/opensans-800-webfont.svg#open_sansextrabold") format("svg");
}

/***********Regras Gerais ************/

* {
margin: 0;
padding: 0;
list-style: none;
vertical-align: baseline;
}

body {
    background-color: #fff;
    color: #172738;
    font-size: 12px;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

* :link,:visited {
    text-decoration:none;
}

* ul,ol {
    list-style:none;
}

* h1,h2,h3,h4,h5,h6,pre,code {
    color:inherit;
    font-family: arial;
    font-weight: 700;
    margin-top:20px;
    margin-bottom:10px;
}

* h1{
    font-size: 34px;
    line-height: 37px;
}

* h2{
    font-size:22px;
    line-height: 21px;
}

* h3{
    font-size:18px;
    line-height: 21px;
}

* h4,h5,h6,pre,code{
    font-size: 16px;
    line-height: 21px;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6{
    color:inherit;
    font-family: arial;
    font-weight: 700;
    margin-top:20px;
    margin-bottom:10px
}
#content h1{
    font-size: 34px;
    line-height: 37px;
}
#content h2{
    font-size:22px;
    line-height: 21px;
}
#content h3{
    font-size:18px;
    line-height: 21px;
}
#content h4, content h5, #content h6 {
    font-size: 16px;
    line-height: 21px;
}

p {
    font-size: 12px;
    line-height: 21px;
    margin: 0px 0px 10px 0px;
}


* a img,:link img,:visited img {
    border:none
}

a {
    outline: none;
}
a:link, #content a:link, dl.portlet a:link {
    color: #172738;
    /*border-bottom: none;*/
}

a:visited, #content a:visited, dl.portlet a:visited {
    color:#2c66ce; /*#2c67cd;*/
}

a:focus {
    outline: 2px solid #f1ca7f;
}

/* Remove in all td gray backgroung hover */
tr:hover td {
    background-color: transparent;
}

#content a:hover, dl.portlet a:hover {
    color: #000;
}
table {
 border-spacing: 0;
}

img {
    vertical-align: text-bottom;
}

iframe {
    border-width: 0; border-style:none;
}

/************sobrescrevendo themes/base/style.css****************/
#wrap-1, #theme-footer {
    margin: auto;
    width: 100%;
}

#wrap-2 {
  /*margin-top: 0;*/
  width: 960px;
  margin: 0 auto;
  border: none;
  padding: 0px;
}

#main {
    background: #fff;
    font-size: 1.3em;
    padding: 1em 0;
    max-width: 960px;
    margin: 0 auto;
}

#wrapper {
    margin: 0 auto;
    font-size: 1.2em;
    width: 100%;
}

.main-content {
    border-style: none;
    box-shadow: none;
    padding: 10px 20px;
}

.profile-image-block .admin-link {
    font-size: 100%;
}

/* ==> blocks.css <== */

.block a {
  color: #555753;
}
.block a:visited {
  color: #888a85;
  font-weight: normal;
}
.block a:hover {
  color: #2e3436;
  text-decoration: none;
}

/* Title Header */
#content .main-block h1,
#content .main-block h2,
#content .main-block h3,
#content .main-block h4 {
    font-family:  'Open Sans', Arial, Helvetica, sans-serif;
}

#content .main-block h1,
#not-found h1,
#access-denied h1,
#content .no-boxes h1 {
    color: #444;
    font-size: 1.7em;
    padding: 7px 0;
    margin-left: 0/* !important*/;
    padding-left: 0.3em;
    border-bottom: 1px solid #CCCCCC;
    border-top: 0px solid #172838;
}

#content .title {
    font-weight: normal;
    padding-right: 70px;
}
/* verificar onde isso influencia*/
#content .main-block h1,
#content .no-boxes h1 {
    font-size: 2.3em !important;
    font-weight: bold !important;
}

#content .main-block h2 {
    font-size: 1.8em !important;
    min-height: 48px;
}

#content .main-block h3 {
    font-size: 1.5em !important;
    min-height: 48px;
}

#content .main-block #article-cat h4 {
    font-size: 1.3em !important;
    min-height: 0px;
}

div#article-parent {
    /*position: absolute;*/
     display: block;
     position: relative;
    right: 0px;
    top: 0px;
}

#article-tags a:link {
    clear: both;
    display: inline-block;
    margin-bottom: 1.5em;
    color: white;
    padding: 3px 5px;
}

#article-tags a:hover {
    background-color: #000;
   color: white;
}
/****************************************/

/*documentos recentes - todo o site*/
#content .recent-documents-block ul {
    margin-left: 0;
    padding: 0;
}

#content .recent-documents-block li {
    background: none repeat scroll 0 0 #eeeff2;/*#FFF;*/
    border-bottom: 1px solid #c0c1c1; /*#CCCCCC;*/
    display: block;
    margin: 0;
    min-height: 1em;
    padding: 20px;
    text-align: left;
}

#content .recent-documents-block li a {
    color: #464A55;
    line-height: 1.2em;
}

#content .recent-documents-block li a:hover{
    color: #000;
}

#content .recent-documents-block .block-title {
    border-bottom: 1px solid #757575;
    margin-bottom: 0;
}

#content .link-list-block li a {
    line-height: 17px;
    padding: 6px 0px 8px 0px;
}

#content .link-list-block h3.empty + ul {
    border-top: 1px solid #ddd;
}

/* Menus que nao tiverem titulo, nao tem padding left e right e nao mostra os icones caso seja inserido */
#content .link-list-block h3.empty + ul li a {
    padding-left: 0px;
    padding-right: 0px;
    background-image: none;
}

#content .link-list-block li {
    border-bottom: 1px solid #ddd;
    border-top: none;
    padding: 0;
    margin: 0;

}

#content .link-list-block li a {
    background-color: #fff;
    /*border-bottom: 1px solid #64946E !important;*/
    border-radius: 0 0 0 0;
    border-right: medium none;
    border-top: 0px solid #64946E !important;
    color: #2C66CE; /*#454545;*/
    font-weight: normal;
    width: auto;
    font-size: 14px;
    padding-left: 18px;
    padding-right: 5px;
     background-position: 0px 50%;
}

#content .link-list-block li a.link-this-page,
#content .link-list-block li a.link-this-page:hover {
  border-right: none;
}

#content .box .link-list-block li a:hover {
    background-color: #FFFFFF;
    color: #000;
}

#content .box .link-list-block li a.link-this-page {
    background-color: #ffffff; /*#EEEFFF;*/
    font-weight: bold;
    width: auto;
    margin-left: 0px;
}

#site-title {
position: absolute;
left: 8px;
top: -160px;
height: 78px;
width: 480px;
display: none;
}

#content {
    left: -480px;
    margin-left: 50%;
    margin-top: 38px; /*30px;*/
    position: relative;
    width: 960px;
}


input.button.with-text {
    background-position: 3px 50%;
    font-size: 12px;
    padding: 0 2px 2px 20px;
     max-height: 28px;
}

#content a.button.with-text,
#content a.button.with-text {
    height: 28px;
    max-height: 28px;
}

#content input.button, #content a.button {
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    border: 0px solid #CCCCCC;
     /*border-bottom: 1px solid #CCCCCC;*/
    color: #555555;
    line-height: 16px;
    text-decoration: none;
}

#content #article-actions input.button,
#content #article-actions a.button,
#content a.button,
#content input.button {
    background-color: transparent;
     border: 1px solid #CCCCCC;
     vertical-align: middle;
}

#content a.button.with-text {
    line-height: 28px;
    height: 30px;
    max-height: 30px;
}
#content form input.button.submit {
    height: 32px;
    max-height: 32px;
    margin-right: 5px;
}

#content #article-actions input.button:hover,
#content #article-actions a.button:hover {
    background-color: #ccc;
     border: 1px solid #CCCCCC;
     color: white;
}


#content a.button:hover {
    border: 1px solid #CCCCCC;
}

/*label dos radio buttons da busca*/
#content .search-field label {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    margin-left: 5px;
}

#public-profile-search .formfield, #public-profile-search .submit {
    margin-bottom: 5px;
}

#content .profile ul{
    margin-left: 1em;
}

/*********************fim sobrescrevendo themes/base/style.css*********************************/

