.ui-tooltip {
  position: relative;
  z-index: 1070;
  font-family: Arial, sans-serif;
  font-size: 13px;
  background: #172638;
  color: white;
  padding: 15px 10px 15px 20px;
  border: 0px !important;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  max-width:280px;
}

.ui-tooltip-bottom:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-bottom-color: #172638;
  border-width: 6px;
  margin-left: -6px;
}

.ui-tooltip-top:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-top-color: #172638;
  border-width: 6px;
  margin-left: -6px;
}
