<div class="software-events-list-item-calendar"></div>

<span class="software-events-list-item-date">
  <%= event.start_date.strftime "%d/%m - " %>
</span>

<span class="software-events-list-item-title">
  <%= link_to event.title, event.url %>
</span>
