<div class="software-community-events-block">
  <% if not events.empty? %>

  <ul class="software-community-events-list">
    <% events.each do |event| %>
    <li class="software-events-list-item">
      <%= render :partial=>"blocks/software_events_list_item",
                 :locals => {:event => event} %>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>
