<% if block.has_events_to_display? params[:page] %>
  <div class="software-community-events-block">
    <ul class="software-community-events-list">
      <% if block.should_display_title? %>
        <li class="software-events-list-item">
          <span class="software-events-list-item-title">
            <%= block.title %>
          </span>
        </li>
      <% end %>

      <% block.get_events_except(params[:page]).each do |event| %>
        <li class="software-events-list-item">
          <%= render :partial=>"blocks/software_events_list_item",
                     :locals => {:event => event} %>
        </li>
      <% end %>

    </ul>
  </div>
<% end %>
