<div class="aditional-informations">
  <div class="comments-people-benefited">
    <span>People benefited :</span> <%= user_rating.comment.people_benefited unless user_rating.comment.nil? %>
  </div>

  <div class="comments-saved-value">
    <span>Saved Value :</span> <%= user_rating.comment.saved_value unless user_rating.comment.nil? %>
  </div>
</div>

