<% if user_rating.comment and user_rating.comment.institution %>
<div class="aditional-informations">
  <div class="comments-user-institution">
    <span>Institution :<span> <%= user_rating.comment.institution.name unless user_rating.comment.nil? %>
  </div>
</div>
<% end %>

