<% if @percentege < 100 then %>
  <div id='complete_registration'>
    <div id="complete_registration_message">
      <div><%= _("Complete Profile")+": <span>#{@percentege}</span>%" %></div>
      <canvas id="complete_registration_percentage" width="100%" height="20"></canvas>
      <div>
        <%= @profile_edit_link %> |
        <%= link_to _("Hide"), "#", :class=>"hide-incomplete-percentage" %>
      </div>
    </div>
  </div>
<% end %>