<div id='complete_registration'>
  <div id="complete_registration_message">
    <div><%= _("Complete Profile")+": <span>#{@percentege}</span>%" %></div>
      <canvas id="complete_registration_percentage" width="100%" height="20"></canvas>
      <div>
        <%= link_to _("Complete your profile"), "#{Noosfero.root}/myprofile/#{@person.identifier}/profile_editor/edit" %> |
        <%= link_to _("Hide"), "#", :class=>"hide-incomplete-percentage" %>
      </div>
    </div>
  </div>
</div>
