/*** Software Header ***/
/*block title software button control painel*/
.action-content_viewer-view_page #content .software-information-block .admin-link a{
  padding: 5px 10px;
  background: #3E67B1;
  border-radius: 4px;
  text-transform: none;
  font-size: 12px;
  margin-top:15px;
  color:#fff;
}
.action-content_viewer-view_page #content .software-information-block .profile-big-image img{
  margin-bottom:20px;
}
/**************************/

#content .software-information-block {
  margin: 0px 0px 60px 0px;
}

#content #software-information-block-table {
  margin: 0px 15px;
  width: auto;
}

#content #software-information-block-table td {
  display: table-cell;
}

#content #software-information-block-table #col-software-name {
  vertical-align: top;
  font-style: normal;
}

#content #software-information-block-table #col-software-name h1 {
  font: 700 34px/37px arial, open_sansbold, helvetica, sans-serif;
  text-align: left;
}

#content #software-information-block-table #col-software-name b {
  font: normal normal normal 15px/21px arial, 'open_sansregular', helvetica, sans-serif;
}

/*** end of Software Header ***/

/*** Software Homepage ***/

/* Software Download Block*/

#content .download-block {
  margin: 0px 15px;
  border: 1px solid #D3D6DE;
  border-radius: 10px;
}

#content .download-block .block-title {
  padding: 11px 10px 7px 20px;
  background-color: #D3D6DE;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-family: "open_sansbold", Arial, Helvetica, sans-serif;
  margin: 0;
  color: #172738;
  font-size: 18px;
}

#content .download-block .download-list li {
  padding: 30px 10px 25px 20px;
  border-top: 1px solid #D3D6DE;
  clear: both;
}

#content .download-block .download-list li:nth-child(even) {
  background: #ECEDF1;
}

#content .download-block .download-button {
  width: 80px;
  float: left;
  clear: both;
}

#content .download-block .download-button .download-image {
  padding: 50px 0px 8px 0px;
  border: 1px solid #2c66ce;
  border-radius: 8px;
  height: 18px;
  background: #2C66CE url("../images/download-icon.png") center no-repeat;
  display: block;
}

#content .download-block .download-button .download-size {
  text-align: center;
  display: block;
  background: rgb(0, 40, 140) none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -15px;
  line-height: 20px;
}

#content .download-block .download-info {
  margin: 5px 0px 0px 100px;
  position: relative;
  font-size: 16px;
}

#content .download-block .download-info .download-name {
  display: block;
  font-weight: bold;
}

#content .download-block .download-info .download-platform {
  display: block;
  font-size: 14px;
}

#content .download-block .download-info .min-requirements {
  font-size: 12px;
}

#content .download-block .download-info .min-requirements a {
  line-height: 40px;
  color: #3E67B1;
  text-decoration: underline;
}

#content .download-block #licensed-software {
  padding:14px;
  border-top: 1px solid #D3D6DE;
  border-radius: 0px 0px 8px 8px;
  background-color: #D3D6DE;
  font-size: 12px;
  text-align: right;
}

#content .download-block #licensed-software a {
  color: #3e67b1;
  text-decoration: underline;
}

/* About Software - Article on homepage */

.profile-homepage #article #article-toolbar #article-header h1 {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  color: #172738;
  font: normal normal bold 22px/1.3em arial, 'open_sansbold', helvetica, sans-serif;
}

.profile-homepage #article #article-toolbar #article-header h1.title {
  border: none;
}

.profile-homepage #article #article-header .publishing-info {
  display: none;
}

.profile-type-is-community .profile-homepage .main-block #article .article-body h1,
.profile-type-is-community .profile-homepage .main-block #article .article-body h2,
.profile-type-is-community .profile-homepage .main-block #article .article-body h3,
.profile-type-is-community .profile-homepage .main-block #article .article-body h4,
.profile-type-is-community .profile-homepage .main-block #article .article-body h5,
.profile-type-is-community .profile-homepage .main-block #article .article-body h6 {
  /* border-top: 1px solid #ECEDF1;
  border-bottom: none;
  padding-top: 25px; */
  font-size: 18px;
}

.profile-homepage #article .article-body p {
  margin: 0px 0px 20px 0px;
  line-height: 21px;
  text-align: left;
  font-size: 15px;
}

.profile-homepage #article .article-body ul {
  background-repeat: no-repeat;
  list-style-position: inside;
  list-style-type: disc;
}

.profile-homepage #article .article-body ul li {
  line-height: 21px;
  text-align: left;
  font-size: 15px;
  list-style: inherit;
}

/*** end of Software Homepage ***/

/*** Categories and Tags block ***/

#content .box-1  .categories-and-tags-block{
  border-top: 4px solid #2C4B6B;
}

#content .box-1 .categories-and-tags-block .block-title{
  display: inline-flex;
  margin: 13px 10px 10px 0;
  padding: 3px 0px;
  background: none;
  color: #5E82C6;
  font-family: Arial;
  font-size: 12px;
  font-weight: 300;
}

#content .box-1 .categories-and-tags-block .category_cloud{
  margin: 13px 0 10px 0;
}

#content .box-1 .categories-and-tags-block .category_cloud a{
  display: inline-block;
  padding: 3px 10px;
  margin: 5px;
  color: #3E67B1;
  background-color: #ECEDF1;
  border: 1px solid #D3D6DE;
  border-radius: 3px;
  font-size: 12px;
}

#content .box-1 .categories-and-tags-block .category_cloud a:hover{
  border-color: #3a70d1;
  background: #3a70d1;
  color: white;
}

#content .box-1 .categories-and-tags-block .category_cloud a:link{
  text-decoration: none;
}

/*** end of categories and tags block ***/

/*** Right bar ***/

/*** WARNING - WHITOUT BOX-4 ***/

/* Link-list block */
.template-default #content .box-3 .block-title{
  border-top: 4px solid #4562b1;
  line-height: 15px;
  background: #eee;
  color: #4562b1;
}

.template-default #content .box-3 .link-list-block li{
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #ddd;
  border-top: none;
}

.template-default #content .box-3 .link-list-block li a{
  border-right: none;
  border-top: 0px solid #64946E;
  border-radius: 0px 0px 0px 0px;
  padding: 6px 5px 8px 18px;
  width: auto;
  line-height: 17px;
  background-color: #fff;
  background-position: 0px 50%;
  color: #2C66CE;
  font-weight: normal;
  font-size: 14px;
}

.template-default #content .box-3 .link-list-block h3.empty + ul{
  border-top: 1px solid #ddd;
}

.template-default #content .box-3 .link-list-block li a.link-this-page,
.template-default #content .box-3 .link-list-block li a.link-this-page:hover{
  border-right: none;
}

.template-default #content .box-3 .link-list-block li a:hover{
  background-color: #FFFFFF;
  color: #000;
}

.template-default #content .box-3 .link-list-block li a.link-this-page{
  margin-left: 0px;
  width: auto;
  background-color: #ffffff;
  font-weight: bold;
}

/* Repository and Wiki blocks */

.template-default #content .box-3 .wiki-block,
.template-default #content .box-3 .repository-block{
  padding: 0 0 0 10px;
}

.template-default .box-3 #bt_wiki,
.template-default .box-3 #bt_repositorio {
  border-radius: 4px;
  padding: 12px 10px;
  background: #EAEBEE;
  color: #2C66CE;
  font: normal normal normal 12px 'open_sansbold', arial, helvetica, sans-serif;
  text-transform: uppercase;
  display: block;
  position: relative;
}

.template-default .box-3 #bt_wiki:hover,
.template-default .box-3 #bt_repositorio:hover {
  color:#172738;
}

.template-default .box-3 #bt_wiki::after,
.template-default .box-3 #bt_repositorio::after{
  margin-top: -2px;
  padding: 4px 0px 4px 2px;
  border-radius: 4px;
  width: 18px;
  right: 10px;
  line-height: 20px;
  position: absolute;
  background: #2C66CE;
  color: #FFF;
  font-size: 16px;
  text-align: center;
  content: url('../images/right-arrow.png');
}

.template-default .box-3 #content #bt_wiki:hover,
.template-default .box-3 #content #bt_repositorio:hover{
  color: #FFF;
  background: #2C66CE;
  text-decoration: none;
}
/*** END - WARNING - WHITOUT BOX-4 ***/

/*** end of right bar ***/

/************ DUPLICATE ************/

/*
    This part of the code is duplicated because, if there is
    a change of layout from template-default to lefttopright
    the CSS fit without many complication.
 */

/*** Right bar ***/

/*** WARNING - WITH BOX-4 ***/

/* Link-list block */
.template-lefttopright #content .box-2 .block-title {
  border-top: 4px solid #4562b1;
  line-height: 15px;
  background: #eee;
  color: #4562b1;
}

.template-lefttopright #content .box-2 .link-list-block li {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #ddd;
  border-top: none;
}

.template-lefttopright #content .box-2 .link-list-block li a {
  border-right: none;
  border-top: 0px solid #64946E;
  border-radius: 0px 0px 0px 0px;
  padding: 6px 5px 8px 18px;
  width: auto;
  line-height: 17px;
  background-color: #fff;
  background-position: 0px 50%;
  color: #2C66CE;
  font-weight: normal;
  font-size: 14px;
}

.template-lefttopright #content .box-2 .link-list-block h3.empty + ul {
  border-top: 1px solid #ddd;
}

.template-lefttopright #content .box-2 .link-list-block li a.link-this-page,
.template-lefttopright #content .box-2 .link-list-block li a.link-this-page:hover {
  border-right: none;
}

.template-lefttopright #content .box-2 .link-list-block li a:hover {
  background-color: #FFFFFF;
  color: #000;
}

.template-lefttopright #content .box-2 .link-list-block li a.link-this-page {
  margin-left: 0px;
  width: auto;
  background-color: #ffffff;
  font-weight: bold;
}

/* Repository block */

.template-lefttopright #content .box-2 .wiki-block,
.template-lefttopright #content .box-2 .repository-block{
  padding: 0 0 0 10px;
}

.template-lefttopright .box-2 #bt_wiki,
.template-lefttopright .box-2 #bt_repositorio {
  border-radius: 4px;
  padding: 12px 10px;
  background: #EAEBEE;
  color: #2C66CE;
  font: normal normal bold 12px 'open_sansbold', arial, helvetica, sans-serif;
  text-transform: uppercase;
  display: block;
  position: relative;
}

.template-lefttopright .box-2 #bt_wiki:hover,
.template-lefttopright .box-2 #bt_repositorio:hover {
  color:#172738;
}

.template-lefttopright .box-2 #bt_wiki::after,
.template-lefttopright .box-2 #bt_repositorio::after{
  width: 18px;
  position: absolute;
  right: 10px;
  margin-top: -2px;
  padding: 4px 0px 4px 2px;
  border-radius: 4px;
  background: #2C66CE;
  color: #FFF;
  font-size: 16px;
  line-height: 12px;
  text-align: center;
  content: url('../images/right-arrow.png');
}

.template-lefttopright .box-2 #content #bt_wiki:hover,
.template-lefttopright .box-2 #content #bt_repositorio:hover{
  color: #FFF;
  background: #2C66CE;
  text-decoration: none;
}

/*** WARNING - WITH BOX-4 ***/

/* Metrics Block */
.software-metrics-block {
  font-family: Arial;
  padding: 3px 0px 0px 10px;
}

.software-metrics-block .metrics-list {
  border-bottom: 1px dotted #D3D6DE;
}

.software-metrics-block .metrics-list li {
  display: table;
  margin-bottom: 8px;
}

.software-metrics-block .metrics-list li span {
  color: #2C66CE;
  display: table-cell;
  vertical-align: top;
}

.software-metrics-block .metrics-list li span#visit-count {
  padding-left: 1px;
}

.software-metrics-block .metrics-list li span#visit-count,
.software-metrics-block .metrics-list li span#downloads-count,
.software-metrics-block .metrics-list li span#benefited-people,
.software-metrics-block .metrics-list li span#saved-resources {
  padding-top: 4px;
}

.software-metrics-block li span.arrow-globe-icon {
  background: url('../images/arrow-globe-icon.png') no-repeat center center;
  width: 25px;
  height: 18px;
  padding-left: 9px !important;
}

.software-metrics-block span.downloads-icon {
  background: url('../images/downloads-icon.png') no-repeat center center;
  width: 25px;
  height: 18px;
}

.software-metrics-block span.face-icon {
  background: url('../images/beneficiados-icon.png') no-repeat center center;
  width: 25px;
  height: 20px;
}

.software-metrics-block span.pig-safe-icon {
  background: url('../images/economizados-icon.png') no-repeat center center;
  width: 25px;
  height: 20px;
}

.software-metrics-block .metrics-list li span {
  letter-spacing: -0.1px;
  line-height: 15px;
  padding-left: 5px;
}

.software-metrics-block .admin-estimation {
  font-size: 11px;
  line-height: 15px;
  margin-top: 7px;
  margin-left: 4px;
}

.software-metrics-block .metrics-list .saved-money {
  font-size: 14px;
}

/*** end of right bar ***/

/************ END DUPLICATE ************/


/*** Software internal pages ***/

/* FAQ page */

#content .main-block .article-body ul.etapas-publicacao {
  margin-bottom: 20px;
}

#content .main-block .article-body ul.etapas-publicacao li {
  margin-bottom: 10px;
  list-style: none;
  list-style-position: inside;
}

#content .main-block .article-body ul.etapas-publicacao li strong {
  margin-right: 6px;
  border-radius: 50%;
  padding: 1px 0 0 0;
  background: #333;
  height: 23px;
  width: 24px;
  color: #fff;
  text-align: center;
  float: left;
}

#content .main-block .article-body .etapas-publicacao-2 {
  font-weight: bold;
}

/* Tutorial page */

#content .main-block .article-body p strong {
  font-size: 16px;
}

#content .main-block .article-body .etapas-publicacao .etapas-publicacao-2 {
  display: table-cell;
}

#content .main-block .article-body .etapas-publicacao p {
    margin: 0px 0 0 31px;
}

/* Manual page */

#content .main-block #article .folder-content .item-info {
  border-top: 1px solid #ccc;
  padding: 30px 20px 32px 0px;
}

#content .main-block #article .folder-content .folder-item:last-child .item-info {
  border-bottom: 1px solid #ccc;
}

#content .main-block #article .folder-content .item-icon {
  margin: 2px 0px auto auto;
  padding: 45px 40px 4px 10px;
  border: 1px solid #2C66CE;
  border-radius: 4px;
  background: #2C66CE url("../images/history-mini_icon.png") center center no-repeat;
  display: block;
  float: left;
}

#content .main-block #article .folder-content .item-icon a {
  display: none;
}


#content .main-block #article .folder-content .item-description {
  margin-left: 65px;
  padding-left: 0px;
}

#content .main-block #article .folder-content .item-description a {
  color: #172938;
  font-size: 18px;
  font-family: Arial;
  font-weight: 700;
  word-wrap: break-word;
}

/* It's a Specific rule to the Google Chrome. */
@supports (-webkit-appearance:none) {
  #content .main-block #article .folder-content .item-description a {
    color: #172938;
    font-size: 18px;
    font-family: Arial;
    font-weight: 700;
    white-space: pre;
    word-wrap: break-word;
  }
}

#content .main-block #article .folder-content .item-date {
  margin-left: 65px;
  padding-left: 0px;
}

/*** end fo software internal pages ***/

/*** organization-rating review page (tasks of software) ***/

.task-list .task_boxes{
  font-family: Arial;
}

.task-list .task_boxes .task_box .task_date{
  position: absolute;
  left: 80px;
}

.task_boxes .task_box .task_title{
  position: absolute;
  left: 80px;
  font-weight: 500;
  margin-top: 10px;
}

.task_boxes .task_box .task_responsible{
  text-align: right;
}

.task_boxes .task_box .task_responsible span select{
  padding: 4px 15px 1px 4px;
}

.task_boxes .task_box .task_decisions{
  float: right;
  padding-right: 5px;
}

.task_boxes .task_box .task_information{
  margin-top: 40px;
}

.task_boxes .task_box .organization-rating-comment-body .aditional-informations .comments-people-benefited{
  float: left;
  font-weight: 900;
}

.task_boxes .task_box .organization-rating-comment-body .aditional-informations .comments-saved-value{
  font-weight: 900;
  margin-left: 160px;
}

.task_boxes .task_box .organization-rating-comment-body .aditional-informations{
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #CDCDCD;
  padding-bottom: 15px;
}

.task_boxes .task_box .organization-rating-comment-body .aditional-informations .comments-user-institution span span{
  font-weight: 900;
}

.task_boxes .task_box .organization-rating-comment-body .aditional-informations .comments-people-benefited span{
  font-weight: 100;
}

.task_boxes .task_box .organization-rating-comment-body .aditional-informations .comments-saved-value span{
  font-weight: 100;
}

.task_boxes .task_box .organization-rating-comment-body .task-comment span{
  font-weight: 600;
  color: rgb(140, 140, 140);
  font-size: 11px;
}

.task_boxes .task_box .organization-rating-comment-body .task-comment{
  margin-bottom: 15px;
}

.task_boxes .task_box .organization-rating-comment-body .task-comment span p{
  font-weight: 100;
  font-size: 12px;
  color: black;
  line-height: 16px;
}

.task_boxes .task_box .organization-rating-comment-body .task-comment{
  line-height: 25px;
}

.task_boxes .task_box .organization-rating-comment-body .rating-notice{
  display: block;
  color: #F11467;
  padding: 5px 5px;
  background: #ccc;
}

.task_boxes .task_box .organization-rating-comment-body .task-star-container{
  margin-bottom: 30px;
  margin-top: 10px;
}

.action-tasks-index .task_box{
  padding: 10px;
}

/*** end of organization-rating review page (tasks of software) ***/
