<div class="organization-rating-comment-body">
  <div class="task-comment">
    <%= _("Comment:")%>
    <%= "\"#{task.body}\""%>\
  </div>

  <% rating = OrganizationRating.find(task.organization_rating_id) %>
  <%= @plugins.dispatch(:organization_ratings_plugin_extra_fields_show_data, rating).collect{ |content| instance_exec(&content) }.join("") %>

  <span class="rating-notice"><%="* "+_("The rating score is not moderated")%></span>
  <div class="task-star-container">
    <% (1..5).each do |star_number| %>
      <% if star_number <= rating.value %>
        <div class="medium-star-positive"></div>
      <% else %>
        <div class="medium-star-negative"></div>
      <% end %>
    <% end %>
  </div>
</div>
