/*Footer*/

footer {
  background: none;
}

.colab-footer-content{
  background: rgb(213,213,213);
  font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
}

.colab-footer-links a{
  color:#2c66ce;
  font-size: 13px;
  line-height: 1.7em;
}

.colab-footer-links a:hover{
  background: none;
  text-decoration: underline;
}

.colab-footer-links{
  color:#2c66ce;
  border-left:1px dotted #2c66ce;
  margin-top: 50px;
  margin-bottom: 50px;
}

.colab-footer-links dt{
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3em;
  margin-bottom: 8px;
  font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
}

.colab-footer-links dd{
  padding-bottom: 3px
}

.footer-gov{
  background: #0042b2;
}

.footer-gov > .container{
  padding: 2em 0;
}

.footer-gov .institucionais a{
  display:table-cell;
  vertical-align: middle;
  float: right;
}

.footer-gov a:hover{
  text-decoration: none;
}

.footer-gov span{
  display: none;
}

.footer-gov .colab-logo-sgpr img, .logo-acesso img{
  padding-top: 10px;
  padding-right: 15%;
  padding-bottom: 10px;
}

.colab-logo-sgpr img, .spb-definitions {
    display: none;
}

.footer-gov .logo-brasil img{
  padding-right: 0;
}

.go-top{
  font-size: 13px;
  height: 2em;
}

.go-top a{
  color: #717782;
  line-height: 2em;
}

.go-top i {
  margin-right: 5px;
  text-decoration: none;
  font-size: 12px; 
}

.spb-definitions{
  font-size: 10px;
  padding: 10px 0;
}
