#header {
	font-size: 62.5%;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
	padding: 14px 0 0 0;
    background-color: #EAEDF0;
    color: #fff;
    min-width: 960px;
}

#header * {
    margin: 0;
    padding: 0;
    list-style: none;
}


#header a {
    text-decoration: none;
}

#header > div {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
    display: block;
}

#header * li {
    display: inline;
}

#accessibility {
	/*font-size: 1.1em;*/
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    float: left;
    width: 50%;
    margin-bottom: 18px;
}

#accessibility a {
    color: #2C65CD;
    margin-right: 9px;
}

#accessibility span {
    padding: 0 3px;
    background: #2C65CD;
    color: #fff;
}

#second-nav {
    float: right;
}

#portal-siteactions,
#portal-language {
    border-bottom: 1px dotted #2C65CD;
}

#portal-siteactions #siteaction-accessibility a {
	padding-left: 0;
}

#portal-siteactions {
    display: block;
    /*float: right;*/
    float: left;
    clear: none;
    padding-bottom: 2px;
    /*font-size: 1.1em;*/
    font-size: 1.3em;
}

#portal-siteactions a {
    padding: 4px 0 4px 17px;
}

#portal-siteactions a,
#login-menu a {
    text-decoration: none;
    text-transform: uppercase;
}

#portal-siteactions a,
#portal-siteactions a:hover,
#portal-language a,
#portal-language a:hover {
    color: #2C65CD;
}

#login-menu #user-menu a {
    position: relative;
    top: -6px;
}

#login-menu #user-menu .user img {
    width: 32px;
    height: 32px;
    border-radius: 90%;
}

#login-menu #user-menu .user .carret {
    vertical-align: middle;
}

#login-menu {
    float:right;
    display: block;
    clear: none;
    padding-bottom: 2px;
    font-size: 1.3em;
    padding-left: 17px;
}

#login-menu a {
    padding: 4px 0 4px 6px;
    font-weight: bold;
}

#login-menu-box {
    right: 0;
    left: auto;
}

#portal-searchbox {
    border: 1px solid #CCC;
    float: right;
    clear: right;
    margin: 18px 0 0 0;
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    text-align: right;
    font-size: 1em;
    color: #777;
}

#portal-searchbox form {
    white-space: nowrap;
}

.LSBox {
    margin: 0;
    padding: 0;
    border: none;
}

fieldset, .editionComment {
    line-height: 1.5em;
    margin: 1em 0;
    padding: 0 1em 1em;
    width: auto;
}

.hiddenStructure {
    display: block;
    background: transparent;
    background-image: none;
    border: none;
    height: 0.1em;
    overflow: hidden;
    padding: 0;
    margin: -0.1em 0 0 -0.1em;
    width: 1px;
}

#portal-searchbox label {
    font-weight: normal;
    cursor: default;
}

#portal-searchbox .searchField {
    padding: 0.3em 0.35em;
    width: 186px;
    border: none;
    border-right: none;
    /*font-size: 1.2em;*/
    font-size: 1.4em;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

#header input.searchButton {
    /*background-position: 0px 2px;*/
    background-position: 00 0;
    /*padding: 4px 5px 4px 15px;*/
    padding: 6px 5px 4px 15px;
    border: none;
    background-color: transparent;
    text-indent: -2000px;
}

#logo {
    float: left;
    padding: 0;
    width: 70%;
    min-height: 104px;
}

#logo span {
    position: absolute;
    display: block;
    /*line-height: 1em;*/
    line-height: 1.1em;
}

#logo a, #logo #portal-title {
    color: #2C65CD;
}

#portal-title {
	/*font-size: 4.0em;*/
    font-size: 4.2em;
	font-family: "open_sansextrabold", Arial, Helvetica, sans-serif;
	margin-top: 9px;
}

#portal-title-1,
#portal-description {
	font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

#portal-title-1 {
	/*font-size: 1.2em;*/
    font-size: 1.4em;
}

#portal-description {
	/*font-size: 1.4em;*/
    font-size: 1.6em;
}

#sobre {
    background: #D9DBDE;
    clear: both;
    margin: 0;
    padding: 7px 0;
    max-width: 100% !important;
    position: relative;
}

#sobre ul {
    margin: 0 auto;
    max-width: 960px;
    text-align: right;
}

#sobre a {
    color: #2C65CD;
    /*font-size: 1.2em;*/
    font-size: 1.4em;
}

#sobre .softwarepublico-item a {
    padding: 0 8px;
}

#sobre .softwarepublico-item .dropdown-menu {
    margin-top: 10px;
}


#sobre .softwarepublico-item .dropdown-menu:before {
      position: absolute;
      top: -7px;
      left: 20px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
}

#sobre .softwarepublico-item .dropdown-menu:after {
      position: absolute;
      top: -6px;
      left: 21px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #fff;
      border-left: 6px solid transparent;
      content: '';
}

#sobre .softwarepublico-item .dropdown-menu li {
    font-size: 0.65em;
    text-align: left;
    border-right: none;
}

#sobre .softwarepublico-item .dropdown-menu li a {
    border-bottom: 1px solid #EAEDF0;
    padding: 8px;
}


#sobre .softwarepublico-item a {
    border-right: 0;
    padding: 0 8px;
}

#sobre .softwarepublico-item li a:hover {
    background: #EAEDF0;
}

#sobre .last-item a {
    padding: 0 0 0 8px;
    border-right: none;
}

#social-icons {
    float: right;
    clear: right;
    margin: 13px 0 22px 0;
    display: none;
}

#social-icons a,
#header input.searchButton {
    background-image: url("../img/sprite.png");
}

#social-icons a {
    display: block;
    overflow: hidden;
    margin: 0 0 0 2px;
    width: 20px;
    height: 20px;
    border: none;
    text-indent: 100%;
    white-space: nowrap;
    opacity: .85;
    filter: alpha(opacity=85);
    border-radius: 4px;
}

#social-icons li {
    display: inline-block;
}

#portalredes-facebook a {
    background-position: -80px -25px;
}

#portalredes-googleplus a {
    background-position: -130px 0;
}

#portalredes-instagram a {
    background-position: 69px -49px;
}

#portalredes-twitter a {
    background-position: -155px -25px;
}

#portalredes-youtube a {
    background-position: -130px -25px;
}

#portalredes-soundcloud a {
    background-position: 20px 0;
}

#portalredes-slideshare a {
    background-position: 45px 0;
}

#portalredes-rss a {
    background-position: 145px -25px;
}
