<table class="mpog_search_form_table">
  <tr>
    <td>
      <input id="search-input" name="query" size="50" type="text" value="" title="<%= _('Type words about the community you are looking for') %>">
    </td>
  </tr>
</table>
