<div>
  <div id="catalog-list">
    <br>
    <ul>
      <% @category_filters.each do |filter_id| %>
        <li class="category_box"> <%= _(Category.find(filter_id).name) %>
        <span class="catalog-remove-item" data-id="<%= filter_id %>" >x</span>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="catalog-filter">
    <h4>
      <span><%= _("Categories filter") %>:</span>
      <%= text_field(:software, :catalog, :id=>"software-catalog", :placeholder=>_("Type a category name here")) %>
    </h4>
  </div>
</div>