<div class="formfieldline">
  <label class="formlabel" for="block_title">
    <%= _("Wiki link") %>
  </label>

  <div class="formfield type-text">
    <%= text_field_tag "block[wiki_link]", value=@block.wiki_link  %>
  </div>
</div>

