<div id='edit-softwares-block'>
  <%= labelled_form_field _('Limit of items'), text_field(:block, :limit, :size => 3) %>
  <%= labelled_form_field _('Software Type:'), select_tag('block[software_type]', options_for_select(["Public", "Generic", "All"], @block.software_type) )%>
</div>
