<div id='edit-softwares-block'>
  <%= labelled_form_field _('Benefited People'), text_field(:block, :benefited_people) %>
  <%= labelled_form_field _('Saved Resources'), text_field(:block, :saved_resources) %>
</div>

