<div id='edit-download-block'>

  <h3><%= _('Download options') %></h3>
  <div id ="droppable-list-downloads">
    <% @block.downloads.each do |download| %>
      <%= render :partial => 'download_list', :locals => {:download => download} %>
    <% end %>
  </div>

  <%= link_to_function _('New link'), 'softwareDownload.addNewDonwload(); return false', :class => 'button icon-add with-text download-new-link-button' %>
</div>
