<div id='edit-download-block'>

  <h3><%= _('Download options') %></h3>
  <ul id="droppable-list-downloads">
    <% @block.download_records.sort_by(&:id).each do |download| %>
      <%= render :partial => 'download_list_item', :locals => {:download => download} %>
    <% end %>
  </ul>

  <%= link_to_function _('New link'), 'softwareDownload.addNewDonwload(); return false', :class => 'button icon-add with-text download-new-link-button' %>

  <div id="download-list-item-template" style="display: none;">
    <%= render :partial => 'download_list_item' %>
  </div>
</div>
