<div id='edit-software-events-block' class='formfieldline'>
  <%= label_tag  'block_amount_of_events', _('Amount of events to display:') %>
  <span class='hint' title=" <%= _('This field must contain values bigger than 0') %>"> (?) </span>
  <div class='formfield'>
    <%= number_field_tag 'block[amount_of_events]', @block.amount_of_events, min: 1, max: 100 %>
  </div>
</div>

