<%= fields_for :database_description, @database_description do |db| %>

<div id='databases'>
  <% database = [] if database.blank? %>
	<% SoftwareCommunitiesPlugin::DatabaseHelper.database_as_tables(database).each do |tab| %>
	  <%= tab.call %>
	<%end%>
</div>

<div id='table_structure_databases' style="display:none"><%= SoftwareCommunitiesPlugin::DatabaseHelper.add_dynamic_table %></div>
<%= link_to _('New Database'), "#", :class=>"button icon-add with-text new-dynamic-table dynamic-databases"%>
<% end %>
