{% load i18n %}
{% load static from staticfiles %}

<footer>
  <div id="btn-top" class="container">
    <div class="pull-right go-top">
      <a id="link-top" href="#link-rodape">Voltar para o topo</a>
    </div>
  </div>
  <div id="footer" role="contentinfo">
    <a name="afooter" id="afooter"></a>
    <div id="doormat-container" class="columns-4">
      <div class ="doormatColumn column-0">
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">Navegação</dt>
          <dd class="doormatSectionBody">
            <a href="" onclick="return false;" class="external-link">Acessibilidade</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="" onclick="return false;" class="external-link">Mapa do site</a>
          </dd>
        </dl>
      </div>
    </div>
    <div class="clear"></div>
    <!-- <div id="footer-brasil" class="footer-logos">
      <div>
        <a href="http://www.acessoainformacao.gov.br/" class="logo-acesso">
          <img src="{% static 'img/acesso-a-informacao.png' %}" alt="Acesso a Informação"></a>
        <a href="http://www.brasil.gov.br/" class="logo-brasil">
          <img src="{% static 'img/brasil.png' %}" alt="Brasil - Governo Federal"></a>
      </div>
    </div> -->
 <div class="footer-logos">


      <div>

          <a href="http://www.acessoainformacao.gov.br/">
              <span class="logo-acesso-footer"></span>
          </a>


          <a href="http://www.brasil.gov.br/">
              <span class="logo-brasil-footer"></span>
          </a>


      </div>

  </div>
  </div>
  <div id="extra-footer">
    <p>
      Desenvolvido com os projetos de software livre
      <a href="http://github.com/colab/colab">Colab</a> e
      <a href="http://noosfero.org">Noosfero</a>
    </p>
  </div>
</footer>
