<div id="mais-software-block">
  <div id="sbp-information-softwares">

  <h2>Veja mais Software</h2>
    <ul>
      <li><a href="#">Mais baixados</a></li>
      <li><a href="#">Melhores notas</a></li>
      <li><a href="#">Atualizados recentemente</a></li>
      <li><a href="#">Novos no Portal</a></li>
    </ul>
  </div>

  <div id="list-categories">
    <p><%= _("Categories:") %></p>
    <ul class="categories-mais-software">

      <% Category.where(:name => "Software").first.children.each do |category| %>
        <li><%= link_to category.name + " (#{category.software_infos.count})", {:controller => :search, :action => :software_infos, :filter => category.id} %></li>
      <% end %>
    </ul>
  </div>
</div>