/*Footer*/

footer #btn-top {
    min-width: 960px;
    max-width: 960px;
    padding-right: 0px;
    margin-bottom: 22px;
    text-decoration: none;
    font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
}

footer #btn-top a {
    padding-left: 20px;
    background: url("../img/voltar-topo.png") no-repeat left center;
    color: #777;
    font-size: 14px;
}

footer #footer {
    padding: 4px 0 20px 0;
    min-height: 50px;
    width: 100%;
    background: #EAEDF0;
    color: #fff;
    font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
    min-width: 960px;
}


footer #footer > div {
    margin: 2em auto;
    padding-top: 1em;
    max-width: 960px;
}

footer #doormat-container {
    float: none;
    width: 100%;
}

footer #doormat-container dl {
    border-left: 1px dotted #9CB5E2;
    margin: 0 0 18px 0;
    font-size: 13px;
}

footer #doormat-container dt {
    color: #2C65CD;
    font-size: 18px;
    font-family: "open_sansbold", Arial, Helvetica, sans-serif;
}

footer #doormat-container dtfooter ,
footer #doormat-container dd {
    padding-left: 10px;
    margin-bottom: 4px;
}

footer #doormat-container dd a {
    color: #2C65CD;
}

footer #doormat-container dd a:hover {
    text-decoration: none;
}

footer #doormat-container.columns-4 .doormatColumn {
    width: 21%;
}

footer #doormat-container .doormatColumn {
    float: left;
    margin: 0 1.1em 0 0.8em;
    text-align: left;
}


footer #footer .footer-logos {
    margin: 0 0 -20px;
    padding: 1.6em 0;
    max-width: 100%;
    background: #0041B1;
}

footer #extra-footer p {
    margin: 1em auto;
    max-width: 960px;
    font-size: 12px;
}

footer #extra-footer a {
    color: #2C65CD;
}

footer #footer .clear {
    clear: both;
}


footer .go-top a{
  color: #717782;
  line-height: 2em;
}

footer .go-top i {
  margin-right: 5px;
  text-decoration: none;
  font-size: 12px;
}

html footer div#wrapper-footer-brasil {
    padding: 0;
}
