<div class="aditional-informations">
  <div class="comments-people-benefited">
    <span><%=_("Benefited People")%> :</span> <%= user_rating.people_benefited unless user_rating.nil? %>
  </div>

  <div class="comments-saved-value">
    <span><%=_("Saved Resources")%> :</span> <%= user_rating.saved_value unless user_rating.nil? %>
  </div>
</div>

