{% load i18n %}
{% load static from staticfiles %}

<footer>
  <div id="btn-top" class="container">
    <div class="pull-right go-top">
      <a id="link-top" href="#link-rodape">Voltar para o topo</a>
    </div>
  </div>
  <div id="footer" role="contentinfo">
    <a name="afooter" id="afooter"></a>
    <div id="doormat-container" class="columns-4">
      <div class="doormatColumn column-0">
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">Assuntos</dt>
          <dd class="doormatSectionBody">
            <a href="/social/spb/publique-seu-software" class="external-link">Publique seu software</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="http://antigo.softwarepublico.gov.br/mpv/" class="external-link">Prestadores de serviço</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="http://antigo.softwarepublico.gov.br/4cmbr/xowiki/Principal" class="external-link">Espaços dos municípios</a>
          </dd>
        </dl>
      </div>
      <div class="doormatColumn column-1">
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">Software Público</dt>
          <dd class="doormatSectionBody">
            <a href="/social/spb/entenda-o-que-e" class="external-link">Entenda o que é</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="/social/profile/spb/events" class="external-link">Eventos</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="/social/spb/premios" class="external-link">Prêmios</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="/social/spb/publicacoes" class="external-link">Publicações</a>
          </dd>
        </dl>
      </div>
      <div class="doormatColumn column-2">
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">Serviços</dt>
          <dd class="doormatSectionBody">
            <a href="/social/spb/ajuda#faq" class="external-link">FAQ</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="/social/spb/contato" class="external-link">Contato</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="/archives/thread/spb-usuarios/relatar-erros#msg-1635" class="external-link">Relatar erros</a>
          </dd>
        </dl>
      </div>
      <div class="doormatColumn column-3">
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">RSS</dt>
          <dd class="doormatSectionBody">
            <a href="/social/spb/rss/o-que-e" class="external-link">O que é?</a>    
          </dd>
          <dd class="doormatSectionBody">
            <a href="/rss/colab/latest" class="external-link">Assine</a>
          </dd>
        </dl>
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">Navegação</dt>
          <dd class="doormatSectionBody">
            <a href="/social/spb/acessibilidade" class="external-link">Acessibilidade</a>  
          </dd>
          <dd class="doormatSectionBody">
            <a href="/social/spb/mapa-do-site" class="external-link">Mapa do site</a>
          </dd>
        </dl>
      </div>
    </div>
    <div class="clear"></div>
    <div id="footer-brasil" class="footer-logos">
      <div>
        <a href="http://www.acessoainformacao.gov.br/" class="logo-acesso">
          <img src="{% static 'img/acesso-a-informacao.png' %}" alt="Acesso a Informação"></a>
        <a href="http://www.brasil.gov.br/" class="logo-brasil">
          <img src="{% static 'img/brasil.png' %}" alt="Brasil - Governo Federal"></a>
      </div>
    </div>
  </div>
  <div id="extra-footer">
    <p>
      Desenvolvido com os projetos de software livre
      <a href="http://github.com/colab/colab">Colab</a>,
      <a href="http://gitlab.com">Gitlab</a>,
      <a href="http://www.gnu.org/software/mailman/">Mailman</a> e
      <a href="http://noosfero.org">Noosfero</a>
    </p>
  </div>
</footer>
