Host *
  ForwardAgent yes

Host reverseproxy
  Hostname 10.10.40.49
  Port 55555
  ProxyCommand ssh 164.41.9.49 -p %p nc %h 22

Host reverseproxy.unconfigured
  Hostname 164.41.9.49

Host integration
  Hostname 164.41.9.49

Host database
  Hostname 10.10.40.47
  # connect via reverseproxy host
  ProxyCommand ssh 164.41.9.49 -p %p nc %h 22

Host social
  Hostname 10.10.40.46
  # connect via reverseproxy host
  ProxyCommand ssh 164.41.9.49 -p %p nc %h 22

Host email
  Hostname 10.10.40.48
  # connect via reverseproxy host
  ProxyCommand ssh 164.41.9.49 -p %p nc %h 22
