<div class="software-step-info">
  <ul>
    <li><span class= <%= class_step_one %> >1</span><%= _("Software Creation") %></li>
    <li><span class= <%= class_step_two %> >2</span><%= _("Community Settings") %></li>
  </ul>
</div>
