{% load i18n browserid conversejs gravatar %}
{% load static from staticfiles %}

<footer>
<div class="row">
  <div class="container">
    <div class="pull-right go-top">
      <a id="link-top" href="#link-rodape"><i class="icon-chevron-up"></i>{% trans "Back to top" %}</a>
    </div>
  </div><!-- end go-top -->
  <div class="col-lg-12 footer-content">
    <div class="container">
      <div class="row">
        <dl class="col-md-3 footer-links">
          <dt>{% trans "Topics" %}</dt>
          <dd><a href="http://www.softwarepublico.gov.br/O_que_e_o_SPB" title="SPB">{% trans "SPB" %}</a></dd>
          <dd><a href="http://pagina.softwarepublico.gov.br/sisp" title="SISP-SPB">{% trans "SISP-SPB" %}</a></dd>
          <dd><a href="http://www.softwarepublico.gov.br/5cqualibr/avaliaspb/wiki/Sobre" title="AvaliaSPB">{% trans "AvaliaSPB" %}</a></dd>
          <dd><a href="http://www.softwarepublico.gov.br/4cmbr/xowiki/Principal" title="4CMBr">{% trans "4CMBr" %}</a></dd>
          <dd><a href="http://www.softwarepublico.gov.br/5cqualibr/xowiki/" title="5cQualiBr" href="#">{% trans "5cQualiBr" %}</a></dd>
        </dl>
        <dl class="col-md-3 footer-links">
          <dt>{% trans "Services" %}</dt>
            <dd class="portalservicos-item">
                <a title="Perguntas frequentes" href="#">{% trans "Frequently Asked Questions" %}</a>
            </dd>
            <dd class="portalservicos-item">
                <a title="Contato" href="#">{% trans "Contact" %}</a>
            </dd>
            <dd class="portalservicos-item">
                <a title="Serviços da [Denominação]" href="#">{% trans " [Denomination's] services" %}</a>
            </dd>
            <dd class="portalservicos-item">
                <a title="Dados abertos" href="#">{% trans "Open data" %}</a>
            </dd>
            <dd class="portalservicos-item">
                <a title="Área de imprensa" href="#">{% trans "Press area" %}</a>
            </dd>
        </dl>
        <dl class="col-md-3 footer-links">
          <dt>RSS</dt>
            <dd><a href="#" title="O que é?">{% trans "What is it?" %}</a></dd>
            <dd><a href="#" title="Assine">{% trans "Subscribe" %}</a></dd>
        </dl>
        <dl class="col-md-3 footer-links">
          <dt>{% trans "Navigation" %}</dt>
            <dd><a href="#">{% trans "Accessibility" %}</a></dd>
            <dd><a href="#">{% trans "Site map" %}</a></dd>
            <dd><a href="#">Versión en Español</a></dd>
            <dd><a href="#">Versão em Português</a></dd>
            <dd><a href="#">English version</a></dd>
        </dl>
      </div>
    </div>
  </div><!-- end footer-content -->
  <div class="row footer-gov">
    <div class="container">
      <div class="col-md-7">
        <a class="logo-acesso" href="http://www.acessoainformacao.gov.br/" target="_blank"><img class="img-responsive pull-left" src="{% static 'img/acesso-a-informacao.png' %}" ><span>{% trans "Information access" %}</span></a>
      </div>
      <div class="col-md-5 institucionais">
        <a class="logo-sgpr" href="http://www.secretariageral.gov.br/" target="_blank"><img class="img-responsive" src="{% static 'img/sgpr.png' %}" ><span>{% trans "Republic Presidency General Secretary" %}<a class="logo-brasil" href="http://www.brasil.gov.br/" target="_blank"><img class="img-responsive" src="{% static 'img/brasil.png' %}" ><span>{% trans "Brazil - Federal Government" %}</span></a>
      </div>
    </div>
  </div><!-- end footer-gov -->
  <div class="row spb-definitions">
    <div class="container">
      <div id="about-pspb">{% trans "This is a BETA version and it's hosted at University of Brasilia" %}</div>
      <div id="about-noosfero">{% trans "This site makes use of the social network platform" %} <a href="http://noosfero.org/">Noosfero</a>, {% trans "licensed under" %} <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a> {% trans "version 3 or above" %}.
      </div>
    </div>
  </div><!-- end spb-definitions -->
</footer>
