{% load i18n %}
{% load static from staticfiles %}

<footer>
  <div class="container">
    <div class="pull-right go-top">
      <a id="link-top" href="#link-rodape"><i class="fa fa-chevron-up"></i>Voltar ao topo</a>
    </div>
  </div>
  <div id="footer" role="contentinfo">
    <a name="afooter" id="afooter"></a>
    <div id="doormat-container" class="columns-4">
      <div class="doormatColumn column-0">
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">Assuntos</dt>
          <dd class="doormatSectionBody">
            <a href="/cidadao/" class="external-link">Cidadão</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="/fornecedor/" class="external-link">Fornecedor</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="/governo/" class="external-link">Governo</a>
          </dd>
        </dl>
      </div>
      <div class="doormatColumn column-1">
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">Serviços</dt>
          <dd class="doormatSectionBody">
            <a href="/paginas/servicos-faq/perguntas-e-respostas-frequentes" class="external-link">Perguntas frequentes</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="/servicos/contato" class="external-link">Contato</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="https://www.comprasnet.gov.br/seguro/loginPortal.asp" class="external-link">Acesso ao SIASG</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="https://www3.comprasnet.gov.br/SICAFWeb/public/pages/default.jsf" class="external-link">Acesso ao SICAF</a>
          </dd>
        </dl>
      </div>
      <div class="doormatColumn column-2">
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">Redes sociais</dt>
          <dd class="doormatSectionBody">
            <a href="https://twitter.com/twitter" class="external-link">Twitter</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="http://youtube.com/youtube" class="external-link">YouTube</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="http://www.facebook.com/facebook" class="external-link">Facebook</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="http://flickr.com/flickr" class="external-link">Flickr</a>
          </dd>
        </dl>
      </div>
      <div class="doormatColumn column-3">
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">RSS</dt>
          <dd class="doormatSectionBody">
            <a href="http://www.comprasgovernamentais.gov.br/rss/o-que-e" class="external-link">O que é?</a>    
          </dd>
        </dl>
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">Sobre o site</dt>
          <dd class="doormatSectionBody">
            <a href="http://www.comprasgovernamentais.gov.br/acessibilidade" class="external-link">Acessibilidade</a>  
          </dd>
          <dd class="doormatSectionBody">
            <a href="http://www.comprasgovernamentais.gov.br/mapadosite" class="external-link">Mapa do site</a>
          </dd>
        </dl>
      </div>
    </div>
    <div class="clear"></div>
    <div id="footer-brasil" class="footer-logos">
      <div>
        <a href="http://www.acessoainformacao.gov.br/" class="logo-acesso">
          <img src="{% static 'img/acesso-a-informacao.png' %}" alt="Acesso a Informação"></a>
        <a href="http://www.brasil.gov.br/" class="logo-brasil">
          <img src="{% static 'img/brasil.png' %}" alt="Brasil - Governo Federal"></a>
      </div>
    </div>
  </div>
  <div id="extra-footer">
    <p>
      Desenvolvido com o CMS de código aberto
    <a href="#"></a>
    </p>
  </div>
</footer>
