Host *
  ForwardAgent yes

Host reverseproxy.unconfigured
  Hostname 189.9.151.16
  User spb

Host reverseproxy
  Hostname 10.18.0.15
  User spb
  Port 55555
  ProxyCommand ssh spb@189.9.151.16 -p 22 nc %h %p

Host database
  Hostname 10.18.0.16
  User spb
  # connect via reverseproxy host
  ProxyCommand ssh spb@189.9.151.16 nc %h %p

Host social
  Hostname 10.18.0.17
  User spb
  # connect via reverseproxy host
  ProxyCommand ssh spb@189.9.151.16 nc %h %p

Host email
  Hostname 10.18.0.18
  User spb
  # connect via reverseproxy host
  ProxyCommand ssh spb@189.9.151.16 nc %h %p

Host mezuro
  Hostname 10.18.0.20
  User spb
  # connect via reverseproxy host
  ProxyCommand ssh spb@189.9.151.16 nc %h %p

Host integration
  Hostname 189.9.151.16
  User spb
  # Porta 22 de 189.9.151.16 cai aqui entao nao precisa de ProxyCommand
