<div class="software-step-info">
  <div class= <%= class_step_one %> >
    <h3><%= _("Step 1 - Software Creation")%></h3>
  </div>

  <div class= <%= class_step_two %> >
    <h3><%= _("Step 2 - Community Settings")%></h3>
  </div>
</div>
